.warp {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em 0.75rem;
}
.warp .sec-title {
  margin-top: 2em;
  margin-bottom: 50px;
}
.warp .sec-title.white {
  color: #fff;
}
.warp .sec-title h2 {
  font-size: 36px;
  margin: 0 0 30px;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}
.warp .sec-title.white h2 {
  color: #fff;
}
.warp .sec-title h2:after {
  border-bottom: 1px solid #009ee3;
  content: " ";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}
.warp .sec-title.white h2:after {
  border-bottom: 1px solid #fff;
}
.nopadding {
  padding: 0 !important;
}
figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  max-height: 360px;
}
figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
}
figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}
figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;
}
figure h2 span {
  font-weight: 800;
  margin: 0;
}
figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-lexi {
  background: -webkit-linear-gradient(-45deg, #000000 0%, #ffffff 100%);
  background: -webkit-linear-gradient(135deg, #000000 0%, #ffffff 100%);
  background: linear-gradient(-45deg, #000000 0%, #ffffff 100%);
}
figure.effect-lexi img {
  margin: -10px 0 0 -10px;
  max-width: none;
  width: calc(110%);
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(10px, 10px, 0);
  transform: translate3d(10px, 10px, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-lexi figcaption::before,
figure.effect-lexi p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-lexi figcaption::before {
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
  content: '';
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
}
figure.effect-lexi:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-lexi h2 {
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
figure.effect-lexi p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 1.5em 0;
  width: 140px;
  text-align: right;
  opacity: 0;
  -webkit-transform: translate3d(20px, 20px, 0);
  transform: translate3d(20px, 20px, 0);
}
figure.effect-lexi:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
