a {
  color: #353535;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3dc9b3;
  text-decoration: none;
}
p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}
h2 {
  font-size: 15px;
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
}
h2::after {
  content: " ";
  border: solid 2px #3dc9b3;
  display: block;
  width: 35px;
  margin: 25px auto;
}
.section-padding {
  padding: 90px 0 100px;
}
.hero {
  background: url('../../assets/img/joo-0017-hero-bg.jpg') no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  vertical-align: middle;
}
.hero h1 {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 10px;
}
.hero h1 span {
  color: #a1a9b0;
  display: inline-block;
}
.hero p {
  letter-spacing: 1px;
}
.learn-more-btn {
  background: #3dc9b3;
  padding: 20px 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: 0px 3px 0px 0px #309383;
  margin: 60px 0 0;
  font-weight: bold;
}
.learn-more-btn:hover,
.learn-more-btn:focus {
  background: rgba(61, 201, 179, 0.6);
  color: #fff;
}
.navgation {
  padding-top: 2em;
}
.navgation a {
  padding: 0 10px;
  line-height: 1.5em;
}
.navgation a.active {
  color: #3dc9b3;
}
.content {
  padding-top: 5em;
}
