.this {
    text-align: center;
    margin-bottom: 3em;
    padding: 3em 0;
    background-color: rgba(0, 0, 0, 0.5);

    h2 {
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 0.25em;
        line-height: 1.5;
        margin: 0 0 1.5em 0;
        text-transform: uppercase;
        font-size: 1.25em;
        margin-bottom: 1.5em;
    }
    p {
        color: #ffffff;
        font-size: 0.9em;
        letter-spacing: 0.25em;
        line-height: 2;
        margin-top: 0;
        position: relative;
        text-transform: uppercase;
    }
    .button {
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        display: inline-block;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: inset 0 0 0 1px #ffffff;
        color: #ffffff;
        cursor: pointer;
        font-size: 0.75em;
        font-weight: 700;
        height: 4.25em;
        letter-spacing: 0.25em;
        line-height: 4.35em;
        padding: 0 2.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-appearance: none;

        &:hover {
        	background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .dirver {
        font-size: 12px;
        height: 2px;
        border: none;
        background-color: #e6e6e6;
        margin: 0 auto;
        margin-bottom: 1.5em;
        max-width: 5em;
    }
}
