<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <stl:include file="@/include/sub-banner.html" />
    <div class="h40"></div>
    <div class="PrivacyClause">
        <stl:contents channelIndex="关于我们"><stl:content type="Content"></stl:content></stl:contents>
    </div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
</body>

</html>
