<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <section class="m2ban" style="background-image:url({Channel.ImageUrl})">
        <div class="m2banTxt">
            <div class="m2ban_p3">连通世界200多个国家/覆盖超过700多个运营商</div>
            <div class="m2ban_p4">高品质国际短信发送服务</div>
            <a class="m2ban_link1" href="#test-international-sms">立即免费测试</a>
        </div>
    </section>
    <section class="m2yyCon1">
        <div class="m2yyC1_t1">为什么要用国际验证码</div>
        <div class="container">
            <ul class="row m2ll_u1 m2ll_u1a clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon1a.jpg">
                        <strong>开拓市场</strong>
                        <p>国际短信，再次激活17%海外用户群</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon2a.jpg">
                        <strong>提升用户体验</strong>
                        <p>不管您的用户身在何地，均能使用企业提供的服务</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon3a.jpg">
                        <strong>提升品牌知名度</strong>
                        <p>为您的企业提升品牌知名度，让业务遍布全球</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="m2llCon2">
        <div class="container">
            <div class="m2yyC1_t1">产品优势</div>
            <ul class="m2lp_u1 clearfix">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon1.png" width="118" height="118">
                        <strong>覆盖广</strong>
                        <p>连通世界200多个国家/覆盖超过700多个运营商</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon2.png" width="118" height="118">
                        <strong>到达率高</strong>
                        <p>支持大容量、高并发电信级运维保障，实时监控自动切换</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon3.png" width="118" height="118">
                        <strong>通道直联</strong>
                        <p>直连国际短信运营商通道，质量、到达率有保障</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon4.png" width="118" height="118">
                        <strong>接入简单</strong>
                        <p>通用版本的WEBSERVICE的国际短信API接口，只需要简单的参数对接</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <section class="m2yyCon3">
        <div class="container">
            <div class="m2yyC1_t1">接入简单 文档完善</div>
            <div class="m2lp_box2 clearfix">
                <div class="m2lp_imgBox"><img src="{Stl.SiteUrl}/images/m2lp_img.jpg" width="453" height="216"></div>
                <div class="m2lp_st1">支持多种短信接口 HTTP\HTTPS\CMPP 等</div>
                <div class="m2lp_st2">仅需少量开发，就快速接入您的日常业务</div>
                <div class="m2lp_dsc">
                    提供完备状态查询，支持状态接口推送
                    <br> 详尽的在线接口文档，随时查阅，不断更新
                    <br> 标准HTTP接口，提供多种语言示例（PHP/JAVA/C#/NODE/PYTHON等）
                    <br> 支持多种返回格式JSON/XML
                </div>
                 <stl:a channelName="短信接口" class="m2lp_btn">查看国际短信接口文档</stl:a>
            </div>
        </div>
    </section>
    <section class="m2yyCon2 m2cxCon2">
        <div class="container">
            <div class="m2yyC1_t1">使用场景</div>
            <ul class="m2lp_u2 autoImg">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">英文</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg1.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">韩文</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg2.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">繁体中文</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg3.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">德文</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg3.jpg" width="287" height="389">
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon3">
        <div class="m2yyC1_t1">接入流程</div>
        <div class="m2lcBox m2lcBox2 autoMaxImg">
            <div class="dsPcPad"><img src="{Stl.SiteUrl}/images/m2lc_img3.jpg"></div>
            <div class="dsPhone"><img src="{Stl.SiteUrl}/images/m2lc_img3a.jpg"></div>
        </div>
         <stl:a channelName="国际短信接口" class="m2yyBtn">查看国际短信接口文档</stl:a>
        <div class="h80"></div>
    </section>
    <stl:include file="@/include/test-international-sms.html" /> 
    <stl:include file="@/include/other-case.html" />
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/sub-js.html" />
    <stl:include file="@/include/test-js.html" />
</body>

</html>

