<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <stl:include file="@/include/sub-banner.html" />
    <div class="container m2newsBox">
        <ul class="m2helpList">
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>新手指南</dt>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                    <dd><a class="m2help_a" href="#">· 隐私政策</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>短信服务</dt>
                    <dd><a class="m2help_a" href="#">· 发送须知</a></dd>
                    <dd><a class="m2help_a" href="#">· 内容审核</a></dd>
                    <dd><a class="m2help_a" href="#">· 开始发送</a></dd>
                    <dd><a class="m2help_a" href="#">· 内容自测</a></dd>
                    <dd><a class="m2help_a" href="#">· 批量提交</a></dd>
                    <dd><a class="m2help_a" href="#">· 定时发送</a></dd>
                    <dd><a class="m2help_a" href="#">· 其他功能</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>彩信服务</dt>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                    <dd><a class="m2help_a" href="#">· 隐私政策</a></dd>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>语音验证服务</dt>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                    <dd><a class="m2help_a" href="#">· 隐私政策</a></dd>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>流量服务</dt>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                    <dd><a class="m2help_a" href="#">· 隐私政策</a></dd>
                    <dd><a class="m2help_a" href="#">· 账号相关</a></dd>
                    <dd><a class="m2help_a" href="#">· 合作流程</a></dd>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>关于我们</dt>
                    <dd><a class="m2help_a" href="#">· 关于我们</a></dd>
                    <dd><a class="m2help_a" href="#">· 加入我们</a></dd>
                    <dd><a class="m2help_a" href="#">· 联系我们</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>服务协议</dt>
                    <dd><a class="m2help_a" href="#">· 服务协议</a></dd>
                </dl>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <dl class="m2helpDl">
                    <dt>常见问题</dt>
                    <dd><a class="m2help_a" href="#">· 常见问题</a></dd>
                    <dd><a class="m2help_a" href="#">· FAQ</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
</body>

</html>
