<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <section class="m2ban" style="background-image:url({Channel.ImageUrl})">
        <div class="m2banTxt">
            <div class="m2ban_p3">拉近您与用户的距离，操作简便，已为数千家企业</div>
            <div class="m2ban_p4">提供流量营销服务</div>
            <stl:a target="_blank" channelIndex="流量平台" class="m2ban_link1">登 录</stl:a>
        </div>
    </section>
    <section class="m2yyCon1">
        <div class="m2yyC1_t1">为什么使用流量产品</div>
        <div class="container">
            <ul class="row m2ll_u1 clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon1.jpg">
                        <strong>拉新引客</strong>
                        <p>秒杀送，抽奖送，问卷送，分享送，关注送，预定送，到店送，消费送， 名片送，会员送</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon2.jpg">
                        <strong>提高转化率</strong>
                        <p>提升会员用户活跃度，刺激交易转化率，让营销推广手段不再匮乏。会员分享，签到积分，分享积分，阅读积分</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon3.jpg">
                        <strong>多平台营销</strong>
                        <p>满足APP、游戏、电商、O2O等行业营销推广需求，参与活动即送手机流量充值</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon2">
        <div class="container">
            <div class="m2yyC1_t1">产品优势</div>
            <ul class="m2ll_u2 clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx2 clearfix">
                        <span class="fl"><img src="{Stl.SiteUrl}/images/m2ll_sicon1.jpg" width="118" height="118"></span>
                        <div class="m2ll_des">
                            <strong>全网覆盖</strong>
                            <p>融合电信、移动、联通三网流量，打破运营商限制。并且流量使用不受地域限制，支持全国漫游</p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx2 clearfix">
                        <span class="fl"><img src="{Stl.SiteUrl}/images/m2ll_sicon2.jpg" width="118" height="118"></span>
                        <div class="m2ll_des">
                            <strong>操作简单</strong>
                            <p>营销活动模板化，自带营销活动生成工具，简单配置，轻松推广</p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx2 clearfix">
                        <span class="fl"><img src="{Stl.SiteUrl}/images/m2ll_sicon3.jpg" width="118" height="118"></span>
                        <div class="m2ll_des">
                            <strong>全网覆盖</strong>
                            <p>低成本投入，活动转化率高。流量包推广模式已经成为重要推广手段</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="m2ll_u3 clearfix">
                <li class="col-xs-6 col-sm-3 col-md-3">
                    <strong><span>99</span>%</strong>
                    <p>充值成功率</p>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-3">
                    <strong><span>5</span>分钟</strong>
                    <p>充值到账</p>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-3">
                    <strong><span>30</span>分钟</strong>
                    <p>极速接入</p>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-3">
                    <strong><span>30</span>万／秒</strong>
                    <p>充值并发</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon2 bg-white">
        <div class="container">
            <div class="m2yyC1_t1">使用场景</div>
            <ul class="m2lp_u2 autoImg">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <img src="{Stl.SiteUrl}/images/ll-1.png" width="287">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <img src="{Stl.SiteUrl}/images/ll-2.png" width="287">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <img src="{Stl.SiteUrl}/images/ll-3.png" width="287">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <img src="{Stl.SiteUrl}/images/ll-4.png" width="287">
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon3 bg-grey">
        <div class="m2yyC1_t1">接入流程</div>
        <div class="m2lcBox m2lcBox2 autoMaxImg">
            <div class="dsPcPad"><img src="{Stl.SiteUrl}/assets/img/flowa.png"></div>
            <div class="dsPhone"><img src="{Stl.SiteUrl}/assets/img/flowb.png"></div>
        </div>
        <stl:a channelName="流量接口" class="m2yyBtn">查看流量接口文档</stl:a>
        <div class="h80"></div>
    </section>
    <stl:include file="@/include/other-case.html" />
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/sub-js.html" />
</body>

</html>
