.header {
  padding: 6em 0 6em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-image: url("../../assets/img/overlay2.png"), url("../../assets/img/overlay3.svg"), -webkit-linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-image: url("../../assets/img/overlay2.png"), url("../../assets/img/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.header .inner {
  -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
          transition: transform 1.5s ease, opacity 2s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 1;
}
.header .icon.major {
  text-decoration: none;
  color: #555;
  cursor: default;
  display: inline-block;
  margin: 0 0 1.5em 0;
}
.header .icon.major:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  font-size: 4em;
  line-height: 1em;
}
.header .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.header .icon.major {
  color: #ffffff;
}
.header h1 {
  margin: 0;
  color: #fff;
  font-size: 2.25em;
  line-height: 1.35em;
}
.header p {
  margin: 1em 0 0 0;
}
.header .button {
  position: relative;
  display: block;
  margin: 2em auto;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.125em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
  border: solid 1px #fff;
}
.header .button:after {
  background: #ffffff;
  content: '';
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}
.header .button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.header:after {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  background-image: -webkit-linear-gradient(45deg, #4fa49a, #4361c2);
  background-image: linear-gradient(45deg, #4fa49a, #4361c2);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
