.warp {
  background: rgba(0, 0, 0, 0.8);
  padding: 2em 0.75rem;
}
.warp .sec-title {
  margin-top: 2em;
  margin-bottom: 50px;
}
.warp .sec-title.white {
  color: #fff;
}
.warp .sec-title h2 {
  font-size: 36px;
  margin: 0 0 30px;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}
.warp .sec-title.white h2 {
  color: #fff;
}
.warp .sec-title h2:after {
  border-bottom: 1px solid #009ee3;
  content: " ";
  display: block;
  left: 45%;
  bottom: 0;
  position: absolute;
  width: 115px;
}
.warp .sec-title.white h2:after {
  border-bottom: 1px solid #fff;
}
.nopadding {
  padding: 0 !important;
}
figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  max-height: 360px;
}
figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
}
figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}
figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;
}
figure h2 span {
  font-weight: 800;
  margin: 0;
}
figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-hera {
  background: #303fa9;
}
figure.effect-hera h2 {
  font-size: 158.75%;
}
figure.effect-hera h2,
figure.effect-hera p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
}
figure.effect-hera figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
}
figure.effect-hera p {
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2;
}
figure.effect-hera p a {
  color: #fff;
}
figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
  opacity: 0.6;
}
figure.effect-hera p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-hera p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0);
}
figure.effect-hera p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0);
}
figure.effect-hera p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0);
}
figure.effect-hera p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0);
}
figure.effect-hera:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}
figure.effect-hera:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
figure.effect-hera:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* just because it's stronger than nth-child */
  opacity: 1;
}
