@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}
body {
  background: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65em;
  color: #444;
}
.this *,
.this *:after,
.this *:before {
  box-sizing: border-box;
}
.this input,
.this select,
.this textarea {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65em;
}
.this a {
  -webkit-transition: border-bottom-color 0.2s ease-in-out;
          transition: border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: transparent;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1.5em 0;
  padding-bottom: 1.25em;
  position: relative;
  text-transform: uppercase;
}
.this h1:after,
.this h2:after,
.this h3:after,
.this h4:after {
  border-bottom: solid 1px;
  bottom: 0;
  content: '';
  display: inline-block;
  left: 0;
  position: absolute;
  width: 3rem;
}
.this h1 a,
.this h2 a,
.this h3 a,
.this h4 a {
  border-bottom: 0;
  color: inherit;
  text-decoration: none;
}
.this h1.alt,
.this h2.alt,
.this h3.alt,
.this h4.alt {
  margin: 0 0 1em 0;
  padding-bottom: 0;
}
.this h1.alt:after,
.this h2.alt:after,
.this h3.alt:after,
.this h4.alt:after {
  display: none;
}
.this h2 {
  font-size: 1.25em;
  line-height: 1.25em;
}
.this h3 {
  font-size: 1em;
  line-height: 1.5em;
}
.this h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.this hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2em 0;
}
.this hr.major {
  margin: 3em 0;
}
.this input,
.this select,
.this textarea {
  color: #444;
}
.this a {
  color: #444;
}
.this strong,
.this b {
  color: #444;
}
.this h1,
.this h2,
.this h3,
.this h4,
.this h5,
.this h6 {
  color: #444;
}
.this hr {
  border-bottom-color: #e6e6e6;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this button,
.this .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.this input[type="submit"].icon,
.this input[type="reset"].icon,
.this input[type="button"].icon,
.this button.icon,
.this .button.icon {
  padding-left: 1.35em;
}
.this input[type="submit"].icon:before,
.this input[type="reset"].icon:before,
.this input[type="button"].icon:before,
.this button.icon:before,
.this .button.icon:before {
  margin-right: 0.5em;
}
.this input[type="submit"].fit,
.this input[type="reset"].fit,
.this input[type="button"].fit,
.this button.fit,
.this .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
.this input[type="submit"].small,
.this input[type="reset"].small,
.this input[type="button"].small,
.this button.small,
.this .button.small {
  font-size: 0.8em;
}
.this input[type="submit"].big,
.this input[type="reset"].big,
.this input[type="button"].big,
.this button.big,
.this .button.big {
  font-size: 1.35em;
}
.this input[type="submit"].disabled,
.this input[type="submit"]:disabled,
.this input[type="reset"].disabled,
.this input[type="reset"]:disabled,
.this input[type="button"].disabled,
.this input[type="button"]:disabled,
.this button.disabled,
.this button:disabled,
.this .button.disabled,
.this .button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this button,
.this .button {
  background-color: transparent;
  color: #444 !important;
  box-shadow: inset 0 0 0 1px #444;
}
.this input[type="submit"]:hover,
.this input[type="reset"]:hover,
.this input[type="button"]:hover,
.this button:hover,
.this .button:hover {
  background-color: #f6f6f6;
}
.this input[type="submit"]:active,
.this input[type="reset"]:active,
.this input[type="button"]:active,
.this button:active,
.this .button:active {
  background-color: #e2e2e2;
}
.this input[type="submit"].special,
.this input[type="reset"].special,
.this input[type="button"].special,
.this button.special,
.this .button.special {
  box-shadow: none;
  background-color: #444;
  color: #fff !important;
}
.this input[type="submit"].special:hover,
.this input[type="reset"].special:hover,
.this input[type="button"].special:hover,
.this button.special:hover,
.this .button.special:hover {
  background-color: #515151;
}
.this input[type="submit"].special:active,
.this input[type="reset"].special:active,
.this input[type="button"].special:active,
.this button.special:active,
.this .button.special:active {
  background-color: #373737;
}
.this .features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.this .features > section {
  width: calc(33.33333333% - 5em);
}
.this .features > section:before {
  content: '';
  display: block;
  height: 100%;
  margin-left: -3.75em;
  position: absolute;
  top: 0;
  width: 1px;
}
.this .features > section:first-child {
  border-left: 0;
}
.this .features > section:first-child:before {
  display: none;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
}
@media screen and (max-width: 736px) {
  .this h2 {
    line-height: 1.5em;
  }
}
@media screen and (max-width: 1280px) {
  .features > section {
    width: calc(33.33333333% - 2.5em);
  }
  .features > section:before {
    margin-left: -2em;
  }
}
@media screen and (max-width: 980px) {
  .this .features {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .this .features > section {
    width: 100%;
  }
  .this .features > section:before {
    width: 100%;
    height: 1px;
    margin-left: 0;
    position: relative;
    top: -3em;
  }
  .this .features > section:first-child:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .this .features > section:before {
    top: -2.5em;
  }
}
.this .features > section:before {
  background-color: #e6e6e6;
}
.this form {
  margin: 0 0 2em 0;
}
.this label {
  display: block;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 700;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select,
.this textarea {
  appearance: none;
  border: none;
  border: solid 1px;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.this input[type="text"]:invalid,
.this input[type="password"]:invalid,
.this input[type="email"]:invalid,
.this select:invalid,
.this textarea:invalid {
  box-shadow: none;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select {
  height: 2.75em;
}
.this textarea {
  padding: 0.75em 1em;
}
.this label {
  color: #444;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select,
.this textarea {
  -webkit-transition: border-color 0.2s ease-in-out;
          transition: border-color 0.2s ease-in-out;
  border-color: #e6e6e6;
}
.this input[type="text"]:focus,
.this input[type="password"]:focus,
.this input[type="email"]:focus,
.this select:focus,
.this textarea:focus {
  border-color: #444;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this .icon:before {
  cursor: inherit;
}
.this .icon-wrapper {
  width: 4em;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 1.235em 0;
}
.this .icon-wrapper:before,
.this .icon-wrapper:after {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 2em transparent;
  border-right: solid 2em transparent;
  position: absolute;
  left: 0;
}
.this .icon-wrapper:before {
  border-bottom: solid 1.235em;
  top: -1.235em;
}
.this .icon-wrapper:after {
  border-top: solid 1.235em;
  bottom: -1.235em;
}
.this .icon-wrapper .icon {
  cursor: default;
}
.this .icon-wrapper .icon:before {
  font-size: 1.5rem;
}
.this .icon-wrapper.major {
  display: block;
  margin: 1.235em 0 3.235em 0;
}
.this .icon-wrapper.small {
  font-size: 0.75em;
}
.this .icon-wrapper.small .icon:before {
  font-size: 1.25rem;
}
.this .icon-wrapper {
  background-color: #f6f6f6;
  box-shadow: 0 -1px 0 0 #f6f6f6, 0 1px 0 0 #f6f6f6;
}
.this .icon-wrapper:before {
  border-bottom-color: #f6f6f6;
}
.this .icon-wrapper:after {
  border-top-color: #f6f6f6;
}
.this .image {
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image img {
  display: block;
}
.this .image.left,
.this .image.right {
  max-width: 40%;
}
.this .image.left img,
.this .image.right img {
  width: 100%;
}
.this .image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}
.this .image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}
.this .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.this .image.fit img {
  width: 100%;
}
.this .image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.this .image.main img {
  width: 100%;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.alt {
  list-style: none;
  padding-left: 0;
}
.this ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}
.this ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.icons {
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 2em;
}
.this ul.bulleted-icons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
}
.this ul.bulleted-icons li {
  margin: 2em 0 0 0;
  overflow: hidden;
  padding-left: 4.5em;
  position: relative;
  width: 50%;
}
.this ul.bulleted-icons li .icon-wrapper {
  font-size: 0.65em;
  left: 0;
  position: absolute;
  top: 0;
}
.this ul.bulleted-icons li .icon-wrapper .icon:before {
  font-size: 1rem;
}
.this ul.bulleted-icons li h3 {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  padding-bottom: 0;
}
.this ul.bulleted-icons li h3:after {
  display: none;
}
@media screen and (max-width: 1280px) {
  .this ul.bulleted-icons li {
    width: 100%;
    margin: 1em 0 0 0;
  }
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 480px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  .this ul.actions.small li:first-child {
    padding-top: 0;
  }
}
.this ul.menu {
  padding: 0;
  list-style: none;
}
.this ul.menu li {
  padding: 0;
  display: inline-block;
  margin-left: 0.75em;
  padding-left: 0.75em;
  border-left: solid 1px;
  line-height: 1em;
}
.this ul.menu li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
.this dl {
  margin: 0 0 2em 0;
}
.this dl dt {
  display: block;
  font-weight: 600;
  margin: 0 0 1em 0;
}
.this dl dd {
  margin-left: 2em;
}
.this ul.alt li {
  border-top-color: #e6e6e6;
}
.this ul.menu li {
  border-left-color: #e6e6e6;
}
.this .post {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 2em;
}
.this .post .image {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}
.this .post .image img {
  width: 100%;
}
.this .post .content {
  padding: 2.5em 2.5em 0.5em 2.5em;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media screen and (max-width: 1280px) {
  .this .post .content {
    padding: 2em 2em 0.1em 2em;
  }
}
@media screen and (max-width: 736px) {
  .this .post {
    display: block;
  }
  .this .post .content {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
.this .post .content {
  background-color: transparent;
  border: solid 1px #e6e6e6;
}
.this .posts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.this .posts .post {
  width: calc(33.33333333% - 1.25em);
}
@media screen and (max-width: 1280px) {
  .this .posts .post {
    width: calc(50% - 1em);
  }
}
@media screen and (max-width: 736px) {
  .this .posts {
    display: block;
  }
  .this .posts .post {
    width: 100%;
  }
}
.this header.major {
  margin: 0 0 4em 0;
}
.this header.major > :last-child {
  margin-bottom: 0;
}
.this header.major h2 {
  font-size: 2.25em;
  font-weight: 800;
  margin: 0 0 0.7em 0;
  padding-bottom: 0.75em;
}
@media screen and (max-width: 1280px) {
  .this header.major h2 {
    font-size: 1.25em;
  }
}
.this .spotlight {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.this .spotlight .content {
  width: calc(33.3333333% - 1.25em);
}
.this .spotlight h2 {
  font-size: 2.25em;
  font-weight: 800;
  margin: 0 0 0.7em 0;
  padding-bottom: 0.75em;
}
.this .spotlight .image {
  width: calc(66.6666666% - 2.5em);
  margin: 0 0 2em 0;
}
.this .spotlight .image img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .spotlight h2 {
    font-size: 1.25em;
  }
  .spotlight .image {
    width: calc(66.6666666% - 1.25em);
  }
}
@media screen and (max-width: 980px) {
  .spotlight {
    display: block;
  }
  .spotlight .content {
    width: 100%;
  }
  .spotlight .image {
    width: 100%;
    margin: 0 0 2em 0;
  }
}
.this .wrapper {
  padding: 4em 0 2em 0;
  position: relative;
}
.this .wrapper > .inner {
  margin: 0 auto;
  max-width: 90em;
  width: 90%;
}
.this .wrapper + .wrapper {
  border-top: solid 1px #e6e6e6;
}
.this .wrapper.major-pad {
  padding: 6em 0 4em 0;
}
.this .wrapper.content-pad {
  padding: 0;
}
.this .wrapper.content-pad .content {
  padding: 4em 0 2em 0;
}
.this .wrapper.split > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.this .wrapper.split > .inner > * {
  width: calc(50% - 3.75em);
}
.this .wrapper.split > .inner > *:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: -3.75em;
  background-color: #e6e6e6;
}
.this .wrapper.split > .inner > *:first-child {
  border: 0;
}
.this .wrapper.split > .inner > *:first-child:before {
  display: none;
}
.this .wrapper.style1 {
  background-color: #444;
  color: #fff;
  border-top: 0;
}
.this .wrapper.style1 input,
.this .wrapper.style1 select,
.this .wrapper.style1 textarea {
  color: #fff;
}
.this .wrapper.style1 a {
  color: #fff;
}
.this .wrapper.style1 strong,
.this .wrapper.style1 b {
  color: #fff;
}
.this .wrapper.style1 h1,
.this .wrapper.style1 h2,
.this .wrapper.style1 h3,
.this .wrapper.style1 h4,
.this .wrapper.style1 h5,
.this .wrapper.style1 h6 {
  color: #fff;
}
.this .wrapper.style1 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 .box {
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 input[type="submit"],
.this .wrapper.style1 input[type="reset"],
.this .wrapper.style1 input[type="button"],
.this .wrapper.style1 button,
.this .wrapper.style1 .button {
  background-color: transparent;
  color: #fff !important;
  box-shadow: inset 0 0 0 1px #fff;
}
.this .wrapper.style1 input[type="submit"]:hover,
.this .wrapper.style1 input[type="reset"]:hover,
.this .wrapper.style1 input[type="button"]:hover,
.this .wrapper.style1 button:hover,
.this .wrapper.style1 .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.this .wrapper.style1 input[type="submit"]:active,
.this .wrapper.style1 input[type="reset"]:active,
.this .wrapper.style1 input[type="button"]:active,
.this .wrapper.style1 button:active,
.this .wrapper.style1 .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.this .wrapper.style1 input[type="submit"].special,
.this .wrapper.style1 input[type="reset"].special,
.this .wrapper.style1 input[type="button"].special,
.this .wrapper.style1 button.special,
.this .wrapper.style1 .button.special {
  box-shadow: none;
  background-color: #fff;
  color: #444 !important;
}
.this .wrapper.style1 .features > section:before {
  background-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 label {
  color: #fff;
}
.this .wrapper.style1 input[type="text"],
.this .wrapper.style1 input[type="password"],
.this .wrapper.style1 input[type="email"],
.this .wrapper.style1 select,
.this .wrapper.style1 textarea {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 input[type="text"]:focus,
.this .wrapper.style1 input[type="password"]:focus,
.this .wrapper.style1 input[type="email"]:focus,
.this .wrapper.style1 select:focus,
.this .wrapper.style1 textarea:focus {
  border-color: #fff;
}
.this .wrapper.style1 .select-wrapper:before {
  color: #888;
}
.this .wrapper.style1 input[type="checkbox"] + label,
.this .wrapper.style1 input[type="radio"] + label {
  color: #fff;
}
.this .wrapper.style1 input[type="checkbox"] + label:before,
.this .wrapper.style1 input[type="radio"] + label:before {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 input[type="checkbox"]:checked + label:before,
.this .wrapper.style1 input[type="radio"]:checked + label:before {
  background-color: #fff;
  border-color: #fff;
  color: #444;
}
.this .wrapper.style1 input[type="checkbox"]:focus + label:before,
.this .wrapper.style1 input[type="radio"]:focus + label:before {
  border-color: #fff;
}
.this .wrapper.style1::-webkit-input-placeholder {
  color: #888 !important;
}
.this .wrapper.style1:-moz-placeholder {
  color: #888 !important;
}
.this .wrapper.style1::-moz-placeholder {
  color: #888 !important;
}
.this .wrapper.style1:-ms-input-placeholder {
  color: #888 !important;
}
.this .wrapper.style1 .formerize-placeholder {
  color: #888 !important;
}
.this .wrapper.style1 .icon-wrapper {
  background-color: #fff;
  box-shadow: 0 -1px 0 0 #ffffff, 0 1px 0 0 #ffffff;
}
.this .wrapper.style1 .icon-wrapper:before {
  border-bottom-color: #fff;
}
.this .wrapper.style1 .icon-wrapper:after {
  border-top-color: #fff;
}
.this .wrapper.style1 .icon-wrapper .icon {
  color: #444;
}
.this .wrapper.style1 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 ul.menu li {
  border-left-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 .post .content {
  background-color: transparent;
  border: solid 1px #e6e6e6;
}
.this .wrapper.style1 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.this .wrapper.style1 table th {
  color: #fff;
}
.this .wrapper.style1 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style1 + .wrapper {
  border-top: 0;
}
.this .wrapper.style1.split > .inner > *:before {
  background-color: rgba(255, 255, 255, 0.25);
}
.this .wrapper.style2 {
  background-color: #f6f6f6;
  color: #444;
  border-top: 0;
}
.this .wrapper.style2 input,
.this .wrapper.style2 select,
.this .wrapper.style2 textarea {
  color: #444;
}
.this .wrapper.style2 a {
  color: #444;
}
.this .wrapper.style2 strong,
.this .wrapper.style2 b {
  color: #444;
}
.this .wrapper.style2 h1,
.this .wrapper.style2 h2,
.this .wrapper.style2 h3,
.this .wrapper.style2 h4,
.this .wrapper.style2 h5,
.this .wrapper.style2 h6 {
  color: #444;
}
.this .wrapper.style2 blockquote {
  border-left-color: #e6e6e6;
}
.this .wrapper.style2 code {
  background: rgba(144, 144, 144, 0.075);
  border-color: #e6e6e6;
}
.this .wrapper.style2 hr {
  border-bottom-color: #e6e6e6;
}
.this .wrapper.style2 .box {
  border-color: #e6e6e6;
}
.this .wrapper.style2 input[type="submit"],
.this .wrapper.style2 input[type="reset"],
.this .wrapper.style2 input[type="button"],
.this .wrapper.style2 button,
.this .wrapper.style2 .button {
  background-color: transparent;
  color: #444 !important;
  box-shadow: inset 0 0 0 1px #444;
}
.this .wrapper.style2 input[type="submit"]:hover,
.this .wrapper.style2 input[type="reset"]:hover,
.this .wrapper.style2 input[type="button"]:hover,
.this .wrapper.style2 button:hover,
.this .wrapper.style2 .button:hover {
  background-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 input[type="submit"]:active,
.this .wrapper.style2 input[type="reset"]:active,
.this .wrapper.style2 input[type="button"]:active,
.this .wrapper.style2 button:active,
.this .wrapper.style2 .button:active {
  background-color: rgba(144, 144, 144, 0.2);
}
.this .wrapper.style2 input[type="submit"].special,
.this .wrapper.style2 input[type="reset"].special,
.this .wrapper.style2 input[type="button"].special,
.this .wrapper.style2 button.special,
.this .wrapper.style2 .button.special {
  box-shadow: none;
  background-color: #444;
  color: #fff !important;
}
.this .wrapper.style2 input[type="submit"].special:hover,
.this .wrapper.style2 input[type="reset"].special:hover,
.this .wrapper.style2 input[type="button"].special:hover,
.this .wrapper.style2 button.special:hover,
.this .wrapper.style2 .button.special:hover {
  background-color: #515151;
}
.this .wrapper.style2 input[type="submit"].special:active,
.this .wrapper.style2 input[type="reset"].special:active,
.this .wrapper.style2 input[type="button"].special:active,
.this .wrapper.style2 button.special:active,
.this .wrapper.style2 .button.special:active {
  background-color: #373737;
}
.this .wrapper.style2 .features > section:before {
  background-color: #e6e6e6;
}
.this .wrapper.style2 label {
  color: #444;
}
.this .wrapper.style2 input[type="text"],
.this .wrapper.style2 input[type="password"],
.this .wrapper.style2 input[type="email"],
.this .wrapper.style2 select,
.this .wrapper.style2 textarea {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-color: #e6e6e6;
}
.this .wrapper.style2 input[type="text"]:focus,
.this .wrapper.style2 input[type="password"]:focus,
.this .wrapper.style2 input[type="email"]:focus,
.this .wrapper.style2 select:focus,
.this .wrapper.style2 textarea:focus {
  border-color: #444;
}
.this .wrapper.style2 .select-wrapper:before {
  color: #bbb;
}
.this .wrapper.style2 input[type="checkbox"] + label,
.this .wrapper.style2 input[type="radio"] + label {
  color: #444;
}
.this .wrapper.style2 input[type="checkbox"] + label:before,
.this .wrapper.style2 input[type="radio"] + label:before {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background: rgba(144, 144, 144, 0.075);
  border-color: #e6e6e6;
}
.this .wrapper.style2 input[type="checkbox"]:checked + label:before,
.this .wrapper.style2 input[type="radio"]:checked + label:before {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.this .wrapper.style2 input[type="checkbox"]:focus + label:before,
.this .wrapper.style2 input[type="radio"]:focus + label:before {
  border-color: #444;
}
.this .wrapper.style2::-webkit-input-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2:-moz-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2::-moz-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2:-ms-input-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2 .formerize-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2 .icon-wrapper {
  background-color: rgba(144, 144, 144, 0.075);
  box-shadow: 0 -1px 0 0 rgba(144, 144, 144, 0.075), 0 1px 0 0 rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 .icon-wrapper:before {
  border-bottom-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 .icon-wrapper:after {
  border-top-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 ul.alt li {
  border-top-color: #e6e6e6;
}
.this .wrapper.style2 ul.menu li {
  border-left-color: #e6e6e6;
}
.this .wrapper.style2 .post .content {
  background-color: #fff;
  border: 0;
}
.this .wrapper.style2 table tbody tr {
  border-color: #e6e6e6;
}
.this .wrapper.style2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 table th {
  color: #444;
}
.this .wrapper.style2 table thead {
  border-bottom-color: #e6e6e6;
}
.this .wrapper.style2 table tfoot {
  border-top-color: #e6e6e6;
}
.this .wrapper.style2 table.alt tbody tr td {
  border-color: #e6e6e6;
}
.this .wrapper.style2 + .wrapper {
  border-top: 0;
}
.this .wrapper.style2.split > .inner > *:before {
  background-color: #e6e6e6;
}
.this .wrapper.sidebar > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.this .wrapper.sidebar > .inner > header {
  width: 100%;
}
.this .wrapper.sidebar > .inner > .content {
  width: 75%;
  padding: 0 4em 0 0;
}
.this .wrapper.sidebar > .inner > .sidebar {
  width: 25%;
}
.this .wrapper.sidebar.left > .inner {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.this .wrapper.sidebar.left > .inner > .content {
  padding: 0 0 0 4em;
}
@media screen and (max-width: 980px) {
  .this .wrapper.sidebar > .inner {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .this .wrapper.sidebar > .inner > .content {
    width: 100%;
    padding: 0;
  }
  .this .wrapper.sidebar > .inner > .sidebar {
    border-top: solid 2px #e6e6e6;
    margin: 2em 0 0 0;
    padding: 4em 0 0 0;
    width: 100%;
  }
  .this .wrapper.sidebar.style1 > .inner > .sidebar {
    border-top-color: rgba(255, 255, 255, 0.25);
  }
  .this .wrapper.sidebar.style2 > .inner > .sidebar {
    border-top-color: #e6e6e6;
  }
}
@media screen and (max-width: 1280px) {
  .this .wrapper {
    padding: 3em 0 1em 0;
  }
  .this .wrapper > .inner {
    width: 100%;
    padding: 0 3em;
  }
  .this .wrapper.major-pad {
    padding: 4em 0 2em 0;
  }
  .this .wrapper.content-pad .content {
    padding: 3em 0 1em 0;
  }
  .this .wrapper.split > .inner > * {
    width: calc(50% - 2em);
  }
  .this .wrapper.split > .inner > *:before {
    margin-left: -2em;
  }
}
@media screen and (max-width: 980px) {
  .this .wrapper > .inner > * {
    width: 100%;
    padding-left: 0 !important;
  }
  .this .wrapper.split > .inner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .this .wrapper.split > .inner > * {
    width: 100%;
    padding-top: 3em;
    margin-top: 1em;
  }
  .this .wrapper.split > .inner > *:before {
    margin-left: 0;
    position: relative;
    height: 1px;
    width: 100%;
    top: -3em;
  }
  .this .wrapper.split > .inner > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .this .wrapper.split > .inner > *:first-child:before {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .this .wrapper {
    padding: 2.5em 0 0.5em 0;
  }
  .this .wrapper > .inner {
    padding: 0 1.5em;
  }
  .this .wrapper.major-pad {
    padding: 2.5em 0 0.5em 0;
  }
  .this .wrapper.content-pad .content {
    padding: 2.5em 0 0.5em 0;
  }
}
body {
  padding-top: 3.5em;
}
.this #header {
  background-color: #fff;
  box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 500;
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.this #header h1 {
  height: inherit;
  left: 1.5em;
  line-height: inherit;
  margin: 0;
  padding-bottom: 0;
  position: relative;
}
.this #header h1:after {
  display: none;
}
.this #header h1 a {
  color: inherit;
}
.this #header h1 a span {
  font-weight: 500;
}
.this #header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 1.5em;
  top: 0;
}
.this #header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.this #header nav > ul > li {
  display: inline-block;
  margin-left: 2em;
  padding: 0;
}
.this #header nav > ul > li > ul {
  display: none;
}
.this #header nav > ul > li a {
  text-decoration: none;
  border-bottom: 0;
}
.this #header nav > ul > li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this #header nav > ul > li a:before {
  margin-right: 0.75em;
}
.this #header nav > ul > li:first-child {
  margin-left: 0;
}
.this #header + #banner {
  margin-top: -3.5em;
}
.this #header.reveal {
  -webkit-animation: reveal-header 0.5s ease;
  -ms-animation: reveal-header 0.5s ease;
  animation: reveal-header 0.5s ease;
}
.this #header.alt {
  background-color: #444;
  color: #fff;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  position: absolute;
  top: 1.5em;
}
.this #header.alt input[type="submit"],
.this #header.alt input[type="reset"],
.this #header.alt input[type="button"],
.this #header.alt button,
.this #header.alt .button {
  background-color: transparent;
  color: #fff !important;
  box-shadow: inset 0 0 0 1px #fff;
}
.this #header.alt input[type="submit"]:hover,
.this #header.alt input[type="reset"]:hover,
.this #header.alt input[type="button"]:hover,
.this #header.alt button:hover,
.this #header.alt .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.this #header.alt input[type="submit"]:active,
.this #header.alt input[type="reset"]:active,
.this #header.alt input[type="button"]:active,
.this #header.alt button:active,
.this #header.alt .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.this #header.alt input[type="submit"].special,
.this #header.alt input[type="reset"].special,
.this #header.alt input[type="button"].special,
.this #header.alt button.special,
.this #header.alt .button.special {
  box-shadow: none;
  background-color: #fff;
  color: #444 !important;
}
.this #header.alt input,
.this #header.alt select,
.this #header.alt textarea {
  color: #fff;
}
.this #header.alt a {
  color: #fff;
}
.this #header.alt strong,
.this #header.alt b {
  color: #fff;
}
.this #header.alt h1,
.this #header.alt h2,
.this #header.alt h3,
.this #header.alt h4,
.this #header.alt h5,
.this #header.alt h6 {
  color: #fff;
}
.this #header.alt blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}
.this #header.alt code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}
.this #header.alt hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.this #header.alt h1 {
  left: 2.5em;
}
.this #header.alt nav {
  right: 2.5em;
}
@media screen and (max-width: 1280px) {
  .this #header.alt {
    top: 0.75em;
  }
  .this #header.alt h1 {
    left: 1.5em;
  }
  .this #header.alt nav {
    right: 1.5em;
  }
}
@media screen and (max-width: 980px) {
  .this #header.alt {
    top: 0;
  }
}
@media screen and (max-width: 736px) {
  .this #header {
    height: 3em;
    line-height: 3em;
  }
  .this #header h1 {
    left: 1em !important;
  }
  .this #header h1 a {
    font-size: 0.9em;
  }
}
.this #banner {
  background-color: #444;
  color: #fff;
  min-height: 40em;
  height: 75vh;
  position: relative;
  background-image: url(../../assets/img/025slide01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.this #banner a {
  color: #fff;
}
.this #banner h2 {
  color: #fff;
}
@media screen and (max-width: 1280px) {
  .this #banner {
    min-height: 35em;
    height: 60vh;
  }
}
@media screen and (max-width: 980px) {
  .this #banner {
    min-height: 50em;
    height: 75vh;
  }
}
@media screen and (max-width: 736px) {
  .this #banner {
    min-height: 25em;
  }
}
.this #main {
  padding: 6em 0 4em 0;
}
.this #main > .inner > header.major:first-child {
  margin-bottom: 6em;
}
@media screen and (max-width: 1280px) {
  .this #main {
    padding: 4em 0 2em 0;
  }
  .this #main > .inner > header.major:first-child {
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 736px) {
  .this #main {
    padding: 2.5em 0 0.5em 0;
  }
  .this #main > .inner > header.major:first-child {
    margin-bottom: 2.5em;
  }
}
.this #footer {
  padding: 4em 0 2em 0;
  border-top: solid 1px #e6e6e6;
  position: relative;
}
.this #footer > .inner {
  margin: 0 auto;
  max-width: 90em;
  position: relative;
  width: 90%;
}
.this #footer .copyright {
  color: #bbb;
  font-size: 0.9em;
}
.this #footer .menu {
  color: #bbb;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0;
}
.this #footer .menu a {
  color: inherit;
}
@media screen and (max-width: 1280px) {
  .this #footer {
    padding: 3em 0 1em 0;
    text-align: center;
  }
  .this #footer .copyright {
    margin: 0 0 1em 0;
  }
  .this #footer .menu {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .this #footer .menu li a span {
    display: none;
  }
}
