@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

body {
    background: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65em;
    color: #444;
}

.this {
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
    input,
    select,
    textarea {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 13pt;
        font-weight: 400;
        line-height: 1.65em;
    }
    a {
        transition: border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 1px;
        text-decoration: none;
    }
    a:hover {
        border-bottom-color: transparent;
    }
    p {
        margin: 0 0 2em 0;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 1.5em 0;
        padding-bottom: 1.25em;
        position: relative;
        text-transform: uppercase;
    }
    h1:after,
    h2:after,
    h3:after,
    h4:after {
        border-bottom: solid 1px;
        bottom: 0;
        content: '';
        display: inline-block;
        left: 0;
        position: absolute;
        width: 3rem;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a {
        border-bottom: 0;
        color: inherit;
        text-decoration: none;
    }
    h1.alt,
    h2.alt,
    h3.alt,
    h4.alt {
        margin: 0 0 1em 0;
        padding-bottom: 0;
    }
    h1.alt:after,
    h2.alt:after,
    h3.alt:after,
    h4.alt:after {
        display: none;
    }
    h2 {
        font-size: 1.25em;
        line-height: 1.25em;
    }
    h3 {
        font-size: 1em;
        line-height: 1.5em;
    }
    h4 {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    hr {
        border: 0;
        border-bottom: solid 1px;
        margin: 2em 0;
    }
    hr.major {
        margin: 3em 0;
    }
    input,
    select,
    textarea {
        color: #444;
    }
    a {
        color: #444;
    }
    strong,
    b {
        color: #444;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #444;
    }
    hr {
        border-bottom-color: #e6e6e6;
    }
    // Button
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -webkit-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: inline-block;
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 700;
        height: 2.75em;
        line-height: 2.75em;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
        padding-left: 1.35em;
    }
    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
        margin-right: 0.5em;
    }
    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }
    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.8em;
    }
    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
        font-size: 1.35em;
    }
    input[type="submit"].disabled,
    input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0.25;
    }
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        background-color: transparent;
        color: #444 !important;
        box-shadow: inset 0 0 0 1px #444;
    }
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: #f6f6f6;
    }
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
        background-color: #e2e2e2;
    }
    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
        box-shadow: none;
        background-color: #444;
        color: #fff !important;
    }
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
        background-color: #515151;
    }
    input[type="submit"].special:active,
    input[type="reset"].special:active,
    input[type="button"].special:active,
    button.special:active,
    .button.special:active {
        background-color: #373737;
    }
    // Features
    .features {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }
    .features > section {
        width: ~"calc(33.33333333% - 5em)";
    }
    .features > section:before {
        content: '';
        display: block;
        height: 100%;
        margin-left: -3.75em;
        position: absolute;
        top: 0;
        width: 1px;
    }
    .features > section:first-child {
        border-left: 0;
    }
    .features > section:first-child:before {
        display: none;
    }
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 11pt;
    }
    .this {
        input,
        select,
        textarea {
            font-size: 11pt;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        h2 {
            line-height: 1.5em;
        }
    }
}

@media screen and (max-width: 1280px) {
    .features > section {
        width: ~"calc(33.33333333% - 2.5em)";
    }
    .features > section:before {
        margin-left: -2em;
    }
}

@media screen and (max-width: 980px) {
    .this {
        .features {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }
        .features > section {
            width: 100%;
        }
        .features > section:before {
            width: 100%;
            height: 1px;
            margin-left: 0;
            position: relative;
            top: -3em;
        }
        .features > section:first-child:before {
            display: none;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        .features > section:before {
            top: -2.5em;
        }
    }
}

.this {
    .features > section:before {
        background-color: #e6e6e6;
    }
    // Form
    form {
        margin: 0 0 2em 0;
    }
    label {
        display: block;
        margin: 0 0 0.5em 0;
        text-transform: uppercase;
        font-size: 0.9em;
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 700;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        appearance: none;
        border: none;
        border: solid 1px;
        border-radius: 0;
        background-color: transparent;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
    }
    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        height: 2.75em;
    }
    textarea {
        padding: 0.75em 1em;
    }
    label {
        color: #444;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        transition: border-color 0.2s ease-in-out;
        border-color: #e6e6e6;
    }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
        border-color: #444;
    }
    // Icon
    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }
    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    .icon > .label {
        display: none;
    }
    .icon:before {
        cursor: inherit;
    }
    .icon-wrapper {
        width: 4em;
        height: 2em;
        line-height: 2em;
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 1.235em 0;
    }
    .icon-wrapper:before,
    .icon-wrapper:after {
        content: '';
        width: 0;
        height: 0;
        border-left: solid 2em transparent;
        border-right: solid 2em transparent;
        position: absolute;
        left: 0;
    }
    .icon-wrapper:before {
        border-bottom: solid 1.235em;
        top: -1.235em;
    }
    .icon-wrapper:after {
        border-top: solid 1.235em;
        bottom: -1.235em;
    }
    .icon-wrapper .icon {
        cursor: default;
    }
    .icon-wrapper .icon:before {
        font-size: 1.5rem;
    }
    .icon-wrapper.major {
        display: block;
        margin: 1.235em 0 3.235em 0;
    }
    .icon-wrapper.small {
        font-size: 0.75em;
    }
    .icon-wrapper.small .icon:before {
        font-size: 1.25rem;
    }
    .icon-wrapper {
        background-color: #f6f6f6;
        box-shadow: 0 -1px 0 0 #f6f6f6, 0 1px 0 0 #f6f6f6;
    }
    .icon-wrapper:before {
        border-bottom-color: #f6f6f6;
    }
    .icon-wrapper:after {
        border-top-color: #f6f6f6;
    }
    // Image
    .image {
        border: 0;
        display: inline-block;
        position: relative;
    }
    .image img {
        display: block;
    }
    .image.left,
    .image.right {
        max-width: 40%;
    }
    .image.left img,
    .image.right img {
        width: 100%;
    }
    .image.left {
        float: left;
        margin: 0 1.5em 1em 0;
        top: 0.25em;
    }
    .image.right {
        float: right;
        margin: 0 0 1em 1.5em;
        top: 0.25em;
    }
    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }
    .image.fit img {
        width: 100%;
    }
    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }
    .image.main img {
        width: 100%;
    }
    ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }
    ul li {
        padding-left: 0.5em;
    }
    ul.alt {
        list-style: none;
        padding-left: 0;
    }
    ul.alt li {
        border-top: solid 1px;
        padding: 0.5em 0;
    }
    ul.alt li:first-child {
        border-top: 0;
        padding-top: 0;
    }
    ul.icons {
        list-style: none;
        padding-left: 0;
    }
    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }
    ul.icons li:last-child {
        padding-right: 0;
    }
    ul.icons li .icon:before {
        font-size: 2em;
    }
    ul.bulleted-icons {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    ul.bulleted-icons li {
        margin: 2em 0 0 0;
        overflow: hidden;
        padding-left: 4.5em;
        position: relative;
        width: 50%;
    }
    ul.bulleted-icons li .icon-wrapper {
        font-size: 0.65em;
        left: 0;
        position: absolute;
        top: 0;
    }
    ul.bulleted-icons li .icon-wrapper .icon:before {
        font-size: 1rem;
    }
    ul.bulleted-icons li h3 {
        font-size: 0.9em;
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }
    ul.bulleted-icons li h3:after {
        display: none;
    }
    @media screen and (max-width: 1280px) {
        ul.bulleted-icons li {
            width: 100%;
            margin: 1em 0 0 0;
        }
    }
    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }
    ul.actions li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
    }
    ul.actions li:last-child {
        padding-right: 0;
    }
    ul.actions.small li {
        padding: 0 0.5em 0 0;
    }
    ul.actions.vertical li {
        display: block;
        padding: 1em 0 0 0;
    }
    ul.actions.vertical li:first-child {
        padding-top: 0;
    }
    ul.actions.vertical li > * {
        margin-bottom: 0;
    }
    ul.actions.vertical.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.vertical.small li:first-child {
        padding-top: 0;
    }
    ul.actions.fit {
        display: table;
        margin-left: -1em;
        padding: 0;
        table-layout: fixed;
        width: ~"calc(100% + 1em)";
    }
    ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em;
    }
    ul.actions.fit li > * {
        margin-bottom: 0;
    }
    ul.actions.fit.small {
        margin-left: -0.5em;
        width: ~"calc(100% + 0.5em)";
    }
    ul.actions.fit.small li {
        padding: 0 0 0 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .this {
        ul.actions {
            margin: 0 0 2em 0;
        }
        ul.actions li {
            padding: 1em 0 0 0;
            display: block;
            text-align: center;
            width: 100%;
        }
        ul.actions li:first-child {
            padding-top: 0;
        }
        ul.actions li > * {
            width: 100%;
            margin: 0 !important;
        }
        ul.actions li > *.icon:before {
            margin-left: -2em;
        }
        ul.actions.small li {
            padding: 0.5em 0 0 0;
        }
        ul.actions.small li:first-child {
            padding-top: 0;
        }
    }
}

.this {
    ul.menu {
        padding: 0;
        list-style: none;
    }
    ul.menu li {
        padding: 0;
        display: inline-block;
        margin-left: 0.75em;
        padding-left: 0.75em;
        border-left: solid 1px;
        line-height: 1em;
    }
    ul.menu li:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }
    dl {
        margin: 0 0 2em 0;
    }
    dl dt {
        display: block;
        font-weight: 600;
        margin: 0 0 1em 0;
    }
    dl dd {
        margin-left: 2em;
    }
    ul.alt li {
        border-top-color: #e6e6e6;
    }
    ul.menu li {
        border-left-color: #e6e6e6;
    }
    // Post
    .post {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -moz-align-items: stretch;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin-bottom: 2em;
    }
    .post .image {
        display: block;
        margin-bottom: 1em;
        width: 100%;
    }
    .post .image img {
        width: 100%;
    }
    .post .content {
        padding: 2.5em 2.5em 0.5em 2.5em;
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        .post .content {
            padding: 2em 2em 0.1em 2em;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        .post {
            display: block;
        }
        .post .content {
            padding: 2em 1.5em 0.1em 1.5em;
        }
    }
}

.this {
    .post .content {
        background-color: transparent;
        border: solid 1px #e6e6e6;
    }
    // Posts
    .posts {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -moz-align-items: stretch;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .posts .post {
        width: ~"calc(33.33333333% - 1.25em)";
    }
}

@media screen and (max-width: 1280px) {
    .this {
        .posts .post {
            width: ~"calc(50% - 1em)";
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        .posts {
            display: block;
        }
        .posts .post {
            width: 100%;
        }
    }
}

.this {
    header.major {
        margin: 0 0 4em 0;
    }
    header.major >:last-child {
        margin-bottom: 0;
    }
    header.major h2 {
        font-size: 2.25em;
        font-weight: 800;
        margin: 0 0 0.7em 0;
        padding-bottom: 0.75em;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        header.major h2 {
            font-size: 1.25em;
        }
    }
}

.this {
    // Spotlight
    .spotlight {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .spotlight .content {
        width: ~"calc(33.3333333% - 1.25em)";
    }
    .spotlight h2 {
        font-size: 2.25em;
        font-weight: 800;
        margin: 0 0 0.7em 0;
        padding-bottom: 0.75em;
    }
    .spotlight .image {
        width: ~"calc(66.6666666% - 2.5em)";
        margin: 0 0 2em 0;
    }
    .spotlight .image img {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .spotlight h2 {
        font-size: 1.25em;
    }
    .spotlight .image {
        width: ~"calc(66.6666666% - 1.25em)";
    }
}

@media screen and (max-width: 980px) {
    .spotlight {
        display: block;
    }
    .spotlight .content {
        width: 100%;
    }
    .spotlight .image {
        width: 100%;
        margin: 0 0 2em 0;
    }
}

.this {
    // Wrapper
    .wrapper {
        padding: 4em 0 2em 0;
        position: relative;
    }
    .wrapper > .inner {
        margin: 0 auto;
        max-width: 90em;
        width: 90%;
    }
    .wrapper + .wrapper {
        border-top: solid 1px #e6e6e6;
    }
    .wrapper.major-pad {
        padding: 6em 0 4em 0;
    }
    .wrapper.content-pad {
        padding: 0;
    }
    .wrapper.content-pad .content {
        padding: 4em 0 2em 0;
    }
    .wrapper.split > .inner {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .wrapper.split > .inner > * {
        width: ~"calc(50% - 3.75em)";
    }
    .wrapper.split > .inner > *:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        margin-left: -3.75em;
        background-color: #e6e6e6;
    }
    .wrapper.split > .inner > *:first-child {
        border: 0;
    }
    .wrapper.split > .inner > *:first-child:before {
        display: none;
    }
    .wrapper.style1 {
        background-color: #444;
        color: #fff;
        border-top: 0;
    }
    .wrapper.style1 input,
    .wrapper.style1 select,
    .wrapper.style1 textarea {
        color: #fff;
    }
    .wrapper.style1 a {
        color: #fff;
    }
    .wrapper.style1 strong,
    .wrapper.style1 b {
        color: #fff;
    }
    .wrapper.style1 h1,
    .wrapper.style1 h2,
    .wrapper.style1 h3,
    .wrapper.style1 h4,
    .wrapper.style1 h5,
    .wrapper.style1 h6 {
        color: #fff;
    }
    .wrapper.style1 blockquote {
        border-left-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 hr {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 .box {
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 input[type="submit"],
    .wrapper.style1 input[type="reset"],
    .wrapper.style1 input[type="button"],
    .wrapper.style1 button,
    .wrapper.style1 .button {
        background-color: transparent;
        color: #fff !important;
        box-shadow: inset 0 0 0 1px #fff;
    }
    .wrapper.style1 input[type="submit"]:hover,
    .wrapper.style1 input[type="reset"]:hover,
    .wrapper.style1 input[type="button"]:hover,
    .wrapper.style1 button:hover,
    .wrapper.style1 .button:hover {
        background-color: rgba(255, 255, 255, 0.075);
    }
    .wrapper.style1 input[type="submit"]:active,
    .wrapper.style1 input[type="reset"]:active,
    .wrapper.style1 input[type="button"]:active,
    .wrapper.style1 button:active,
    .wrapper.style1 .button:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .wrapper.style1 input[type="submit"].special,
    .wrapper.style1 input[type="reset"].special,
    .wrapper.style1 input[type="button"].special,
    .wrapper.style1 button.special,
    .wrapper.style1 .button.special {
        box-shadow: none;
        background-color: #fff;
        color: #444 !important;
    }
    .wrapper.style1 .features > section:before {
        background-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 label {
        color: #fff;
    }
    .wrapper.style1 input[type="text"],
    .wrapper.style1 input[type="password"],
    .wrapper.style1 input[type="email"],
    .wrapper.style1 select,
    .wrapper.style1 textarea {
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 input[type="text"]:focus,
    .wrapper.style1 input[type="password"]:focus,
    .wrapper.style1 input[type="email"]:focus,
    .wrapper.style1 select:focus,
    .wrapper.style1 textarea:focus {
        border-color: #fff;
    }
    .wrapper.style1 .select-wrapper:before {
        color: #888;
    }
    .wrapper.style1 input[type="checkbox"] + label,
    .wrapper.style1 input[type="radio"] + label {
        color: #fff;
    }
    .wrapper.style1 input[type="checkbox"] + label:before,
    .wrapper.style1 input[type="radio"] + label:before {
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 input[type="checkbox"]:checked + label:before,
    .wrapper.style1 input[type="radio"]:checked + label:before {
        background-color: #fff;
        border-color: #fff;
        color: #444;
    }
    .wrapper.style1 input[type="checkbox"]:focus + label:before,
    .wrapper.style1 input[type="radio"]:focus + label:before {
        border-color: #fff;
    }
    .wrapper.style1::-webkit-input-placeholder {
        color: #888 !important;
    }
    .wrapper.style1:-moz-placeholder {
        color: #888 !important;
    }
    .wrapper.style1::-moz-placeholder {
        color: #888 !important;
    }
    .wrapper.style1:-ms-input-placeholder {
        color: #888 !important;
    }
    .wrapper.style1 .formerize-placeholder {
        color: #888 !important;
    }
    .wrapper.style1 .icon-wrapper {
        background-color: #fff;
        box-shadow: 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
    }
    .wrapper.style1 .icon-wrapper:before {
        border-bottom-color: #fff;
    }
    .wrapper.style1 .icon-wrapper:after {
        border-top-color: #fff;
    }
    .wrapper.style1 .icon-wrapper .icon {
        color: #444;
    }
    .wrapper.style1 ul.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 ul.menu li {
        border-left-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 .post .content {
        background-color: transparent;
        border: solid 1px #e6e6e6;
    }
    .wrapper.style1 table tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0.075);
    }
    .wrapper.style1 table th {
        color: #fff;
    }
    .wrapper.style1 table thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 table tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 table.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style1 + .wrapper {
        border-top: 0;
    }
    .wrapper.style1.split > .inner > *:before {
        background-color: rgba(255, 255, 255, 0.25);
    }
    .wrapper.style2 {
        background-color: #f6f6f6;
        color: #444;
        border-top: 0;
    }
    .wrapper.style2 input,
    .wrapper.style2 select,
    .wrapper.style2 textarea {
        color: #444;
    }
    .wrapper.style2 a {
        color: #444;
    }
    .wrapper.style2 strong,
    .wrapper.style2 b {
        color: #444;
    }
    .wrapper.style2 h1,
    .wrapper.style2 h2,
    .wrapper.style2 h3,
    .wrapper.style2 h4,
    .wrapper.style2 h5,
    .wrapper.style2 h6 {
        color: #444;
    }
    .wrapper.style2 blockquote {
        border-left-color: #e6e6e6;
    }
    .wrapper.style2 code {
        background: rgba(144, 144, 144, 0.075);
        border-color: #e6e6e6;
    }
    .wrapper.style2 hr {
        border-bottom-color: #e6e6e6;
    }
    .wrapper.style2 .box {
        border-color: #e6e6e6;
    }
    .wrapper.style2 input[type="submit"],
    .wrapper.style2 input[type="reset"],
    .wrapper.style2 input[type="button"],
    .wrapper.style2 button,
    .wrapper.style2 .button {
        background-color: transparent;
        color: #444 !important;
        box-shadow: inset 0 0 0 1px #444;
    }
    .wrapper.style2 input[type="submit"]:hover,
    .wrapper.style2 input[type="reset"]:hover,
    .wrapper.style2 input[type="button"]:hover,
    .wrapper.style2 button:hover,
    .wrapper.style2 .button:hover {
        background-color: rgba(144, 144, 144, 0.075);
    }
    .wrapper.style2 input[type="submit"]:active,
    .wrapper.style2 input[type="reset"]:active,
    .wrapper.style2 input[type="button"]:active,
    .wrapper.style2 button:active,
    .wrapper.style2 .button:active {
        background-color: rgba(144, 144, 144, 0.2);
    }
    .wrapper.style2 input[type="submit"].special,
    .wrapper.style2 input[type="reset"].special,
    .wrapper.style2 input[type="button"].special,
    .wrapper.style2 button.special,
    .wrapper.style2 .button.special {
        box-shadow: none;
        background-color: #444;
        color: #fff !important;
    }
    .wrapper.style2 input[type="submit"].special:hover,
    .wrapper.style2 input[type="reset"].special:hover,
    .wrapper.style2 input[type="button"].special:hover,
    .wrapper.style2 button.special:hover,
    .wrapper.style2 .button.special:hover {
        background-color: #515151;
    }
    .wrapper.style2 input[type="submit"].special:active,
    .wrapper.style2 input[type="reset"].special:active,
    .wrapper.style2 input[type="button"].special:active,
    .wrapper.style2 button.special:active,
    .wrapper.style2 .button.special:active {
        background-color: #373737;
    }
    .wrapper.style2 .features > section:before {
        background-color: #e6e6e6;
    }
    .wrapper.style2 label {
        color: #444;
    }
    .wrapper.style2 input[type="text"],
    .wrapper.style2 input[type="password"],
    .wrapper.style2 input[type="email"],
    .wrapper.style2 select,
    .wrapper.style2 textarea {
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        border-color: #e6e6e6;
    }
    .wrapper.style2 input[type="text"]:focus,
    .wrapper.style2 input[type="password"]:focus,
    .wrapper.style2 input[type="email"]:focus,
    .wrapper.style2 select:focus,
    .wrapper.style2 textarea:focus {
        border-color: #444;
    }
    .wrapper.style2 .select-wrapper:before {
        color: #bbb;
    }
    .wrapper.style2 input[type="checkbox"] + label,
    .wrapper.style2 input[type="radio"] + label {
        color: #444;
    }
    .wrapper.style2 input[type="checkbox"] + label:before,
    .wrapper.style2 input[type="radio"] + label:before {
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        background: rgba(144, 144, 144, 0.075);
        border-color: #e6e6e6;
    }
    .wrapper.style2 input[type="checkbox"]:checked + label:before,
    .wrapper.style2 input[type="radio"]:checked + label:before {
        background-color: #444;
        border-color: #444;
        color: #fff;
    }
    .wrapper.style2 input[type="checkbox"]:focus + label:before,
    .wrapper.style2 input[type="radio"]:focus + label:before {
        border-color: #444;
    }
    .wrapper.style2::-webkit-input-placeholder {
        color: #bbb !important;
    }
    .wrapper.style2:-moz-placeholder {
        color: #bbb !important;
    }
    .wrapper.style2::-moz-placeholder {
        color: #bbb !important;
    }
    .wrapper.style2:-ms-input-placeholder {
        color: #bbb !important;
    }
    .wrapper.style2 .formerize-placeholder {
        color: #bbb !important;
    }
    .wrapper.style2 .icon-wrapper {
        background-color: rgba(144, 144, 144, 0.075);
        box-shadow: 0 -1px 0 0 rgba(144, 144, 144, 0.075), 0 1px 0 0 rgba(144, 144, 144, 0.075);
    }
    .wrapper.style2 .icon-wrapper:before {
        border-bottom-color: rgba(144, 144, 144, 0.075);
    }
    .wrapper.style2 .icon-wrapper:after {
        border-top-color: rgba(144, 144, 144, 0.075);
    }
    .wrapper.style2 ul.alt li {
        border-top-color: #e6e6e6;
    }
    .wrapper.style2 ul.menu li {
        border-left-color: #e6e6e6;
    }
    .wrapper.style2 .post .content {
        background-color: #fff;
        border: 0;
    }
    .wrapper.style2 table tbody tr {
        border-color: #e6e6e6;
    }
    .wrapper.style2 table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.075);
    }
    .wrapper.style2 table th {
        color: #444;
    }
    .wrapper.style2 table thead {
        border-bottom-color: #e6e6e6;
    }
    .wrapper.style2 table tfoot {
        border-top-color: #e6e6e6;
    }
    .wrapper.style2 table.alt tbody tr td {
        border-color: #e6e6e6;
    }
    .wrapper.style2 + .wrapper {
        border-top: 0;
    }
    .wrapper.style2.split > .inner > *:before {
        background-color: #e6e6e6;
    }
    .wrapper.sidebar > .inner {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .wrapper.sidebar > .inner > header {
        width: 100%;
    }
    .wrapper.sidebar > .inner > .content {
        width: 75%;
        padding: 0 4em 0 0;
    }
    .wrapper.sidebar > .inner > .sidebar {
        width: 25%;
    }
    .wrapper.sidebar.left > .inner {
        -moz-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse;
    }
    .wrapper.sidebar.left > .inner > .content {
        padding: 0 0 0 4em;
    }
}

@media screen and (max-width: 980px) {
    .this {
        .wrapper.sidebar > .inner {
            -moz-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
        }
        .wrapper.sidebar > .inner > .content {
            width: 100%;
            padding: 0;
        }
        .wrapper.sidebar > .inner > .sidebar {
            border-top: solid 2px #e6e6e6;
            margin: 2em 0 0 0;
            padding: 4em 0 0 0;
            width: 100%;
        }
        .wrapper.sidebar.style1 > .inner > .sidebar {
            border-top-color: rgba(255, 255, 255, 0.25);
        }
        .wrapper.sidebar.style2 > .inner > .sidebar {
            border-top-color: #e6e6e6;
        }
    }
}

@media screen and (max-width: 1280px) {
    .this {
        .wrapper {
            padding: 3em 0 1em 0;
        }
        .wrapper > .inner {
            width: 100%;
            padding: 0 3em;
        }
        .wrapper.major-pad {
            padding: 4em 0 2em 0;
        }
        .wrapper.content-pad .content {
            padding: 3em 0 1em 0;
        }
        .wrapper.split > .inner > * {
            width: ~"calc(50% - 2em)";
        }
        .wrapper.split > .inner > *:before {
            margin-left: -2em;
        }
    }
}

@media screen and (max-width: 980px) {
    .this {
        .wrapper > .inner > * {
            width: 100%;
            padding-left: 0 !important;
        }
        .wrapper.split > .inner {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }
        .wrapper.split > .inner > * {
            width: 100%;
            padding-top: 3em;
            margin-top: 1em;
        }
        .wrapper.split > .inner > *:before {
            margin-left: 0;
            position: relative;
            height: 1px;
            width: 100%;
            top: -3em;
        }
        .wrapper.split > .inner > *:first-child {
            padding-top: 0;
            margin-top: 0;
        }
        .wrapper.split > .inner > *:first-child:before {
            display: none;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        .wrapper {
            padding: 2.5em 0 0.5em 0;
        }
        .wrapper > .inner {
            padding: 0 1.5em;
        }
        .wrapper.major-pad {
            padding: 2.5em 0 0.5em 0;
        }
        .wrapper.content-pad .content {
            padding: 2.5em 0 0.5em 0;
        }
    }
}

// Header
body {
    padding-top: 3.5em;
}

.this {
    #header {
        background-color: #fff;
        box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 500;
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        position: fixed;
        text-transform: uppercase;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
    #header h1 {
        height: inherit;
        left: 1.5em;
        line-height: inherit;
        margin: 0;
        padding-bottom: 0;
        position: relative;
    }
    #header h1:after {
        display: none;
    }
    #header h1 a {
        color: inherit;
    }
    #header h1 a span {
        font-weight: 500;
    }
    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 1.5em;
        top: 0;
    }
    #header nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #header nav > ul > li {
        display: inline-block;
        margin-left: 2em;
        padding: 0;
    }
    #header nav > ul > li > ul {
        display: none;
    }
    #header nav > ul > li a {
        text-decoration: none;
        border-bottom: 0;
    }
    #header nav > ul > li a:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    #header nav > ul > li a:before {
        margin-right: 0.75em;
    }
    #header nav > ul > li:first-child {
        margin-left: 0;
    }
    #header + #banner {
        margin-top: -3.5em;
    }
    #header.reveal {
        -webkit-animation: reveal-header 0.5s ease;
        -ms-animation: reveal-header 0.5s ease;
        animation: reveal-header 0.5s ease;
    }
    #header.alt {
        background-color: #444;
        color: #fff;
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        background-color: transparent;
        box-shadow: none;
        overflow: hidden;
        position: absolute;
        top: 1.5em;
    }
    #header.alt input[type="submit"],
    #header.alt input[type="reset"],
    #header.alt input[type="button"],
    #header.alt button,
    #header.alt .button {
        background-color: transparent;
        color: #fff !important;
        box-shadow: inset 0 0 0 1px #fff;
    }
    #header.alt input[type="submit"]:hover,
    #header.alt input[type="reset"]:hover,
    #header.alt input[type="button"]:hover,
    #header.alt button:hover,
    #header.alt .button:hover {
        background-color: rgba(255, 255, 255, 0.075);
    }
    #header.alt input[type="submit"]:active,
    #header.alt input[type="reset"]:active,
    #header.alt input[type="button"]:active,
    #header.alt button:active,
    #header.alt .button:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    #header.alt input[type="submit"].special,
    #header.alt input[type="reset"].special,
    #header.alt input[type="button"].special,
    #header.alt button.special,
    #header.alt .button.special {
        box-shadow: none;
        background-color: #fff;
        color: #444 !important;
    }
    #header.alt input,
    #header.alt select,
    #header.alt textarea {
        color: #fff;
    }
    #header.alt a {
        color: #fff;
    }
    #header.alt strong,
    #header.alt b {
        color: #fff;
    }
    #header.alt h1,
    #header.alt h2,
    #header.alt h3,
    #header.alt h4,
    #header.alt h5,
    #header.alt h6 {
        color: #fff;
    }
    #header.alt blockquote {
        border-left-color: rgba(255, 255, 255, 0.25);
    }
    #header.alt code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }
    #header.alt hr {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }
    #header.alt h1 {
        left: 2.5em;
    }
    #header.alt nav {
        right: 2.5em;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        #header.alt {
            top: 0.75em;
        }
        #header.alt h1 {
            left: 1.5em;
        }
        #header.alt nav {
            right: 1.5em;
        }
    }
}

@media screen and (max-width: 980px) {
    .this {
        #header.alt {
            top: 0;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        #header {
            height: 3em;
            line-height: 3em;
        }
        #header h1 {
            left: 1em !important;
        }
        #header h1 a {
            font-size: 0.9em;
        }
    }
}

.this {
    // Banner
    #banner {
        background-color: #444;
        color: #fff;
        min-height: 40em;
        height: 75vh;
        position: relative;
        background-image: url(../../assets/img/025slide01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #banner a {
        color: #fff;
    }
    #banner h2 {
        color: #fff;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        #banner {
            min-height: 35em;
            height: 60vh;
        }
    }
}

@media screen and (max-width: 980px) {
    .this {
        #banner {
            min-height: 50em;
            height: 75vh;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        #banner {
            min-height: 25em;
        }
    }
}

.this {
    // Main
    #main {
        padding: 6em 0 4em 0;
    }
    #main > .inner > header.major:first-child {
        margin-bottom: 6em;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        #main {
            padding: 4em 0 2em 0;
        }
        #main > .inner > header.major:first-child {
            margin-bottom: 4em;
        }
    }
}

@media screen and (max-width: 736px) {
    .this {
        #main {
            padding: 2.5em 0 0.5em 0;
        }
        #main > .inner > header.major:first-child {
            margin-bottom: 2.5em;
        }
    }
}

.this {
    // Footer
    #footer {
        padding: 4em 0 2em 0;
        border-top: solid 1px #e6e6e6;
        position: relative;
    }
    #footer > .inner {
        margin: 0 auto;
        max-width: 90em;
        position: relative;
        width: 90%;
    }
    #footer .copyright {
        color: #bbb;
        font-size: 0.9em;
    }
    #footer .menu {
        color: #bbb;
        font-size: 0.9em;
        position: absolute;
        right: 0;
        top: 0;
    }
    #footer .menu a {
        color: inherit;
    }
}

@media screen and (max-width: 1280px) {
    .this {
        #footer {
            padding: 3em 0 1em 0;
            text-align: center;
        }
        #footer .copyright {
            margin: 0 0 1em 0;
        }
        #footer .menu {
            position: relative;
        }
    }
}

@media screen and (max-width: 480px) {
    .this {
        #footer .menu li a span {
            display: none;
        }
    }
}
