body {
  background-color: #fff;
  color: #555;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 2;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 12.5pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11.5pt;
  }
}
@media screen and (max-width: 980px) {
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 11.5pt;
  }
}
.this a {
  text-decoration: underline;
}
.this a:hover {
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.6;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h1 a,
.this h2 a,
.this h3 a,
.this h4 a {
  color: inherit;
  text-decoration: none;
}
.this h1.major:after,
.this h2.major:after,
.this h3.major:after,
.this h4.major:after {
  display: block;
  content: "";
  height: 1px;
  margin-top: 1em;
  width: 3em;
}
.this h1.major.special:after,
.this h2.major.special:after,
.this h3.major.special:after,
.this h4.major.special:after {
  margin-left: auto;
  margin-right: auto;
}
.this h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
@media screen and (max-width: 736px) {
  .this h2 {
    font-size: 1.3em;
  }
}
.this h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}
@media screen and (max-width: 736px) {
  .this h3 {
    font-size: 1.2em;
  }
}
.this h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.this a {
  color: #76C8B7;
}
.this strong,
.this b {
  color: #444;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  color: #444;
}
.this h1.major:after,
.this h2.major:after,
.this h3.major:after,
.this h4.major:after {
  background-color: #444;
}
.this .box {
  border-radius: 4px;
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em;
}
.this .box > :last-child,
.this .box > :last-child > :last-child,
.this .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.this .box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.this .box {
  border-color: rgba(144, 144, 144, 0.3);
}
.this button,
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.25em;
  letter-spacing: 0.07em;
  line-height: 3.35em;
  overflow: hidden;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.this button.icon,
.this .button.icon {
  padding-left: 1.35em;
}
.this button.icon:before,
.this .button.icon:before {
  margin-right: 0.5em;
}
.this button.fit,
.this .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
.this button.small,
.this .button.small {
  font-size: 0.8em;
}
.this button.big,
.this .button.big {
  font-size: 1.15em;
  padding: 0 3.5em;
}
.this button.disabled,
.this button:disabled,
.this .button.disabled,
.this .button:disabled {
  pointer-events: none;
  opacity: 0.25;
}
.this button,
.this .button {
  background-color: transparent;
  border-color: rgba(144, 144, 144, 0.3);
  color: #444 !important;
}
.this button:hover,
.this .button:hover {
  background-color: rgba(144, 144, 144, 0.1);
}
.this button:active,
.this .button:active {
  background-color: rgba(144, 144, 144, 0.2);
}
.this button.icon:before,
.this .button.icon:before {
  color: #444;
}
.this button.special,
.this .button.special {
  border: none;
  background-color: #76C8B7;
  color: #ffffff !important;
}
.this button.special:hover,
.this .button.special:hover {
  background-color: #88cfc1;
}
.this button.special:active,
.this .button.special:active {
  background-color: #64c1ad;
}
.this button.special.icon:before,
.this .button.special.icon:before {
  color: #ffffff;
}
.this .icon {
  text-decoration: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this .icon.major {
  display: block;
  margin-bottom: 2em;
}
.this .icon.major:before {
  font-size: 3.25em;
  line-height: 1;
}
.this .icon.major:before {
  color: #76C8B7;
}
.this .image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image img {
  border-radius: 4px;
  display: block;
}
.this .image.left,
.this .image.right {
  max-width: 40%;
}
.this .image.left img,
.this .image.right img {
  width: 100%;
}
.this .image.left {
  float: left;
  margin: 0 2.5em 2em 0;
  top: 0.25em;
}
.this .image.right {
  float: right;
  margin: 0 0 2em 2.5em;
  top: 0.25em;
}
.this .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.this .image.fit img {
  width: 100%;
}
.this .image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.this .image.main img {
  width: 100%;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.alt {
  list-style: none;
  padding-left: 0;
}
.this ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}
.this ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.contact {
  list-style: none;
  padding: 0;
}
.this ul.contact li {
  text-decoration: none;
  padding: 0.65em 0 0 2em;
}
.this ul.contact li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this ul.contact li:before {
  float: left;
  margin-left: -2em;
}
.this ul.contact li:first-child {
  padding-top: 0;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 2em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  line-height: 1;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(101%);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100.5%);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 480px) {
  .this button,
  .this .button {
    padding: 0;
  }
}
@media screen and (max-width: 736px) {
  .this .image.left {
    margin: 0 1.5em 1em 0;
  }
  .this .image.right {
    margin: 0 0 1em 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  .this ul.actions.small li:first-child {
    padding-top: 0;
  }
}
.this ul.alt li {
  border-top-color: rgba(144, 144, 144, 0.3);
}
.this section.special,
.this article.special,
.this header.special {
  text-align: center;
}
.this header p {
  position: relative;
  margin: 0 0 1.5em 0;
}
.this header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}
.this header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}
.this header p {
  color: #bbb;
}
.this .features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}
.this .features > li {
  padding: 4em 4em 2em 4em;
  width: 50%;
}
.this .features > li > .content {
  max-width: 33.5em;
}
.this .features > li:nth-child(odd) > .content {
  float: right;
}
.this .features > li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.035);
}
.this .features > li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.07);
}
.this .features > li:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.105);
}
.this .features > li:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.14);
}
.this .features > li:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.175);
}
.this .features > li:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.21);
}
.this .features > li:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.245);
}
.this .features > li:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.28);
}
.this .features > li:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.315);
}
.this .features > li:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.35);
}
.this .features > li:nth-child(11) {
  background-color: rgba(0, 0, 0, 0.385);
}
.this .features > li:nth-child(12) {
  background-color: rgba(0, 0, 0, 0.42);
}
@media screen and (max-width: 980px) {
  .this .features > li {
    padding: 3em 2em 1em 2em;
    text-align: center;
  }
  .this .features > li .major:after {
    margin-left: auto;
    margin-right: auto;
  }
  .this .features > li .major.icon {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 736px) {
  .this .features > li {
    padding: 3em 3em 1em 3em;
    background-color: transparent !important;
    border-top-style: solid;
    border-top-width: 2px;
    width: 100%;
  }
  .this .features > li:first-child {
    border-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .this .features > li {
    padding: 3em 2em 1em 2em;
  }
}
.this .features > li {
  border-top-color: rgba(144, 144, 144, 0.1);
}
.this .spotlight {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.this .spotlight .image {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 0;
  width: 40%;
}
.this .spotlight .image img {
  border-radius: 0;
  width: 100%;
}
.this .spotlight .content {
  padding: 2em 4em 0.1em 4em;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  max-width: 48em;
  width: 60%;
}
.this .spotlight:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.this .spotlight:last-child {
  border-bottom: none;
}
@media screen and (max-width: 1280px) {
  .this .spotlight .image {
    width: 45%;
  }
  .this .spotlight .content {
    width: 55%;
  }
}
@media screen and (max-width: 980px) {
  .this .spotlight {
    border-bottom: none;
    display: block;
  }
  .this .spotlight .image {
    display: block;
    width: 100%;
  }
  .this .spotlight .content {
    padding: 3em 3em 1em 3em;
    display: block;
    max-width: none;
    text-align: center;
    width: 100%;
  }
  .this .spotlight .content .major:after {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 736px) {
  .this .spotlight .content {
    padding: 3em 2em 1em 2em;
  }
}
@media screen and (max-width: 480px) {
  .this .spotlight .content {
    padding: 2.5em 2em 0.5em 2em;
  }
}
.this .spotlight {
  border-bottom-color: rgba(144, 144, 144, 0.3);
}
.this .wrapper {
  padding: 5em 0 3em 0;
  position: relative;
}
.this .wrapper > .inner {
  margin: 0 auto;
  max-width: 75em;
  width: 100%;
}
.this .wrapper > .inner.narrow {
  max-width: 32em;
}
.this .wrapper.alt {
  padding: 0;
}
.this .wrapper.style2 {
  background-color: #545669;
  color: #e5e5e8;
}
.this .wrapper.style2 input,
.this .wrapper.style2 select,
.this .wrapper.style2 textarea {
  color: #ffffff;
}
.this .wrapper.style2 a {
  color: #76C8B7;
}
.this .wrapper.style2 strong,
.this .wrapper.style2 b {
  color: #ffffff;
}
.this .wrapper.style2 h1,
.this .wrapper.style2 h2,
.this .wrapper.style2 h3,
.this .wrapper.style2 h4,
.this .wrapper.style2 h5,
.this .wrapper.style2 h6 {
  color: #ffffff;
}
.this .wrapper.style2 h1.major:after,
.this .wrapper.style2 h2.major:after,
.this .wrapper.style2 h3.major:after,
.this .wrapper.style2 h4.major:after,
.this .wrapper.style2 h5.major:after,
.this .wrapper.style2 h6.major:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 blockquote {
  border-left-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 code {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 hr {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 .box {
  border-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 button,
.this .wrapper.style2 .button {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.3);
  color: #ffffff !important;
}
.this .wrapper.style2 button:hover,
.this .wrapper.style2 .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.this .wrapper.style2 button:active,
.this .wrapper.style2 .button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.this .wrapper.style2 button.icon:before,
.this .wrapper.style2 .button.icon:before {
  color: #ffffff;
}
.this .wrapper.style2 button.special,
.this .wrapper.style2 .button.special {
  border: none;
  background-color: #76C8B7;
  color: #ffffff !important;
}
.this .wrapper.style2 button.special:hover,
.this .wrapper.style2 .button.special:hover {
  background-color: #88cfc1;
}
.this .wrapper.style2 button.special:active,
.this .wrapper.style2 .button.special:active {
  background-color: #64c1ad;
}
.this .wrapper.style2 button.special.icon:before,
.this .wrapper.style2 .button.special.icon:before {
  color: #ffffff;
}
.this .wrapper.style2 label {
  color: #ffffff;
}
.this .wrapper.style2 select,
.this .wrapper.style2 textarea {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 select:focus,
.this .wrapper.style2 textarea:focus {
  border-color: #76C8B7;
  box-shadow: 0 0 0 1px #76C8B7;
}
.this .wrapper.style2 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 header p {
  color: #babbc3;
}
.this .wrapper.style2 table tbody tr {
  border-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.1);
}
.this .wrapper.style2 table th {
  color: #ffffff;
}
.this .wrapper.style2 table thead {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 table tfoot {
  border-top-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 .features > li {
  border-top-color: rgba(0, 0, 0, 0.1);
}
.this .wrapper.style2 .spotlight {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.this .wrapper.style2 .icon.major:before {
  color: #76C8B7;
}
@media screen and (max-width: 1280px) {
  .this .wrapper {
    padding: 4em 2em 2em 2em;
  }
}
@media screen and (max-width: 980px) {
  .this .wrapper {
    padding: 4em 2em 2em 2em;
  }
}
@media screen and (max-width: 736px) {
  .this .wrapper {
    padding: 3.5em 2em 1.5em 2em;
  }
}
@media screen and (max-width: 480px) {
  .this .wrapper {
    padding: 3em 2em 1em 2em;
  }
}
