.section {
    padding: 90px 0;
    background: url(../../libs/background/01.jpg);
    background-position: center;
    h1 {
        font-size: 28px;
        margin: 0;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: "Raleway";
        font-weight: 600;
    }
    .id-color {
        color: #ffa200;
    }
    .small-border {
        height: 1px;
        width: 120px;
        background: #ccc;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: #ffa200;
    }
    .lead {
        font-size: 16px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.4;
    }
    .spacer-single {
        width: 100%;
        height: 30px;
        display: block;
        clear: both;
    }
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
}