// Basic
body {
    background: #fff;
    color: #4a4a4a;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
}

.this {
    // Box Model
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    p {
        margin: 0 0 2em 0;
    }
    h1,
    h2,
    h3 {
        color: #2a2a2a;
        font-weight: 600;
        letter-spacing: 0.125em;
        line-height: 1em;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    h1 a,
    h2 a,
    h3 a {
        color: inherit;
        text-decoration: none;
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.75em;
    }
    h3 {
        font-size: 1.25em;
        line-height: 1.5em;
    }
    header p {
        letter-spacing: 0.125em;
        margin: 0 0 1.5em 0;
        position: relative;
        text-transform: uppercase;
    }
    header h2 + p {
        font-size: 1em;
        margin-top: -0.85em;
        line-height: 1.75em;
    }
    header h3 + p {
        font-size: 0.9em;
        margin-top: -0.75em;
        line-height: 1.75em;
    }
    // Image
    .image {
        border: 0;
        display: inline-block;
        position: relative;
    }
    .image:before {
        background: url("../../assets/img/021overlay.png");
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .image img {
        display: block;
    }
    .image.fit {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }
    .image.fit img {
        display: block;
        width: 100%;
    }
    // Image Feature
    .image-feature {
        position: relative;
        text-align: center;
        margin: 0 0.5em 2em 0.5em;
    }
    .image-feature > a {
        display: block;
    }
    .image-feature header {
        background: #fff;
        left: 0;
        padding: 1.5em 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .image-feature header:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #fff;
        bottom: -0.5em;
        content: '';
        display: block;
        height: 1em;
        left: 50%;
        margin-left: -0.5em;
        position: absolute;
        width: 1em;
    }
    .image-feature header h3 {
        font-size: 1em;
        margin: 0;
    }
    .image-feature .image {
        margin: 0;
    }
    .image-feature p {
        margin: 0;
    }
    .image-feature footer {
        background: #1d2726;
        background: rgba(29, 39, 38, 0.9);
        bottom: 0;
        color: #fff;
        left: 0;
        padding: 1.5em;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .image-feature footer .button.alt {
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #fff !important;
    }
    // Wrapper
    .wrapper {
        padding: 6em 0 4em 0;
    }
    .wrapper.style3 {
        background: #f4f4f4;
    }
}

// Wide
@media screen and (max-width: 1680px) {
    // Basic
    body {
        font-size: 11pt;
    }
}

// Normal
@media screen and (max-width: 1280px) {
    // Basic
    body {
        font-size: 11pt;
    }
    .this {
        // Wrapper
        .wrapper {
            padding: 4em 0 2em 0;
        }
    }
}

@media screen and (max-width: 980px) {
    // Basic
    html,
    body {
        overflow-x: hidden;
    }
    body {
        font-size: 12pt;
    }
    .this {
        h2 {
            font-size: 1.25em;
            line-height: 1.75em;
        }
        h3 {
            font-size: 1.1em;
            line-height: 1.5em;
        }
        header h2 + p {
            font-size: 0.9em;
        }
        header h3 + p {
            font-size: 0.8em;
        }
        // Image Feature
        .image-feature .image {
            max-height: 30em;
            overflow: hidden;
        }
    }
}

// Mobile
@media screen and (max-width: 736px) {
    // Basic
    body {
        font-size: 12pt;
    }
    .this {
        // Image Feature
        .image-feature {
            margin: 0 auto 2em auto;
            max-width: 100%;
            width: 25em;
        }
        .image-feature .image {
            max-height: none;
        }
        // Wrapper
        .wrapper {
            padding: 2.5em 1.25em 0.5em 1.25em;
        }
    }
}

// Mobile (Portrait)
@media screen and (max-width: 480px) {
    // Basic
    html,
    body {
        min-width: 320px;
    }
    body {
        font-size: 12pt;
    }
    .this {
        h2 br,
        h3 br {
            display: none;
        }
        h2 {
            font-size: 1.15em;
            line-height: 1.75em;
        }
        h3 {
            font-size: 1em;
            line-height: 1.5em;
        }
    }
}
