.this {
    position: relative;
    background: #f3f5f8;
    a {
        color: #353535;
        transition: all 0.5s;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #3dc9b3;
        text-decoration: none;
    }
    p {
        color: #8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    h2 {
        font-size: 15px;
        color: #353535;
        text-transform: uppercase;
        font-weight: bold;
    }
    h2::after {
        content: " ";
        border: solid 2px #3dc9b3;
        display: block;
        width: 35px;
        margin: 25px auto;
    }
    .section-padding {
        padding: 90px 0 100px
    }
    .up-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(61, 201, 179, 0.5);
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 18px;
        line-height: 46px;
        text-align: center;
        position: absolute;
        top: -26px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .up-btn:hover,
    .up-btn:focus {
        color: #fff;
        background: rgba(61, 201, 179, 1);
    }
    .contact-details {
        margin: 70px 0;
    }
    .contact-details h2 {
        font-size: 20px;
    }
    .contact-details h2 span {
        display: block;
        color: #3dc9b3;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 15px;
    }
    .light-box {
        background-color: #fff;
        box-shadow: 0px 3px 0px 0px #f0f2f4;
        padding: 20px 0;
    }
    .light-box:hover,
    .light-box:focus {
        box-shadow: 0px 3px 0px 0px #3dc9b3;
    }
    .box-hover {
        transition: all 500ms ease-in-out;
    }
    .box-hover:hover,
    .box-hover:focus {
        transform: translate(0, -15px);
    }
    .delay-05s {
        animation-delay: 0.5s;
    }
    .delay-1s {
        animation-delay: 1s;
    }
    ul.social-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-right: 10px;
    }
    .social-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #242830;
        display: inline-block;
        color: #fff;
        font-size: 17px;
        line-height: 40px;
        text-align: center;
    }
    .social-btn:hover,
    .social-btn:focus {
        background: #3dc9b3;
        color: #fff;
    }
}
@media screen and (max-width: 767px) {
    .this {
        .iem {
            margin-bottom: 2em;
        }
    }
}