.this {
    background: #f3f5f8;
    a {
        color: #353535;
        transition: all 0.5s;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #3dc9b3;
        text-decoration: none;
    }
    .section-padding {
        padding: 90px 0 100px
    }
    p {
        margin: 50px 0 0;
        line-height: 1.5em;
        font-weight: 200;
    }
    h1.arrow {
        font-size: 15px;
        text-transform: uppercase;
        color: #353535;
        letter-spacing: 1px;
        background: url('../../assets/img/0017-h1-bg.png') no-repeat center bottom;
        padding-bottom: 30px;
        font-weight: bold;
    }
}
