.warp {
    background: rgba(0, 0, 0, 0.8);
    padding: 2em 0.75rem;
    .sec-title {
        margin-top: 2em;
        margin-bottom: 50px;
    }
    .sec-title.white {
        color: #fff;
    }
    .sec-title h2 {
        font-size: 36px;
        margin: 0 0 30px;
        padding-bottom: 30px;
        position: relative;
        text-transform: uppercase;
    }
    .sec-title.white h2 {
        color: #fff;
    }
    .sec-title h2:after {
        border-bottom: 1px solid #009ee3;
        content: " ";
        display: block;
        left: 45%;
        bottom: 0;
        position: absolute;
        width: 115px;
    }
    .sec-title.white h2:after {
        border-bottom: 1px solid #fff;
    }
}
.nopadding {
    padding: 0 !important;
}

//Common Styles
figure {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    max-height: 360px;
    
    img {
        position: relative;
        display: block;
        min-height: 100%;
        width: 100%;
        opacity: 0.8;
    }
    figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
        &::before,
        &::after {
            pointer-events: none;
        }
        &,
        & > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        & > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
    }
    h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        margin: 0;
        span {
            font-weight: 800;
            margin: 0;
        }
    }
    p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 68.5%;
    }
}

//Olny
figure.effect-terry {
    background: #34495e;
}

figure.effect-terry figcaption {
    padding: 1em;
}

figure.effect-terry figcaption::before,
figure.effect-terry figcaption::after {
    position: absolute;
    width: 200%;
    height: 200%;
    border-style: solid;
    border-color: #101010;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-terry figcaption::before {
    right: 0;
    bottom: 0;
    border-width: 0 70px 60px 0;
    -webkit-transform: translate3d(70px,60px,0);
    transform: translate3d(70px,60px,0);
}

figure.effect-terry figcaption::after {
    top: 0;
    left: 0;
    border-width: 15px 0 0 15px;
    -webkit-transform: translate3d(-15px,-15px,0);
    transform: translate3d(-15px,-15px,0);
}

figure.effect-terry img,
figure.effect-terry p a {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-terry img {
    opacity: 0.85;
}

figure.effect-terry h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.4em 10px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(80%,0,0);
    transform: translate3d(80%,0,0);
}

@media screen and (max-width: 920px) {
    figure.effect-terry h2 {
        padding: 0.75em 10px;
        font-size: 120%;
    }
}

figure.effect-terry p {
    float: right;
    clear: both;
    text-align: left;
    text-transform: none;
    font-size: 111%;
}

figure.effect-terry p a {
    display: block;
    margin-bottom: 1em;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(90px,0,0);
    transform: translate3d(90px,0,0);
}

figure.effect-terry p a:hover,
figure.effect-terry p a:focus {
    color: #f3cf3f;
}

figure.effect-terry:hover figcaption::before,
figure.effect-terry:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-terry:hover img {
    opacity: 0.6;

}

figure.effect-terry:hover h2,
figure.effect-terry:hover p a {
    -webkit-transform: translate3d(10%,0,0);
    transform: translate3d(10%,0,0);
}

figure.effect-terry:hover p a {
    opacity: 1;
}

figure.effect-terry:hover p a:first-child {
    -webkit-transition-delay: 0.025s;
    transition-delay: 0.025s;
}

figure.effect-terry:hover p a:nth-child(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-terry:hover p a:nth-child(3) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

figure.effect-terry:hover p a:nth-child(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}