.this {
  padding: 5.5em 0 3.5em 0;
}
.this h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  color: #626c6e;
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 0 0 1em 0;
}
.this p {
  margin: 0 0 2em 0;
  line-height: 1.5em;
  font-weight: 200;
}
.this ul.major-icons {
  list-style: none;
  margin-top: -2.25em;
  padding-left: 0;
}
.this ul.major-icons li {
  text-align: center;
}
.this ul.major-icons li p {
  color: #626c6e;
  font-weight: bold;
}
.this .icon {
  border-bottom: none;
  position: relative;
  text-decoration: none;
  border-radius: 100%;
  border: solid 1px #e2eaec;
  cursor: default;
  display: inline-block;
  height: 12em;
  line-height: 12em;
  margin: 0 0 1.5em 0;
  text-align: center;
  width: 12em;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #fff !important;
  text-shadow: 1px 0 0 #6ec7f5, -1px 0 0 #6ec7f5, 0 1px 0 #6ec7f5, 0 -1px 0 #6ec7f5;
  font-size: 6em;
}
.this .button {
  margin: 2em auto;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  height: 3.7em;
  letter-spacing: 0.1em;
  line-height: 3.85em;
  padding: 0 3.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #d2dadc;
  color: #626c6e !important;
}
.this .button:hover {
  box-shadow: inset 0 0 0 1px #6ec7f5;
  color: #6ec7f5 !important;
}
@media screen and (max-width: 767px) {
  .this .button {
    display: block;
    margin: 0 2em 5em;
    padding: 0;
  }
  .this .contents h2 {
    text-align: center;
  }
}
