@-ms-viewport {
  width: device-width;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  html,
  body {
    min-width: 320px;
  }
}
body {
  background-color: #2e3141;
  background-image: -webkit-linear-gradient(bottom, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  -ms-overflow-style: scrollbar;
}
body,
input,
select,
textarea {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}
@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 640px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
.this a {
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: #ffffff;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: transparent;
  color: #ffffff !important;
}
.this p {
  margin: 0 0 2em 0;
}
.this h2 {
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h2 {
  font-size: 1.2em;
}
@media screen and (max-width: 736px) {
  .this h2 {
    font-size: 1em;
  }
}
/* List */
.this ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}
.this ol li {
  padding-left: 0.25em;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.alt {
  list-style: none;
  padding-left: 0;
}
.this ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.125);
  padding: 0.5em 0;
}
.this ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 1.25em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(101%);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100.5%);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 640px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  .this ul.actions.small li:first-child {
    padding-top: 0;
  }
}
.this {
  /* Image */
  /* Button */
  /* Box */
}
.this a.special:not(.button) {
  text-decoration: none;
  border-bottom: 0;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 2em 0;
  text-transform: uppercase;
}
.this a.special:not(.button):before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this a.special:not(.button):before {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.125);
  display: inline-block;
  font-size: 1.25em;
  height: 2em;
  line-height: 1.65em;
  margin-right: 0.85em;
  text-align: center;
  text-indent: 0.15em;
  vertical-align: middle;
  width: 2em;
}
.this a.special:not(.button):hover:before {
  background-color: rgba(255, 255, 255, 0.025);
}
.this a.special:not(.button):active:before {
  background-color: rgba(255, 255, 255, 0.075);
}
.this .image {
  border-radius: 5px;
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image img {
  border-radius: 5px;
  display: block;
}
.this .image.left,
.this .image.right {
  max-width: 40%;
}
.this .image.left img,
.this .image.right img {
  width: 100%;
}
.this .image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}
.this .image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}
.this .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.this .image.fit img {
  width: 100%;
}
.this .image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.this .image.main img {
  width: 100%;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this button,
.this .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.this input[type="submit"]:hover,
.this input[type="reset"]:hover,
.this input[type="button"]:hover,
.this button:hover,
.this .button:hover {
  background-color: rgba(255, 255, 255, 0.025);
}
.this input[type="submit"]:active,
.this input[type="reset"]:active,
.this input[type="button"]:active,
.this button:active,
.this .button:active {
  background-color: rgba(255, 255, 255, 0.075);
}
.this input[type="submit"].icon:before,
.this input[type="reset"].icon:before,
.this input[type="button"].icon:before,
.this button.icon:before,
.this .button.icon:before {
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.35);
}
.this input[type="submit"].special,
.this input[type="reset"].special,
.this input[type="button"].special,
.this button.special,
.this .button.special {
  background-color: #4c5c96;
  box-shadow: none;
}
.this input[type="submit"].special:hover,
.this input[type="reset"].special:hover,
.this input[type="button"].special:hover,
.this button.special:hover,
.this .button.special:hover {
  background-color: #53639e;
}
.this input[type="submit"].special:active,
.this input[type="reset"].special:active,
.this input[type="button"].special:active,
.this button.special:active,
.this .button.special:active {
  background-color: #45558d;
}
.this input[type="submit"].special.icon:before,
.this input[type="reset"].special.icon:before,
.this input[type="button"].special.icon:before,
.this button.special.icon:before,
.this .button.special.icon:before {
  color: #7884b0;
}
.this input[type="submit"].fit,
.this input[type="reset"].fit,
.this input[type="button"].fit,
.this button.fit,
.this .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
.this input[type="submit"].small,
.this input[type="reset"].small,
.this input[type="button"].small,
.this button.small,
.this .button.small {
  font-size: 0.6em;
}
.this input[type="submit"].big,
.this input[type="reset"].big,
.this input[type="button"].big,
.this button.big,
.this .button.big {
  font-size: 1em;
}
.this input[type="submit"].disabled,
.this input[type="submit"]:disabled,
.this input[type="reset"].disabled,
.this input[type="reset"]:disabled,
.this input[type="button"].disabled,
.this input[type="button"]:disabled,
.this button.disabled,
.this button:disabled,
.this .button.disabled,
.this .button:disabled {
  opacity: 0.25;
}
@media screen and (max-width: 640px) {
  .this input[type="submit"],
  .this input[type="reset"],
  .this input[type="button"],
  .this button,
  .this .button {
    padding: 0;
  }
}
.this .box {
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 2em;
  padding: 1.5em;
}
.this .box > :last-child,
.this .box > :last-child > :last-child,
.this .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.this .box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this #wrapper > header {
  padding: 11em 0 2.25em 0;
}
.this #wrapper > header .inner {
  margin: 0 auto;
  width: 55em;
}
.this #wrapper > header h2 {
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  font-size: 2em;
  margin-bottom: 0.8em;
  padding-bottom: 0.4em;
}
.this #wrapper > header p {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .this #wrapper > header {
    padding: 9em 0 6.25em 0;
    background-color: #2e3141;
    background-image: -webkit-linear-gradient(bottom, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../assets/img/016bg.jpg");
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../assets/img/016bg.jpg");
    background-size: auto, cover;
    background-position: center, 0% 30%;
    margin-bottom: -6.5em;
  }
}
@media screen and (max-width: 980px) {
  .this #wrapper > header {
    padding: 11em 3em 7.375em 3em;
    background-size: auto, cover;
    background-position: center, 0% 0%;
    margin-bottom: -4.75em;
  }
  .this #wrapper > header .inner {
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .this #wrapper > header {
    padding: 6.5em 2em 3em 2em;
    background-size: auto, 125%;
    margin-bottom: -2.5em;
  }
  .this #wrapper > header h2 {
    font-size: 1.25em;
  }
  .this #wrapper > header p {
    font-size: 0.8em;
  }
}
.this .wrapper {
  background-color: #2e3141;
  margin: 6.5em 0;
  position: relative;
}
.this .wrapper:before,
.this .wrapper:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141;' /%3E%3C/svg%3E");
}
.this .wrapper:before,
.this .wrapper:after {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 6.5em;
  position: absolute;
  width: 100%;
}
.this .wrapper:before {
  left: 0;
  top: -6.5em;
}
.this .wrapper:after {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  bottom: -6.5em;
  left: 0;
}
.this .wrapper.alt:before {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.this .wrapper.alt:after {
  -webkit-transform: scaleY(-1) scaleX(-1);
  -ms-transform: scaleY(-1) scaleX(-1);
  transform: scaleY(-1) scaleX(-1);
}
.this .wrapper .inner {
  padding: 3em 0 1em 0;
  margin: 0 auto;
  width: 55em;
}
.this .wrapper.style2 {
  background-color: #353849;
}
.this .wrapper.style2:before,
.this .wrapper.style2:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23353849;' /%3E%3C/svg%3E");
}
.this .wrapper.style3 {
  background-color: #3d4051;
}
.this .wrapper.style3:before,
.this .wrapper.style3:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233d4051;' /%3E%3C/svg%3E");
}
.this .wrapper.style4 {
  background-color: #454858;
}
.this .wrapper.style4:before,
.this .wrapper.style4:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23454858;' /%3E%3C/svg%3E");
}
.this .wrapper.style5 {
  background-color: #4d5060;
}
.this .wrapper.style5:before,
.this .wrapper.style5:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d5060;' /%3E%3C/svg%3E");
}
.this .wrapper.style6 {
  background-color: #555867;
}
.this .wrapper.style6:before,
.this .wrapper.style6:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23555867;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight {
  background-color: #4c5c96;
}
.this .wrapper.spotlight:before,
.this .wrapper.spotlight:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.this .wrapper.spotlight .image {
  border-radius: 100%;
  margin: 0 3em 2em 0;
  width: 22em;
  overflow: hidden;
  -ms-flex: 1;
}
.this .wrapper.spotlight .image img {
  border-radius: 100%;
  width: 100%;
}
.this .wrapper.spotlight .content {
  width: 100%;
  -ms-flex: 2;
}
.this .wrapper.spotlight:nth-child(2n - 1) .inner {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  text-align: right;
}
.this .wrapper.spotlight:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}
.this .wrapper.spotlight.style2 {
  background-color: #45558d;
}
.this .wrapper.spotlight.style2:before,
.this .wrapper.spotlight.style2:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight.style3 {
  background-color: #3f4e85;
}
.this .wrapper.spotlight.style3:before,
.this .wrapper.spotlight.style3:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight.style4 {
  background-color: #39477c;
}
.this .wrapper.spotlight.style4:before,
.this .wrapper.spotlight.style4:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2339477c;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight.style5 {
  background-color: #324072;
}
.this .wrapper.spotlight.style5:before,
.this .wrapper.spotlight.style5:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23324072;' /%3E%3C/svg%3E");
}
.this .wrapper.spotlight.style6 {
  background-color: #2d3a69;
}
.this .wrapper.spotlight.style6:before,
.this .wrapper.spotlight.style6:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69;' /%3E%3C/svg%3E");
}
@media screen and (max-width: 980px) {
  .this .wrapper {
    margin: 4.75em 0;
  }
  .this .wrapper:before,
  .this .wrapper:after {
    height: 4.75em;
  }
  .this .wrapper:before {
    top: -4.75em;
  }
  .this .wrapper:after {
    bottom: -4.75em;
    left: 0;
  }
  .this .wrapper .inner {
    padding: 3em 3em 1em 3em;
    width: 100%;
  }
  .this .wrapper.spotlight .image {
    margin: 0 2em 2em 0;
    width: 32em;
  }
  .this .wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 2em;
  }
}
@media screen and (max-width: 736px) {
  .this .wrapper {
    margin: 2.5em 0;
  }
  .this .wrapper:before,
  .this .wrapper:after {
    height: 2.5em;
  }
  .this .wrapper:before {
    top: -2.5em;
  }
  .this .wrapper:after {
    bottom: -2.5em;
    left: 0;
  }
  .this .wrapper .inner {
    padding: 2em 2em 0.1em 2em;
  }
  .this .wrapper.spotlight .inner {
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .this .wrapper.spotlight .image {
    width: 19em;
    margin: 0 1.75em 2em 0;
  }
  .this .wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 1.75em;
  }
}
@media screen and (max-width: 640px) {
  .this .wrapper.spotlight .inner {
    display: block;
  }
  .this .wrapper.spotlight .image {
    margin: 0 0 1em 0 !important;
    max-width: 85%;
    width: 12em;
  }
}
@media screen and (max-width: 360px) {
  .this .wrapper .inner {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
/* Features */
.this .features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
}
.this .features article {
  padding: 1.75em 1.75em 0.1em 1.75em;
  background-color: #353849;
  border-radius: 5px;
  margin: 1.5em 3em 1.5em 0;
  width: calc(50% - 1.5em);
}
.this .features article:nth-child(2n) {
  margin-right: 0;
}
.this .features article .image {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-bottom: 1.75em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  position: relative;
  width: calc(100% + 3.5em);
}
.this .features article .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .this .features article {
    margin: 1em 2em 1em 0;
    width: calc(50% - 1em);
  }
}
@media screen and (max-width: 736px) {
  .this .features article {
    padding: 1.5em 1.5em 0.1em 1.5em;
    margin: 0.875em 1.75em 0.875em 0;
    width: calc(50% - 0.875em - 1px);
  }
  .this .features article .image {
    margin-bottom: 1.5em;
    margin-left: -1.5em;
    margin-top: -1.5em;
    width: calc(100% + 3em);;
  }
}
@media screen and (max-width: 640px) {
  .this .features {
    display: block;
  }
  .this .features article {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }
}
