.partner {
  background-color: #f8f8f8;
  padding: 90px 0;
}
.partner .section-title {
  color: #313131;
  margin: 0 0 30px;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}
.partner .fa {
  display: block;
  opacity: 0.3;
  height: 150px;
  font-size: 100px;
  width: 150px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
          transition: 0.5s all linear;
  text-decoration: none;
  color: #666;
  border: solid 1px #ccc;
  box-shadow: 0 0 10px #ccc inset;
  text-align: center;
  line-height: 150px;
}
.partner .fa:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
