body {
    background: #f5f5f5;
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

.this {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    a {
        transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 1px;
        color: #e89980;
        text-decoration: none;
    }
    a:hover {
        border-bottom-color: transparent;
    }
    p {
        margin: 0 0 2em 0;
    }
    h1,
    h2 {
        color: #646464;
        font-weight: 300;
        line-height: 1em;
        margin: 0 0 0.5em 0;
    }
    h1 a,
    h2 a {
        color: inherit;
        text-decoration: none;
    }
    ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }
    ul li {
        padding-left: 0.5em;
    }
    #header {
        background: #444;
        color: #bbb;
        cursor: default;
        height: 3.25em;
        left: 0;
        line-height: 3.25em;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
    #header h1 {
        color: inherit;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        font-size: 1.5em;
    }
    #header h1 a {
        color: #fff;
        font-weight: 400;
        border: 0;
    }
    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 0.75em;
        top: 0;
        vertical-align: middle;
    }
    #header nav > ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    #header nav > ul > li {
        display: inline-block;
        padding-left: 0;
    }
    #header nav > ul > li > ul {
        display: none;
    }
    #header nav > ul > li a {
        display: inline-block;
        height: 2em;
        line-height: 1.95em;
        padding: 0 1em;
        border-radius: 6px;
        color: #fff;
    }
    #header nav > ul > li:first-child {
        margin-left: 0;
    }
    #header .ct-container {
        position: relative;
    }
    #header .ct-container h1 {
        left: 0;
    }
    #header .ct-container nav {
        right: 0;
    }
}

// Wide 
@media screen and (max-width: 1680px) {
    // Basic 
    body {
        font-size: 13pt;
    }
}

// Normal 
@media screen and (max-width: 1280px) {
    // Basic 
    body {
        font-size: 11pt;
    }
}

// Narrow 
@media screen and (max-width: 980px) {
    // Basic 
    body {
        font-size: 11pt;
    }
}

@media screen and (max-width: 840px) {
    // Basic 
    html,
    body {
        overflow-x: hidden;
    }
    body {
        font-size: 11pt;
    }
    .this {
        #main.main {
            margin-top: 0;
        }
        #header {
            text-align: center;
            height: auto;
            position: relative;
            h1,
            nav {
                position: static;
            }
        }
    }
}

@media screen and (max-width: 736px) {
    // Basic 
    body {
        font-size: 11pt;
    }
}

// Mobile (Portrait) 
@media screen and (max-width: 480px) {
    // Basic 
    html,
    body {
        min-width: 320px;
    }
    body {
        font-size: 11pt;
    }
}
