a {
  text-decoration: none;
}
.projects {
  margin: 0;
  padding: 0;
  background: #32353a;
}
.projects-header {
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
}
.projects-header h2 {
  font-weight: 100;
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.projects-header p {
  color: #eee;
  font-size: 17px;
  line-height: 1.75em;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.projects-holder {
  margin-bottom: 80px;
}
.p-1 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.p-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.p-3 {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.p-4 {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.p-5 {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}
.p-6 {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}
.p-7 {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}
.project-title {
  padding: 60px;
  background: #46494f;
  margin-bottom: 20px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.project-item {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border: 3px solid #1a1c1f;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.project-item img {
  width: 100%;
  display: block;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(169, 91, 195, 0.9);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.overlay h4 {
  font-size: 18px;
  position: relative;
  top: 40%;
  font-weight: 100;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay h4 a {
  color: #fff;
}
.project-item:hover .overlay {
  opacity: 1;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.project-item.one {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.project-item.two {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.project-item.three {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.project-item.four {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
