a {
  text-decoration: none;
}
.projects {
  margin: 0;
  padding: 0;
  background: #32353a;
}
.projects-header {
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
}
.projects-header h2 {
  font-weight: 100;
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.projects-header p {
  color: #eee;
  font-size: 17px;
  line-height: 1.75em;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.projects-holder {
  margin-bottom: 80px;
}
.project-title {
  padding: 60px;
  background: #46494f;
  margin-bottom: 20px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.project-item {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border: 3px solid #1a1c1f;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.project-item img {
  width: 100%;
  display: block;
}
