.this {
  padding: 6em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-image: url("../../assets/img/overlay2.png"), url("../../assets/img/overlay4.svg"), -webkit-linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
  background-image: url("../../assets/img/overlay2.png"), url("../../assets/img/overlay4.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.this .inner {
  opacity: 1;
  position: relative;
  z-index: 1;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  font-size: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this a {
  color: #fff;
}
.this a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.this .copyright {
  font-size: 0.8em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
.this .copyright li:first-child {
  display: inline-block;
  line-height: 1em;
  border-left: 0;
  margin-left: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .this {
    text-align: center;
    padding: 4em 0 3em 0;
  }
}
