body {
  background-color: #fff;
  color: #555;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 2;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 12.5pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11.5pt;
  }
}
@media screen and (max-width: 980px) {
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 11.5pt;
  }
}
.this a {
  text-decoration: underline;
}
.this a:hover {
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.6;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h1 a,
.this h2 a,
.this h3 a,
.this h4 a {
  color: inherit;
  text-decoration: none;
}
.this h1.major:after,
.this h2.major:after,
.this h3.major:after,
.this h4.major:after {
  display: block;
  content: "";
  height: 1px;
  margin-top: 1em;
  width: 3em;
}
.this h1.major.special:after,
.this h2.major.special:after,
.this h3.major.special:after,
.this h4.major.special:after {
  margin-left: auto;
  margin-right: auto;
}
.this h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
@media screen and (max-width: 736px) {
  .this h2 {
    font-size: 1.3em;
  }
}
.this h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}
@media screen and (max-width: 736px) {
  .this h3 {
    font-size: 1.2em;
  }
}
.this h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.this a {
  color: #76C8B7;
}
.this strong,
.this b {
  color: #444;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  color: #444;
}
.this h1.major:after,
.this h2.major:after,
.this h3.major:after,
.this h4.major:after {
  background-color: #444;
}
.this .box {
  border-radius: 4px;
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em;
}
.this .box > :last-child,
.this .box > :last-child > :last-child,
.this .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.this .box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.this .box {
  border-color: rgba(144, 144, 144, 0.3);
}
.this button,
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.25em;
  letter-spacing: 0.07em;
  line-height: 3.35em;
  overflow: hidden;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.this button.icon,
.this .button.icon {
  padding-left: 1.35em;
}
.this button.icon:before,
.this .button.icon:before {
  margin-right: 0.5em;
}
.this button.fit,
.this .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
.this button.small,
.this .button.small {
  font-size: 0.8em;
}
.this button.big,
.this .button.big {
  font-size: 1.15em;
  padding: 0 3.5em;
}
.this button.disabled,
.this button:disabled,
.this .button.disabled,
.this .button:disabled {
  pointer-events: none;
  opacity: 0.25;
}
.this button,
.this .button {
  background-color: transparent;
  border-color: rgba(144, 144, 144, 0.3);
  color: #444 !important;
}
.this button:hover,
.this .button:hover {
  background-color: rgba(144, 144, 144, 0.1);
}
.this button:active,
.this .button:active {
  background-color: rgba(144, 144, 144, 0.2);
}
.this button.icon:before,
.this .button.icon:before {
  color: #444;
}
.this button.special,
.this .button.special {
  border: none;
  background-color: #76C8B7;
  color: #ffffff !important;
}
.this button.special:hover,
.this .button.special:hover {
  background-color: #88cfc1;
}
.this button.special:active,
.this .button.special:active {
  background-color: #64c1ad;
}
.this button.special.icon:before,
.this .button.special.icon:before {
  color: #ffffff;
}
.this .icon {
  text-decoration: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this .icon.major {
  display: block;
  margin-bottom: 2em;
}
.this .icon.major:before {
  font-size: 3.25em;
  line-height: 1;
}
.this .icon.major:before {
  color: #76C8B7;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.alt {
  list-style: none;
  padding-left: 0;
}
.this ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}
.this ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.contact {
  list-style: none;
  padding: 0;
}
.this ul.contact li {
  text-decoration: none;
  padding: 0.65em 0 0 2em;
}
.this ul.contact li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this ul.contact li:before {
  float: left;
  margin-left: -2em;
}
.this ul.contact li:first-child {
  padding-top: 0;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 2em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  line-height: 1;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(101%);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100.5%);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
@media screen and (max-width: 480px) {
  .this button,
  .this .button {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  .this ul.actions.small li:first-child {
    padding-top: 0;
  }
}
.this #footer {
  background-color: #545669;
  color: #e5e5e8;
  padding: 5em 0 3em 0;
}
.this #footer input,
.this #footer select,
.this #footer textarea {
  color: #ffffff;
}
.this #footer a {
  color: #76C8B7;
}
.this #footer strong,
.this #footer b {
  color: #ffffff;
}
.this #footer h1,
.this #footer h2,
.this #footer h3,
.this #footer h4 {
  color: #ffffff;
}
.this #footer h1.major:after,
.this #footer h2.major:after,
.this #footer h3.major:after,
.this #footer h4.major:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.this #footer blockquote {
  border-left-color: rgba(0, 0, 0, 0.3);
}
.this #footer code {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
}
.this #footer hr {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.this #footer .box {
  border-color: rgba(0, 0, 0, 0.3);
}
.this #footer button,
.this #footer .button {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.3);
  color: #ffffff !important;
}
.this #footer button:hover,
.this #footer .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.this #footer button:active,
.this #footer .button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.this #footer button.icon:before,
.this #footer .button.icon:before {
  color: #ffffff;
}
.this #footer button.special,
.this #footer .button.special {
  border: none;
  background-color: #76C8B7;
  color: #ffffff !important;
}
.this #footer button.special:hover,
.this #footer .button.special:hover {
  background-color: #88cfc1;
}
.this #footer button.special:active,
.this #footer .button.special:active {
  background-color: #64c1ad;
}
.this #footer button.special.icon:before,
.this #footer .button.special.icon:before {
  color: #ffffff;
}
.this #footer ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.3);
}
.this #footer header p {
  color: #babbc3;
}
.this #footer .features > li {
  border-top-color: rgba(0, 0, 0, 0.1);
}
.this #footer .spotlight {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.this #footer .icon.major:before {
  color: #76C8B7;
}
.this #footer a {
  color: inherit;
  text-decoration: none;
}
.this #footer a:hover {
  color: #ffffff;
}
.this #footer > .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75em;
  width: 100%;
}
.this #footer .about {
  width: 50%;
  margin-bottom: 2em;
}
.this #footer .contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 2em;
  padding-left: 4em;
  width: 50%;
}
.this #footer .contact-info h4 {
  width: 100%;
}
.this #footer .contact-info ul {
  width: 50%;
}
.this #footer .copyright {
  color: #bbb;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
}
.this #footer .copyright li {
  border-left: solid 1px rgba(144, 144, 144, 0.3);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
.this #footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (max-width: 1280px) {
  .this #footer {
    padding: 4em 2em 2em 2em;
  }
  .this #footer .contact-info {
    padding-left: 2em;
  }
}
@media screen and (max-width: 980px) {
  .this #footer {
    padding: 4em 2em 2em 2em;
  }
  .this #footer .about {
    width: 100%;
  }
  .this #footer .contact-info {
    padding-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .this #footer {
    padding: 3.5em 2em 1.5em 2em;
  }
  .this #footer .about,
  .this #footer .contact-info {
    margin-bottom: 1em;
  }
  .this #footer .copyright li {
    display: block;
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .this #footer {
    padding: 3em 2em 1em 2em;
  }
  .this #footer .copyright {
    text-align: left;
  }
  .this #footer .contact-info ul {
    margin-bottom: 0;
    width: 100%;
  }
}
