.this {
    display: block;
    padding: 5.5em 0 3.5em 0;
    .box {
        margin-bottom: 1em;
        border: 0;
        border-radius: 0;
        padding: 0;
        * >:last-child {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    .image {
        border-radius: 6px;
        border: 0;
        display: inline-block;
        position: relative;
        .caption {
            background: rgba(35, 38, 38, 0.7);
            border-radius: 0 0 6px 6px;
            bottom: 0;
            color: #fff;
            font-size: 1em;
            font-weight: bold;
            left: 0;
            line-height: 1.5em;
            margin: 0;
            padding: 0.75em 1.25em;
            position: absolute;
            width: 100%;
        }
        img {
            border-radius: 6px;
            display: block;
            width: 100%;
        }
    }
    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }
    h2 {
        font-size: 1.75em;
        line-height: 1.5em;
        color: #626c6e;
        font-weight: bold;
        letter-spacing: -0.05em;
        margin: 0 0 1em 0;
    }
    p {
        margin: 0 0 2em 0;
        line-height: 1.5em;
        font-weight: 200;
    }
    .button {
        display: inline-block;
        margin: 2em auto;
        appearance: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        border-radius: 0;
        border: 0;
        cursor: pointer;
        font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        height: 3.7em;
        letter-spacing: 0.1em;
        line-height: 3.85em;
        padding: 0 3.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
        color: #555 !important;
        &:hover {
            box-shadow: inset 0 0 0 1px #6ec7f5;
            color: #6ec7f5 !important;
        }
    }
}
@media screen and (max-width: 767px) {
    .this {
        .button { display: block; margin: 0 2em; padding: 0; }
        .contents h2 {
            text-align: center;
        }
    }
}