<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="SqlServer" />
    <add key="ConnectionString" value="server=(local);uid=sa;pwd=777777;database=SiteServer" />
    <!--账号-->
    <add key="accountId" value="dllmobilecn" />
    <!--密码-->
    <add key="password" value="Xta3E8hN" />
    <!--短信产品-->
    <add key="productId_sms" value="1012818" />
    <!--国际短信产品-->
    <add key="productId_international_sms" value="1012818" />
    <!--语音短信产品-->
    <add key="productId_voice" value="1012828" />
    <!--彩信产品-->
    <add key="productId_mms" value="2012821" />
    <!--短信类型名称-->
    <add key="type_sms" value="短信" />
    <!--营销短信类型名称-->
    <add key="type_international_sms" value="国际短信" />
    <!--语音短信类型名称-->
    <add key="type_voice" value="语音短信" />
    <!--彩信类型名称-->
    <add key="type_mms" value="彩信" />
    <!--短信内容文件路径-->
    <add key="path_sms" value="SmsMmsFiles/sms.txt" />
    <!--国际短信内容文件路径-->
    <add key="path_international_sms" value="SmsMmsFiles/internationalSms.txt" />
    <!--语音短信内容文件路径-->
    <add key="path_voice" value="SmsMmsFiles/voice.txt" />
    <!--彩信内容文件路径-->
    <add key="path_mms" value="SmsMmsFiles/mms.tms" />
    <!--短信每天每个号码测试次数限制-->
    <add key="limit_sms" value="3" />
    <!--国际短信每天每个号码测试次数限制-->
    <add key="limit_international_sms" value="3" />
    <!--语音短信每天每个号码测试次数限制-->
    <add key="limit_voice" value="3" />
    <!--彩信每天每个号码测试次数限制-->
    <add key="limit_mms" value="3" />
    <!--信息发送IP限制-->
    <add key="limit_ip" value="50" />
    <!--极验验证ID-->
    <add key="publicKey" value="3070d934464910d9977aa915b61bf106" />
    <!--极验验证Key-->
    <add key="privateKey" value="c63c52b571c605b616488814a16262ee" />
    <!--极验验证失败提示信息-->
    <add key="checkFailMessage" value="验证失败" />
    <!--测试次数达到限制提示信息,变量0手机号码，1类型，2限制次数-->
    <add key="limitMessage" value="手机号码[{0}]今日测试{1}次数已经达到测试上限[{2}]次" />
    <!--测试次数达到限制提示信息,变量0手机号码，1类型，2限制次数-->
    <add key="ipLimitMessage" value="当前IP地址已经达到测试上限[{0}]次" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1000000" executionTimeout="2000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="false" />
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="30" />
    <trace enabled="false" requestLimit="1000" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation defaultLanguage="C#" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="SiteServer" type="BaiRong.Provider.HttpModule.SiteServerHttpModule, BaiRong.Provider" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
        <binding name="MmsWebInterfaceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="MmsWebInterfaceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://cf.51welink.com/submitdata/service.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="SmsServiceReference.Service1Soap" name="Service1Soap" />
      <endpoint address="http://cf.51welink.com/submitdata/mmswebinterface.asmx" binding="basicHttpBinding" bindingConfiguration="MmsWebInterfaceSoap" contract="MmsServiceReference.MmsWebInterfaceSoap" name="MmsWebInterfaceSoap" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {AB9276A3-B83D-43B3-9365-906F90176684}-->