@green: #50b350;
.settings {
    padding: 20px;
    hr {
        display: block;
        width: 100%;
        height: 1px;
        margin: 40px 0;
        background-color: 1px solid #ccc;
        &.line {
            width: 65%;
            margin: 30px 0;
            border: none;
            // background-image: linear-gradient(to right, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 10%, rgba(204, 204, 204, 0.8) 50%,rgba(204, 204, 204, 0) 90%, rgba(204, 204, 204, 0) 100%);
            background-image: linear-gradient( to right, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, .8) 10%, rgba(204, 204, 204, .8) 90%, rgba(204, 204, 204, 0) 100%);
        }
        &.space {
            margin: 10px 0;
            border: none;
            background-color: transparent;
        }
    }
    .title {
        font-size: 16px;
        font-weight: 200;
        line-height: 2;
        color: @green;
    }
    .summary {
        font-size: 14px;
        font-weight: 200;
        line-height: 1.5;
        color: #999;
        margin-bottom: 2em;
    }
    .label-title {
        font-size: 13px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
        color: #666;
        span {
            font-weight: 100;
            color: #ccc;
        }
    }
    .avatar-set {
        position: relative;
        height: 160px;
        .set {
            position: absolute;
            bottom: 0;
            left: 170px;
        }
        .avatar {
            width: 160px;
            height: 160px;
        }
    }
    .label-input {
        position: relative;
    }
    .input-value {
        font-size: 14px;
        font-weight: 200;
        line-height: 35px;
        display: inline-block;
        width: auto;
        height: 35px;
        padding-right: 40px;
        padding-left: 5px;
        color: #666;
        border-bottom: 1px #ccc solid;
        background-color: transparent;
    }
    .form-control {
        position: relative;
        .explain {
            font-size: 13px;
            font-weight: 200;
            line-height: 1.2;
            margin: 10px 0;
            color: #ccc;
        }
    }
    .input {
        font-size: 14px;
        font-weight: 200;
        line-height: 35px;
        width: 65%;
        height: 35px;
        padding: 0 5px;
        color: #666;
        border: none;
        border-bottom: solid 1px @green;
        outline: none;
        background: transparent;
        &:focus {
            border-bottom: solid 2px @green;
        }
    }
    .form-checkbox {
        padding: 10px 20px;
        label {
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            color: #666;
        }
        .label-radio {
            float: left;
            margin: 10px 0 0 -20px;
            vertical-align: middle;
        }
        .fa {
            color: #ccc;
            font-size: 32px;
            width: 30px;
            display: inline-block;
            float: left;
            margin-right: 5px;
            user-select: none;
            text-decoration: none;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            olor: #bbb;

            &.fa-lock {
                color: #e9dba5;
                font-size: 42px;
            }
        }
        .note {
            font-size: 12px;
            font-weight: normal;
            line-height: 1;
            display: block;
            min-height: 17px;
            margin: 0;
            color: #ccc;
        }
    }
}
