 body {
     background-color: #fff;
     color: #555;
     font-family: "Raleway", Helvetica, Arial, sans-serif;
     font-size: 13pt;
     font-weight: 300;
     letter-spacing: 0.02em;
     line-height: 2;
 }
 
 .this {
     *,
     *:before,
     *:after {
         box-sizing: border-box;
     }
 }
 
 @media screen and (max-width: 1680px) {
     body {
         font-size: 12.5pt;
     }
 }
 
 @media screen and (max-width: 1280px) {
     body {
         font-size: 11.5pt;
     }
 }
 
 @media screen and (max-width: 980px) {
     body {
         font-size: 12pt;
     }
 }
 
 @media screen and (max-width: 736px) {
     body {
         font-size: 12pt;
     }
 }
 
 @media screen and (max-width: 480px) {
     body {
         font-size: 11.5pt;
     }
 }
 
 .this {
     a {
         text-decoration: underline;
     }
     a:hover {
         text-decoration: none;
     }
     p {
         margin: 0 0 2em 0;
     }
     h1,
     h2,
     h3,
     h4 {
         font-weight: 700;
         letter-spacing: 0.07em;
         line-height: 1.6;
         margin: 0 0 1em 0;
         text-transform: uppercase;
         padding: 1em 0;
     }
     h1 a,
     h2 a,
     h3 a,
     h4 a {
         color: inherit;
         text-decoration: none;
     }
     h1.major:after,
     h2.major:after,
     h3.major:after,
     h4.major:after {
         display: block;
         content: "";
         height: 1px;
         margin-top: 1em;
         width: 3em;
     }
     h1.major.special:after,
     h2.major.special:after,
     h3.major.special:after,
     h4.major.special:after {
         margin-left: auto;
         margin-right: auto;
     }
     h2 {
         font-size: 1.75em;
         line-height: 1.5em;
     }
 }
 
 @media screen and (max-width: 736px) {
     .this {
         h2 {
             font-size: 1.3em;
         }
     }
 }
 
 .this {
     h3 {
         font-size: 1.35em;
         line-height: 1.5em;
     }
 }
 
 @media screen and (max-width: 736px) {
     .this {
         h3 {
             font-size: 1.2em;
         }
     }
 }
 
 .this {
     h4 {
         font-size: 1.1em;
         line-height: 1.5em;
     }
     a {
         color: #76C8B7;
     }
     strong,
     b {
         color: #444;
     }
     h1,
     h2,
     h3,
     h4 {
         color: #444;
     }
     h1.major:after,
     h2.major:after,
     h3.major:after,
     h4.major:after {
         background-color: #444;
     }
     // Icon
     .icon {
         text-decoration: none;
         position: relative;
     }
     .icon:before {
         -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
         font-family: FontAwesome;
         font-style: normal;
         font-weight: normal;
         text-transform: none !important;
     }
     .icon > .label {
         display: none;
     }
     .icon.major {
         display: block;
         margin-bottom: 2em;
     }
     .icon.major:before {
         font-size: 3.25em;
         line-height: 1;
     }
     .icon.major:before {
         color: #76C8B7;
     }
     // Image
     .image {
         border-radius: 4px;
         border: 0;
         display: inline-block;
         position: relative;
     }
     .image img {
         border-radius: 4px;
         display: block;
     }
     .image.left,
     .image.right {
         max-width: 40%;
     }
     .image.left img,
     .image.right img {
         width: 100%;
     }
     .image.left {
         float: left;
         margin: 0 2.5em 2em 0;
         top: 0.25em;
     }
     .image.right {
         float: right;
         margin: 0 0 2em 2.5em;
         top: 0.25em;
     }
     .image.fit {
         display: block;
         margin: 0 0 2em 0;
         width: 100%;
     }
     .image.fit img {
         width: 100%;
     }
     .image.main {
         display: block;
         margin: 0 0 3em 0;
         width: 100%;
     }
     .image.main img {
         width: 100%;
     }
     ul {
         list-style: disc;
         margin: 0 0 2em 0;
         padding-left: 1em;
     }
     ul li {
         padding-left: 0.5em;
     }
     ul.alt {
         list-style: none;
         padding-left: 0;
     }
     ul.alt li {
         border-top: solid 1px;
         padding: 0.5em 0;
     }
     ul.alt li:first-child {
         border-top: 0;
         padding-top: 0;
     }
     ul.contact {
         list-style: none;
         padding: 0;
     }
     ul.contact li {
         text-decoration: none;
         padding: 0.65em 0 0 2em;
     }
     ul.contact li:before {
         -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
         font-family: FontAwesome;
         font-style: normal;
         font-weight: normal;
         text-transform: none !important;
     }
     ul.contact li:before {
         float: left;
         margin-left: -2em;
     }
     ul.contact li:first-child {
         padding-top: 0;
     }
     ul.icons {
         cursor: default;
         list-style: none;
         padding-left: 0;
     }
     ul.actions {
         cursor: default;
         list-style: none;
         padding-left: 0;
     }
     ul.actions li {
         display: inline-block;
         line-height: 1;
         padding: 0 1em 0 0;
         vertical-align: middle;
     }
     ul.actions li:last-child {
         padding-right: 0;
     }
     ul.actions.vertical li {
         display: block;
         padding: 1em 0 0 0;
     }
     ul.actions.vertical li:first-child {
         padding-top: 0;
     }
     ul.actions.vertical li > * {
         margin-bottom: 0;
     }
     ul.actions.vertical.small li {
         padding: 0.5em 0 0 0;
     }
     ul.actions.vertical.small li:first-child {
         padding-top: 0;
     }
 }
 
 @media screen and (max-width: 480px) {
     .this {
         button,
         .button {
             padding: 0;
         }
     }
 }
 
 @media screen and (max-width: 736px) {
     .this {
         .image.left {
             margin: 0 1.5em 1em 0;
         }
         .image.right {
             margin: 0 0 1em 1.5em;
         }
     }
 }
 
 // List
 @media screen and (max-width: 480px) {
     .this {
         ul.actions {
             margin: 0 0 2em 0;
         }
         ul.actions li {
             padding: 1em 0 0 0;
             display: block;
             text-align: center;
             width: 100%;
         }
         ul.actions li:first-child {
             padding-top: 0;
         }
         ul.actions li > * {
             width: 100%;
             margin: 0 !important;
         }
         ul.actions li > *.icon:before {
             margin-left: -2em;
         }
     }
 }
 
 .this {
     ul.alt li {
         border-top-color: rgba(144, 144, 144, 0.3);
     }
     // Section/Article
     section.special,
     article.special,
     header.special {
         text-align: center;
     }
     header p {
         position: relative;
         margin: 0 0 1.5em 0;
     }
     header h2 + p {
         font-size: 1.25em;
         margin-top: -1em;
         line-height: 1.5em;
     }
     header h3 + p {
         font-size: 1.1em;
         margin-top: -0.8em;
         line-height: 1.5em;
     }
     header p {
         color: #bbb;
     }
 }
 
 .this {
     // Main
     #main > header {
         background-color: #444;
         color: #ffffff;
         padding: 10em 0 8em 0;
         background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/banner.jpg");
         background-attachment: fixed;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         position: relative;
         text-align: center;
     }
     #main > header input,
     #main > header select,
     #main > header textarea {
         color: #ffffff;
     }
     #main > header a {
         color: #76C8B7;
     }
     #main > header strong,
     #main > header b {
         color: #ffffff;
     }
     #main > header h1,
     #main > header h2,
     #main > header h3,
     #main > header h4,
     #main > header h5,
     #main > header h6 {
         color: #ffffff;
     }
     #main > header h1.major:after,
     #main > header h2.major:after,
     #main > header h3.major:after,
     #main > header h4.major:after,
     #main > header h5.major:after,
     #main > header h6.major:after {
         background-color: #ffffff;
     }
     #main > header blockquote {
         border-left-color: #fff;
     }
     #main > header code {
         background: rgba(255, 255, 255, 0.1);
         border-color: #fff;
     }
     #main > header hr {
         border-bottom-color: #fff;
     }
     #main > header h2 {
         font-size: 2em;
     }
     #main > header p {
         color: inherit;
         letter-spacing: 0.07em;
         margin-top: 0;
     }
 }
 
 @media screen and (max-width: 1680px) {
     .this {
         #main > header {
             padding: 8em 0 6em 0;
         }
     }
 }
 
 @media screen and (max-width: 1280px) {
     .this {
         #main > header {
             padding: 8em 3em 6em 3em;
             background-attachment: scroll;
         }
     }
 }
 
 @media screen and (max-width: 980px) {
     .this {
         #main > header {
             padding: 10em 3em 8em 3em;
         }
     }
 }
 
 @media screen and (max-width: 736px) {
     .this {
         #main > header {
             padding: 4.5em 3em 2.5em 3em;
         }
         #main > header h2 {
             font-size: 1.5em;
             margin: 0 0 1em 0;
         }
     }
 }
