/* start home */
.color-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.section {
  background: url('../../libs/background/01.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}
.section .home-des {
  padding: 90px 0;
}
.section h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
}
.section i {
  display: block;
  margin: 30px 0;
  font-size: 100px;
}
.section .ct-btn {
  color: #fff;
  font-size: 12px;
  margin-right: 14px;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  border-radius: 0;
  border: solid 1px #fff;
  box-shadow: 0 0 0 0 transparent;
}
.section .ct-btn:hover {
  background: #B30000;
  border-color: transparent;
}
.section .btn-default {
  background: transparent;
}
.section .btn-primary {
  background: #B30000;
  border: 2px solid transparent;
}
