*,
*:before,
*:after {
    box-sizing: border-box;
}

// Basic
body {
    background: #f5f5f5;
}

body,
input,
select,
textarea {
    color: #868686;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65em;
}

a {
    color: #f06862;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    color: #7f7f7f;
    font-weight: 600;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3 {
    color: #7f7f7f;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a,
h2 a,
h3 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}

.box {
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box >:last-child,
.box >:last-child >:last-child,
.box >:last-child >:last-child >:last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

// Icon
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.major {
    display: block;
    height: 4.5em;
    line-height: 4.5em;
    margin: 1em auto 3em auto;
    position: relative;
    text-align: center;
    width: 4.5em;
}

.icon.major:before {
    color: #ffffff;
    font-size: 2em;
    position: relative;
    z-index: 1;
}

.icon.major:after {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #f06862;
    content: '';
    height: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    top: 0;
    width: inherit;
}

.icon.major.fa-paper-plane:before {
    left: -0.125em;
}

// Feature
.feature {
    margin: 0 0 2em 0;
    padding-left: 7.5em;
    position: relative;
    text-align: left;
}

.feature:before {
    background: rgba(144, 144, 144, 0.25);
    content: '';
    height: 100%;
    left: 5.5em;
    position: absolute;
    top: 0;
    width: 1px;
}

.feature .icon.major {
    font-size: 0.675em;
    left: 0;
    position: absolute;
    top: 0;
}

.feature p {
    margin: 0;
}

// Wrapper
.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper:after {
    clear: both;
    content: '';
    display: block;
}

.wrapper.style3 {
    background-color: #ffffff;
}

// XLarge
@media screen and (max-width: 1680px) {
    // Basic
    body {
        font-size: 11pt;
    }
}

// Large
@media screen and (max-width: 1280px) {
    // Basic
    body {
        font-size: 11pt;
    }
    // Wrapper
    .wrapper {
        padding: 4em 0 2em 0;
    }
}

@media screen and (max-width: 980px) {
    // Basic
    html,
    body {
        overflow-x: hidden;
    }
    body {
        font-size: 12pt;
    }
}

// Small
@media screen and (max-width: 736px) {
    // Basic
    body {
        font-size: 12pt;
    }
    h1 br,
    h2 br,
    h3 br {
        display: none;
    }
    h2 {
        font-size: 1.35em;
    }
    h3 {
        font-size: 1.1em;
    }
    // Feature
    .feature {
        padding-left: 5em;
    }
    .feature:before {
        left: 3.75em;
    }
    .feature .icon.major {
        font-size: 0.5em;
    }
}

// XSmall
@media screen and (max-width: 480px) {
    // Basic
    html,
    body {
        min-width: 320px;
    }
    body {
        font-size: 12pt;
    }
}
