.this {
  padding-top: 5em;
  padding-bottom: 5em;
}
.this .icon {
  border-bottom: none;
  position: relative;
  text-decoration: none;
  border-radius: 100%;
  border: solid 1px #e2eaec;
  cursor: default;
  display: inline-block;
  height: 12em;
  line-height: 12em;
  margin: 0 0 1.5em 0;
  text-align: center;
  width: 12em;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #fff !important;
  text-shadow: 1px 0 0 #6ec7f5, -1px 0 0 #6ec7f5, 0 1px 0 #6ec7f5, 0 -1px 0 #6ec7f5;
  font-size: 6em;
}
.this .icon.fa-paper-plane {
  text-indent: -0.75em;
}
.this h2 {
  font-size: 2.25em;
  line-height: 1.4em;
  margin-bottom: 0.7em;
  color: #626c6e;
  font-weight: bold;
}
.this p {
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 0 0 2em 0;
  font-weight: 200;
}
@media screen and (max-width: 767px) {
  .this {
    height: auto;
  }
  .this h2 {
    font-size: 2em;
  }
  .this p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
