.imonial {
    background: linear-gradient(to right, #ce4762, #3a2434);
    .wrapper {
        padding: 50px 0;
    }
    .imonial-content {
        padding: 50px 30px;
        border: 1px solid rgba(213, 213, 213, 0.15);
        color: #fff;
    }
    .test-name {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0px;
    }
    .name-title {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin: 0 0 10px;
    }
    .img-logo {
        background: #fff;
        display: inline-block;
        margin: 4px 3px;
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    p {
        font-weight: 200;
    }
}
