.this {
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    ol,
    ul {
        list-style: none;
    }
    // Box Model 
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    a {
        transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        color: #6ec27e;
        border-bottom: dotted 1px;
        text-decoration: none;
    }
    a:hover {
        border-bottom-color: #6ec27e;
        color: #6ec27e !important;
    }
    strong,
    b {
        color: #74797f;
        font-weight: 400;
    }
    p {
        margin: 0 0 2em 0;
    }
    h1,
    h2 {
        color: #74797f;
        font-weight: 300;
        letter-spacing: -0.025em;
        line-height: 1.4;
        margin: 0 0 0.8em 0;
    }
    h1 b,
    h2 b {
        color: #6ec27e;
        font-weight: 300;
    }
    h1 a,
    h2 a {
        color: inherit;
        text-decoration: none;
    }
    h1 {
        font-weight: 900;
        margin: 0 0 1.7em 0;
        text-transform: uppercase;
        font-size: 1em;
    }
    h1 b {
        font-weight: 900;
    }
    h2 {
        font-size: 2em;
    }
    ::-webkit-input-placeholder {
        color: #e6e8eb !important;
        opacity: 1.0;
    }
    :-moz-placeholder {
        color: #e6e8eb !important;
        opacity: 1.0;
    }
    ::-moz-placeholder {
        color: #e6e8eb !important;
        opacity: 1.0;
    }
    :-ms-input-placeholder {
        color: #e6e8eb !important;
        opacity: 1.0;
    }
    .polyfill-placeholder {
        color: #e6e8eb !important;
        opacity: 1.0;
    }
    // Icon 
    .icon {
        text-decoration: none;
        border-bottom: none;
        color: inherit;
        position: relative;
    }
    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    .icon > .label {
        display: none;
    }
    ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }
    ul li {
        padding-left: 0.5em;
    }
    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }
    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }
    ul.icons li:last-child {
        padding-right: 0;
    }
    ul.icons li .icon:before {
        font-size: 1em;
    }
    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }
    ul.actions li {
        display: inline-block;
        padding: 0 1em 0 0;
        vertical-align: middle;
    }
    ul.actions li:last-child {
        padding-right: 0;
    }
    // Button 
    .button {
        
        appearance: none;
    
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: transparent;
        border-radius: 4px;
        border: 0;
        box-shadow: inset 0 0 0 2px #e6e8eb;
        color: #74797f !important;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        height: 2.75em;
        line-height: 2.75em;
        padding: 0 2em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }
    .button.icon {
        padding-left: 1.35em;
    }
    .button.icon:before {
        margin-right: 0.5em;
    }
    .button:hover {
        box-shadow: inset 0 0 0 2px #6ec27e;
    }
    .button:hover:active {
        background-color: rgba(110, 194, 126, 0.1);
    }
    .button.special {
        background-color: #6ec27e;
        box-shadow: none;
        color: #ffffff !important;
    }
    .button.special:hover {
        background-color: #80ca8e;
    }
    .button.special:active {
        background-color: #5cba6e;
    }
    .button.disabled,
    .button:disabled {
        opacity: 0.25;
    }
    // Page Wrapper 
    #page-wrapper {
         
        display: flex;
       
        flex-direction: row-reverse;
        
        align-items: stretch;
        min-height: 100vh;
    }
    // Wrapper 
    #wrapper {
        padding: 4.5em 4.5em 2.5em 4.5em;
        
        display: flex;
       
        flex-direction: column;
  
        justify-content: space-between;
        width: 65vw;
    }
    #wrapper:before {
        content: '';
    }
    #wrapper .inner {
        max-width: 30em;
    }
    #wrapper footer {
        color: #e6e8eb;
    }
    #wrapper footer ul {
        margin: 0;
    }
    #wrapper > * {
        
        transition: opacity 1s ease, transform 1s ease;
 
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    // Banner 
    #banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e6e8eb;
        overflow: hidden;
        width: 35vw;
    }
    #banner .inner {
        position: relative;
    }
    #banner .inner:before,
    #banner .inner:after {
        content: '';
        width: 100vh;
        height: 100vh;
        width: 100vmax;
        height: 100vmax;
        background-size: 100% 100%;
        position: absolute;
    }
    #banner .inner:before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23dde0e4;' /%3E%3C/svg%3E");
        top: 0em;
        right: ~"calc(100% - 0.45em)";
    }
    #banner .inner:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' style='fill:%23dde0e4;' /%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23e6e8eb;' /%3E%3C/svg%3E");
        top: ~"calc(100% - 0.9em)";
        right: 0em;
    }
    #banner .content {
        position: relative;
        display: inline-block;
        padding: 1.85em 0.5em 3.25em 0.5em;
        background: #ffffff;
        border-radius: 0.75em;
        z-index: 1;
    }
    #banner .content:before {
        content: '';
        display: block;
        position: absolute;
        top: 0.75em;
        left: 50%;
        width: 2.5em;
        height: 0.4em;
        margin-left: -1.25em;
        border-radius: 1em;
        background: transparent;
        box-shadow: inset 0 0 0 2px #e6e8eb;
    }
    #banner .content:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0.7em;
        left: 50%;
        width: 1.85em;
        height: 1.85em;
        margin-left: -1em;
        border-radius: 100%;
        background: transparent;
        box-shadow: inset 0 0 0 2px #e6e8eb;
    }
    #banner ul {
        margin: 0;
        padding: 0;
        position: relative;
        white-space: nowrap;
        width: 11.25em;
        height: 20em;
    }
    #banner ul:after {
     
        transition: opacity 1s ease-in;
        content: '';
        display: block;
        background: #74797f;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;
    }
    #banner ul li {
        
        transition: opacity 1.25s ease-in-out;
        display: block;
        left: 0;
        list-style: none;
        padding: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0;
    }
    #banner ul li img {
        display: block;
        width: 11.25em;
        height: 20em;
    }
    #banner ul li.visible {
        opacity: 1;
    }
    #banner ul li.top {
        z-index: 2;
    }
}

// Basic 
@-ms-viewport {
    width: device-width;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    animation: none !important;
    transition: none !important;
}

// Type 
body {
    color: #8b8f94;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 1.65;
    background: #ffffff;
    -webkit-text-size-adjust: none;
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 15pt;
    }
}

@media screen and (max-width: 980px) {
    .this {
        h1 br,
        h2 br {
            display: none;
        }
        #wrapper {
            padding: 4em 4em 2em 4em;
        }
        #banner {
            padding: 2.5em 0;
        }
        #banner .content {
            padding: 1.5em 0.35em 3em 0.35em;
        }
        #banner ul {
            width: 10.125em;
            height: 18em;
        }
        #banner ul li img {
            width: 10.125em;
            height: 18em;
        }
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 14pt;
    }
    .this {
        #wrapper {
            padding: 4.5em 4em 2.5em 4em;
        }
    }
}

@media screen and (max-width: 736px) {
    body {
        font-size: 12pt;
    }
    .this {
        h1,
        h2 {
            margin: 0 0 1em 0;
        }
        h2 {
            font-size: 1.5em;
        }
        ul.icons li .icon:before {
            font-size: 1.25em;
        }
        #wrapper {
            padding: 3em 3em 1em 3em;
             
            justify-content: flex-start;
        }
        #wrapper footer ul {
            margin: 0 0 2em 0;
        }
        #banner {
            
            align-items: flex-start;
            padding: 3em 0;
        }
        #banner .content {
            padding: 1em 0.3em 2em 0.3em;
        }
        #banner .content:before {
            top: 0.385em;
            width: 2em;
            height: 0.35em;
            margin-left: -1em;
        }
        #banner .content:after {
            bottom: 0.375em;
            width: 1.25em;
            height: 1.25em;
            margin-left: -0.625em;
        }
        #banner ul {
            width: 8.4375em;
            height: 15em;
        }
        #banner ul li img {
            width: 8.4375em;
            height: 15em;
        }
    }
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
    .this {
        ul.actions {
            margin: 0 0 2em 0;
        }
        ul.actions li {
            display: block;
            padding: 1em 0 0 0;
            text-align: center;
            width: 100%;
        }
        ul.actions li:first-child {
            padding-top: 0;
        }
        ul.actions li > * {
            margin: 0 !important;
            width: 100%;
        }
        ul.actions li > *.icon:before {
            margin-left: -1.75em;
        }
        button,
        .button {
            padding: 0;
        }
        #wrapper {
            padding: 3em 2em 1em 2em;
        }
    }
}

@media screen and (max-width: 360px) {
    .this {
        #wrapper {
            padding: 2em 1.5em 0.1em 1.5em;
        }
    }
}

body.is-ie #page-wrapper {
    height: 100vh;
}

@media screen and (max-width: 980px) {
    body.is-ie #page-wrapper {
        height: auto;
    }
}

@media screen and (orientation: portrait) {
    body.is-loading #wrapper > * {
        
        transform: translateY(0.5em);
    }
    .this {
        #page-wrapper {
            flex-direction: column-reverse;
            height: auto !important;
            min-height: 0 !important;
        }
        #wrapper {
           
            align-items: center;
            text-align: center;
            width: 100%;
        }
        #wrapper .inner {
            width: 100%;
        }
        #wrapper footer {
            margin: 0.5em 0 0 0;
        }
        #wrapper footer ul {
            margin: 0 0 2em 0;
        }
        #banner {
            width: 100%;
        }
    }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    .this {
        #wrapper .inner {
            max-width: 28em;
        }
    }
}

body.is-loading #wrapper > * {
  
    transform: translateX(0.5em);
    opacity: 0;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    .this {
        #banner {
            padding: 1.5em 0;
        }
    }
}

body.is-loading #banner .inner ul:after {
    opacity: 1;
}

// Footer 
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
