.this div,
.this span,
.this applet,
.this object,
.this iframe,
.this h1,
.this h2,
.this h3,
.this h4,
.this h5,
.this h6,
.this p,
.this blockquote,
.this pre,
.this a,
.this abbr,
.this acronym,
.this address,
.this big,
.this cite,
.this code,
.this del,
.this dfn,
.this em,
.this img,
.this ins,
.this kbd,
.this q,
.this s,
.this samp,
.this small,
.this strike,
.this strong,
.this sub,
.this sup,
.this tt,
.this var,
.this b,
.this u,
.this i,
.this center,
.this dl,
.this dt,
.this dd,
.this ol,
.this ul,
.this li,
.this fieldset,
.this form,
.this label,
.this legend,
.this table,
.this caption,
.this tbody,
.this tfoot,
.this thead,
.this tr,
.this th,
.this td,
.this article,
.this aside,
.this canvas,
.this details,
.this embed,
.this figure,
.this figcaption,
.this footer,
.this header,
.this hgroup,
.this menu,
.this nav,
.this output,
.this ruby,
.this section,
.this summary,
.this time,
.this mark,
.this audio,
.this video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.this article,
.this aside,
.this details,
.this figcaption,
.this figure,
.this footer,
.this header,
.this hgroup,
.this menu,
.this nav,
.this section {
  display: block;
}
.this ol,
.this ul {
  list-style: none;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this a {
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #6ec27e;
  border-bottom: dotted 1px;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: #6ec27e;
  color: #6ec27e !important;
}
.this strong,
.this b {
  color: #74797f;
  font-weight: 400;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2 {
  color: #74797f;
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: 1.4;
  margin: 0 0 0.8em 0;
}
.this h1 b,
.this h2 b {
  color: #6ec27e;
  font-weight: 300;
}
.this h1 a,
.this h2 a {
  color: inherit;
  text-decoration: none;
}
.this h1 {
  font-weight: 900;
  margin: 0 0 1.7em 0;
  text-transform: uppercase;
  font-size: 1em;
}
.this h1 b {
  font-weight: 900;
}
.this h2 {
  font-size: 2em;
}
.this ::-webkit-input-placeholder {
  color: #e6e8eb !important;
  opacity: 1.0;
}
.this :-moz-placeholder {
  color: #e6e8eb !important;
  opacity: 1.0;
}
.this ::-moz-placeholder {
  color: #e6e8eb !important;
  opacity: 1.0;
}
.this :-ms-input-placeholder {
  color: #e6e8eb !important;
  opacity: 1.0;
}
.this .polyfill-placeholder {
  color: #e6e8eb !important;
  opacity: 1.0;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  color: inherit;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 1em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 2px #e6e8eb;
  color: #74797f !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.this .button.icon {
  padding-left: 1.35em;
}
.this .button.icon:before {
  margin-right: 0.5em;
}
.this .button:hover {
  box-shadow: inset 0 0 0 2px #6ec27e;
}
.this .button:hover:active {
  background-color: rgba(110, 194, 126, 0.1);
}
.this .button.special {
  background-color: #6ec27e;
  box-shadow: none;
  color: #ffffff !important;
}
.this .button.special:hover {
  background-color: #80ca8e;
}
.this .button.special:active {
  background-color: #5cba6e;
}
.this .button.disabled,
.this .button:disabled {
  opacity: 0.25;
}
.this #page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}
.this #wrapper {
  padding: 4.5em 4.5em 2.5em 4.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65vw;
}
.this #wrapper:before {
  content: '';
}
.this #wrapper .inner {
  max-width: 30em;
}
.this #wrapper footer {
  color: #e6e8eb;
}
.this #wrapper footer ul {
  margin: 0;
}
.this #wrapper > * {
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
  -webkit-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  opacity: 1;
}
.this #banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e6e8eb;
  overflow: hidden;
  width: 35vw;
}
.this #banner .inner {
  position: relative;
}
.this #banner .inner:before,
.this #banner .inner:after {
  content: '';
  width: 100vh;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background-size: 100% 100%;
  position: absolute;
}
.this #banner .inner:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23dde0e4;' /%3E%3C/svg%3E");
  top: 0em;
  right: calc(100% - 0.45em);
}
.this #banner .inner:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' style='fill:%23dde0e4;' /%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23e6e8eb;' /%3E%3C/svg%3E");
  top: calc(100% - 0.9em);
  right: 0em;
}
.this #banner .content {
  position: relative;
  display: inline-block;
  padding: 1.85em 0.5em 3.25em 0.5em;
  background: #ffffff;
  border-radius: 0.75em;
  z-index: 1;
}
.this #banner .content:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.75em;
  left: 50%;
  width: 2.5em;
  height: 0.4em;
  margin-left: -1.25em;
  border-radius: 1em;
  background: transparent;
  box-shadow: inset 0 0 0 2px #e6e8eb;
}
.this #banner .content:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.7em;
  left: 50%;
  width: 1.85em;
  height: 1.85em;
  margin-left: -1em;
  border-radius: 100%;
  background: transparent;
  box-shadow: inset 0 0 0 2px #e6e8eb;
}
.this #banner ul {
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 11.25em;
  height: 20em;
}
.this #banner ul:after {
  -webkit-transition: opacity 1s ease-in;
          transition: opacity 1s ease-in;
  content: '';
  display: block;
  background: #74797f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}
.this #banner ul li {
  -webkit-transition: opacity 1.25s ease-in-out;
          transition: opacity 1.25s ease-in-out;
  display: block;
  left: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
}
.this #banner ul li img {
  display: block;
  width: 11.25em;
  height: 20em;
}
.this #banner ul li.visible {
  opacity: 1;
}
.this #banner ul li.top {
  z-index: 2;
}
@-ms-viewport {
  width: device-width;
}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
          transition: none !important;
}
body {
  color: #8b8f94;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 22pt;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.65;
  background: #ffffff;
  -webkit-text-size-adjust: none;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 15pt;
  }
}
@media screen and (max-width: 980px) {
  .this h1 br,
  .this h2 br {
    display: none;
  }
  .this #wrapper {
    padding: 4em 4em 2em 4em;
  }
  .this #banner {
    padding: 2.5em 0;
  }
  .this #banner .content {
    padding: 1.5em 0.35em 3em 0.35em;
  }
  .this #banner ul {
    width: 10.125em;
    height: 18em;
  }
  .this #banner ul li img {
    width: 10.125em;
    height: 18em;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 14pt;
  }
  .this #wrapper {
    padding: 4.5em 4em 2.5em 4em;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
  .this h1,
  .this h2 {
    margin: 0 0 1em 0;
  }
  .this h2 {
    font-size: 1.5em;
  }
  .this ul.icons li .icon:before {
    font-size: 1.25em;
  }
  .this #wrapper {
    padding: 3em 3em 1em 3em;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .this #wrapper footer ul {
    margin: 0 0 2em 0;
  }
  .this #banner {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3em 0;
  }
  .this #banner .content {
    padding: 1em 0.3em 2em 0.3em;
  }
  .this #banner .content:before {
    top: 0.385em;
    width: 2em;
    height: 0.35em;
    margin-left: -1em;
  }
  .this #banner .content:after {
    bottom: 0.375em;
    width: 1.25em;
    height: 1.25em;
    margin-left: -0.625em;
  }
  .this #banner ul {
    width: 8.4375em;
    height: 15em;
  }
  .this #banner ul li img {
    width: 8.4375em;
    height: 15em;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    margin: 0 !important;
    width: 100%;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -1.75em;
  }
  .this button,
  .this .button {
    padding: 0;
  }
  .this #wrapper {
    padding: 3em 2em 1em 2em;
  }
}
@media screen and (max-width: 360px) {
  .this #wrapper {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
body.is-ie #page-wrapper {
  height: 100vh;
}
@media screen and (max-width: 980px) {
  body.is-ie #page-wrapper {
    height: auto;
  }
}
@media screen and (orientation: portrait) {
  body.is-loading #wrapper > * {
    -webkit-transform: translateY(0.5em);
        -ms-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  .this #page-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto !important;
    min-height: 0 !important;
  }
  .this #wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .this #wrapper .inner {
    width: 100%;
  }
  .this #wrapper footer {
    margin: 0.5em 0 0 0;
  }
  .this #wrapper footer ul {
    margin: 0 0 2em 0;
  }
  .this #banner {
    width: 100%;
  }
}
@media screen and (max-width: 980px) and (orientation: portrait) {
  .this #wrapper .inner {
    max-width: 28em;
  }
}
body.is-loading #wrapper > * {
  -webkit-transform: translateX(0.5em);
      -ms-transform: translateX(0.5em);
          transform: translateX(0.5em);
  opacity: 0;
}
@media screen and (max-width: 736px) and (orientation: portrait) {
  .this #banner {
    padding: 1.5em 0;
  }
}
body.is-loading #banner .inner ul:after {
  opacity: 1;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
