.slide-caption {
  background-image: url(../images/01.jpg);
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Microsoft Yahei', sans-serif;
  padding: 5em 0;
}
.slide-caption .caption-content {
  box-sizing: border-box;
}
.slide-caption .caption-content > span {
  font-size: 24px;
  display: block;
  margin-bottom: 45px;
  text-transform: capitalize;
}
.slide-caption .caption-content h2 {
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
}
.slide-caption .btn-effect {
  position: relative;
  display: inline-block;
  padding: 15px 55px;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: color;
  transform: translateZ(0);
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 158, 227, 0.78);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.slide-caption .btn-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.slide-caption .btn-effect:hover,
.slide-caption .btn-effect:focus,
.slide-caption .btn-effect:active {
  color: #009EE3;
}
.slide-caption .btn-effect:hover:before,
.slide-caption .btn-effect:focus:before,
.slide-caption .btn-effect:active:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
