.this .header-wrapper {
  position: relative;
  background: #080808 url("../../assets/img/002overlay.png") repeat;
  top: 0;
}
.this .header-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/bg02.png");
  background-size: 100% 100%;
}
.this .header {
  position: relative;
  padding: 6em 0 6em 0;
}
.this .header h1 {
  letter-spacing: -1px;
  text-align: center;
  font-size: 2.50em;
  font-weight: 400;
  margin: 0;
}
.this .header h1 a {
  text-decoration: none;
  color: #FFFFFF;
  outline: 0;
}
.this .header span {
  font-weight: 200;
  color: #727272;
}
.this .nav {
  position: relative;
  height: 4em;
  padding-top: 2em;
  margin: 0px auto;
  cursor: default;
}
.this .nav > ul > li > ul {
  display: none;
}
.this .nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.this .nav li {
  display: inline-block;
  margin: 0em 0.50em;
}
.this .nav li a {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.25em 0 1.25em;
  text-decoration: none;
  font-size: 1.05em;
  color: #727272;
  outline: 0;
}
.this .nav li:hover a {
  background: #282828;
  background: rgba(42, 42, 42, 0.94);
  color: #bbb;
}
.this .nav li:active a,
.this .nav li.active a {
  background: #282828;
  background: rgba(42, 42, 42, 0.94);
  color: #fff;
}
.this .nav li .current_page_item a {
  background: #2A9648 !important;
  color: #FFFFFF !important;
}
.this .nav .first {
  border-left: none;
}
@media screen and (max-width: 736px) {
  .this .header-wrapper {
    padding: 3em 0 3em 0;
  }
  .this .header h1 {
    display: block;
    padding: 0 1em;
    letter-spacing: -1px;
    line-height: 1.25em;
    text-align: center;
    font-size: 1.60em;
    font-weight: 400;
  }
  .this .header h1 a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .this .header span {
    display: block;
    font-size: 0.65em;
    font-weight: 200;
    color: #727272;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 737px) {
  body input,
  body select,
  body textarea {
    font-size: 10pt;
    line-height: 1.75em;
  }
  body h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: 0 0 1em 0;
    letter-spacing: -1px;
  }
  body h3 {
    line-height: 1.25em;
    margin: 0 0 1em 0;
    font-size: 1.75em;
    letter-spacing: -0.5px !important;
  }
  .subtitle {
    font-size: 1.75em;
    letter-spacing: -0.5px !important;
  }
  .header {
    position: relative;
    padding: 6em 0 6em 0;
  }
  .header h1 {
    letter-spacing: -1px;
    text-align: center;
    font-size: 2.50em;
    font-weight: 400;
  }
  .header h1 a {
    text-decoration: none;
    color: #FFFFFF;
    outline: 0;
  }
  .header span {
    font-weight: 200;
    color: #727272;
  }
  .nav {
    position: relative;
    height: 4em;
    padding-top: 2em;
    margin: 0px auto;
    cursor: default;
  }
  .nav > ul > li > ul {
    display: none;
  }
  .nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nav li {
    display: inline-block;
    margin: 0em 0.50em;
  }
  .nav li a {
    display: inline-block;
    line-height: 2.5em;
    padding: 0 1.25em 0 1.25em;
    text-decoration: none;
    font-size: 1.05em;
    color: #727272;
    outline: 0;
  }
  .nav li:hover a {
    background: #282828;
    background: rgba(42, 42, 42, 0.94);
    color: #bbb;
  }
  .nav li:active a,
  .nav li.active a {
    background: #282828;
    background: rgba(42, 42, 42, 0.94);
    color: #fff;
  }
  .nav li .current_page_item a {
    background: #2A9648 !important;
    color: #FFFFFF !important;
  }
  .nav .first {
    border-left: none;
  }
}
@media screen and (min-width: 737px) {
  body {
    font-size: 9.5pt;
    line-height: 1.75em;
  }
  body input,
  body select,
  body textarea {
    font-size: 9.5pt;
    line-height: 1.75em;
  }
  body h2 {
    font-size: 1.85em;
  }
  body h3 {
    font-size: 1.5em;
  }
  .public-two .header h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 736px) {
  body {
    overflow-x: hidden;
  }
  body input,
  body select,
  body textarea {
    font-size: 9.5pt;
    letter-spacing: 0;
    line-height: 1.75em;
  }
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    line-height: 1.25em !important;
    font-size: 1.5em !important;
    letter-spacing: 0px !important;
    margin: 0 0 1.25em 0;
  }
  body section,
  body article {
    margin: 0 0 3em 0 !important;
  }
  .public-two .nav {
    display: none;
  }
}
