body {
  color: #a2a2a2;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.75em;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this input,
.this select,
.this textarea {
  color: #a2a2a2;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.75em;
}
.this a {
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: transparent;
  color: #669161 !important;
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3 {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.25em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h1 a,
.this h2 a,
.this h3 a {
  color: inherit;
  border-bottom: 0;
}
.this h2 {
  font-size: 1.75em;
  line-height: 2em;
}
.this h3 {
  font-size: 1.35em;
  line-height: 1.75em;
}
.this form {
  margin: 0 0 2em 0;
}
.this label {
  color: #ffffff;
  display: block;
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 0 1em 0;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select,
.this textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(207, 201, 214, 0.035);
  border-radius: 8px;
  border: none;
  border: solid 1px #4c4b4d;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.this input[type="text"]:invalid,
.this input[type="password"]:invalid,
.this input[type="email"]:invalid,
.this select:invalid,
.this textarea:invalid {
  box-shadow: none;
}
.this input[type="text"]:focus,
.this input[type="password"]:focus,
.this input[type="email"]:focus,
.this select:focus,
.this textarea:focus {
  border-color: #669161;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select {
  height: 2.75em;
}
.this textarea {
  padding: 0.75em 1em;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0 !important;
}
.this ul.icons li .icon {
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px #4c4b4d;
  color: inherit;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  text-align: center;
  width: 3em;
}
.this ul.icons li .icon:before {
  font-size: 1em;
}
.this ul.icons li .icon:hover {
  background: rgba(207, 201, 214, 0.035);
  color: inherit !important;
}
.this ul.icons li .icon:active {
  background: rgba(207, 201, 214, 0.1);
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 8px;
  border: solid 1px #4c4b4d !important;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.35em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
}
.this input[type="submit"]:hover,
.this input[type="reset"]:hover,
.this input[type="button"]:hover,
.this .button:hover {
  background: rgba(207, 201, 214, 0.035);
  color: #ffffff !important;
}
.this input[type="submit"]:active,
.this input[type="reset"]:active,
.this input[type="button"]:active,
.this .button:active {
  background: rgba(207, 201, 214, 0.1);
}
.this input[type="submit"].icon:before,
.this input[type="reset"].icon:before,
.this input[type="button"].icon:before,
.this .button.icon:before {
  margin: 0 0.5em 0 -0.25em;
}
.this input[type="submit"].disabled,
.this input[type="submit"]:disabled,
.this input[type="reset"].disabled,
.this input[type="reset"]:disabled,
.this input[type="button"].disabled,
.this input[type="button"]:disabled,
.this .button.disabled,
.this .button:disabled {
  cursor: default;
  opacity: 0.25;
  background-color: rgba(207, 201, 214, 0.1) !important;
  border-color: #4c4b4d !important;
}
.this input[type="submit"].disabled:hover,
.this input[type="submit"].disabled:active,
.this input[type="submit"]:disabled:hover,
.this input[type="submit"]:disabled:active,
.this input[type="reset"].disabled:hover,
.this input[type="reset"].disabled:active,
.this input[type="reset"]:disabled:hover,
.this input[type="reset"]:disabled:active,
.this input[type="button"].disabled:hover,
.this input[type="button"].disabled:active,
.this input[type="button"]:disabled:hover,
.this input[type="button"]:disabled:active,
.this .button.disabled:hover,
.this .button.disabled:active,
.this .button:disabled:hover,
.this .button:disabled:active {
  background-color: rgba(207, 201, 214, 0.1) !important;
  border-color: #4c4b4d !important;
}
.this .footer {
  background-color: #19181a;
  border-radius: 0 0 8px 8px;
  padding: 5em 3em 3em 3em;
  text-align: center;
}
.this .footer h2 {
  font-size: 1.35em;
  line-height: 1.75em;
}
.this .footer h2 + p {
  margin: 0 0 4em 0;
}
.this .footer .icons {
  border-top: solid 1px #313032;
  left: -3em;
  margin: 0;
  padding: 2em 0;
  position: relative;
  top: 3em;
  width: calc(100% + 6em);
}
.this .copyright {
  margin: 3em;
  text-align: center;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1366px) {
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 980px) {
  .this h1 br,
  .this h2 br,
  .this h3 br {
    display: none;
  }
  .this h2 {
    font-size: 1.5em;
  }
  .this .footer {
    padding: 5em 3em 3em 3em;
  }
  .this .footer h2 + p br {
    display: none;
  }
  .this .footer .icons {
    left: -3em;
    top: 3em;
    width: calc(100% + 6em);
  }
}
@media screen and (max-width: 736px) {
  .this h2 {
    font-size: 1.25em;
  }
  .this h3 {
    font-size: 1.1em;
  }
  .this ul.icons li {
    padding: 0 0.75em 0 0;
  }
  .this ul.icons li .icon {
    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
  }
  .this ul.icons li .icon:before {
    font-size: 1em;
  }
  .this .footer {
    padding: 3em 3em 1em 3em;
  }
  .this .footer h2 {
    font-size: 1.25em;
  }
  .this .footer h2 + p {
    margin: 0 0 2em 0;
  }
  .this .footer .icons {
    left: -3em;
    top: 1em;
    width: calc(100% + 6em);
  }
}
@media screen and (max-width: 480px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    margin: 0 !important;
    width: 100%;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this input[type="submit"],
  .this input[type="reset"],
  .this input[type="button"],
  .this .button {
    padding: 0;
  }
  .this .footer {
    border-radius: 0;
    padding: 3em 1.5em 1em 1.5em;
  }
  .this .footer .icons {
    left: -1.5em;
    top: 1em;
    width: calc(100% + 3em);
  }
}
