body {
    background: #fff;
    color: #888;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
}

.this {
    a {
        color: #37b37f;
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    p {
        margin: 0 0 2em 0;
    }
    h1,
    h2,
    h3,
    h4 {
        color: #616161;
        font-weight: 700;
        letter-spacing: 0.11em;
        line-height: 1em;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a {
        color: inherit;
        text-decoration: none;
    }
    h2 {
        font-size: 1.75em;
        line-height: 1.5em;
    }
    h3 {
        font-size: 1.35em;
        line-height: 1.5em;
    }
    header p {
        color: #a7a7a7;
        letter-spacing: 0.11em;
        position: relative;
        margin: 0 0 1.5em 0;
    }
    header h2 + p {
        font-size: 1.25em;
        margin-top: -1em;
        line-height: 1.75em;
    }
    header.major {
        margin: 0 0 1.5em 0;
        text-transform: uppercase;
    }
    header.major h2 {
        margin: 0;
    }
    header.major p {
        color: #616161;
        margin: 0.5em 0 0 0;
    }
    header.major:after {
        background-color: #888;
        content: '';
        display: inline-block;
        height: 1px;
        margin: 2em 0 0 0;
        position: relative;
        width: 5em;
    }
    // Icon
    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }
    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    .icon > .label {
        display: none;
    }
    // Icon Grid
    .icon-grid {
        margin: 0 0 2em 0;
        text-align: center;
    }
    .icon-grid .icon {
        color: #616161;
        display: block;
        font-size: 1.25em;
        margin: 0 0 1em 0;
    }
    // Wrapper
    .wrapper {
        padding: 8em 0 6em 0;
    }
    .wrapper.style1 {
        border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    }
}

// XLarge
@media screen and (max-width: 1680px) {
    // Basic
    body {
        font-size: 11pt;
    }
}

// Large
@media screen and (max-width: 1280px) {
    .this {
        // Basic
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.25em;
        }
        header h2 + p {
            font-size: 1em;
        }
        // Wrapper
        .wrapper {
            padding: 6em 0 4em 0;
        }
    }
}

// Medium
@media screen and (max-width: 980px) {
    // Main
    #main {
        padding: 4em 0 4em 0;
    }
}

@media screen and (max-width: 736px) {
    // Basic
    html,
    body {
        overflow-x: hidden;
    }
    .this {
        h2 {
            font-size: 1.25em;
        }
        h3 {
            font-size: 1em;
        }
        // Wrapper
        .wrapper {
            padding: 3em 0 1em 0;
        }
    }
}

// XSmall
@media screen and (max-width: 480px) {
    // Basic
    html,
    body {
        min-width: 320px;
    }
    body {
        font-size: 12pt;
    }
}
