body {
  background: #f7f7f7;
  color: #777;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.65em;
}
.this a {
  color: #fd647a;
  text-decoration: underline;
}
.this a:hover {
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
  line-height: 1.8;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  color: #484b49;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h1 a,
.this h2 a,
.this h3 a,
.this h4 a {
  color: inherit;
  text-decoration: none;
}
.this h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
.this h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
.this h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}
.this hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.35);
  margin: 2em 0;
}
.this hr.major {
  margin: 3em 0;
}
.this header p {
  position: relative;
  margin: 0 0 1.5em 0;
}
.this header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.75em;
}
.this header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}
.this header.major {
  margin: 0 0 2em 0;
}
.this header.major h2,
.this header.major h3 {
  border-bottom: solid 1px rgba(144, 144, 144, 0.35);
  display: inline-block;
  margin: 0 0 0.8em;
  padding: 0 0 0.8em;
}
.this header.major p {
  font-size: 1.25em;
  margin: 0.1em 0;
}
.this .box {
  padding: 3em 2em 1em 2em;
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
}
.this .box:before,
.this .box:after {
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  right: 0;
  width: 100%;
}
.this .box:before {
  top: 0;
}
.this .box:after {
  bottom: 0;
}
.this .box.bordered:before {
  background: -webkit-linear-gradient(left, #fd647a 50%, #00b49e 50%);
  background: linear-gradient(to right, #fd647a 50%, #00b49e 50%);
}
.this .box.bordered:after {
  background: -webkit-linear-gradient(left, #2ea5d7 50%, #8183d8 50%);
  background: linear-gradient(to right, #2ea5d7 50%, #8183d8 50%);
}
.this .box.style1:after {
  background-color: #fd647a;
}
.this .box.style2:after {
  background-color: #00b49e;
}
.this .box.style3:after {
  background-color: #2ea5d7;
}
.this .box.style4:after {
  background-color: #8183d8;
}
.this .box.alt {
  border-radius: 0;
  padding: 0;
}
.this .box.big {
  padding: 7em 3.5em 5em 3.5em;
}
.this .box.big > header.major {
  padding: 0 0 5em;
}
.this .box .image.full {
  margin-bottom: 3em;
  margin-left: -2em;
  width: calc(100% + (2em * 2));
}
.this .box .image.full img {
  width: 100%;
}
.this .box > .image.full:first-child {
  margin-top: -3em;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this .icon.major {
  display: block;
  font-size: 4.5em;
  line-height: 1;
  margin-bottom: 0.4em;
}
.this .icon.style1 {
  color: #fd647a;
}
.this .icon.style2 {
  color: #00b49e;
}
.this .icon.style3 {
  color: #2ea5d7;
}
.this .icon.style4 {
  color: #8183d8;
}
.this .image {
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image img {
  display: block;
}
.this .image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}
.this .image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}
.this .image.left,
.this .image.right {
  max-width: 40%;
}
.this .image.left img,
.this .image.right img {
  width: 100%;
}
.this .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.this .image.fit img {
  width: 100%;
}
.this .image.main {
  display: block;
  margin: 0 0 4em 0;
  width: 100%;
}
.this .image.main img {
  width: 100%;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.alt {
  list-style: none;
  padding-left: 0;
}
.this ul.alt li {
  border-top: solid 1px rgba(144, 144, 144, 0.35);
  padding: 0.5em 0;
}
.this ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 2em;
}
.this ul.labeled-icons {
  list-style: none;
  padding-left: 0;
}
.this ul.labeled-icons li {
  margin-bottom: 3em;
  padding-left: 4em;
  position: relative;
}
.this ul.labeled-icons .icon {
  cursor: default;
  display: block;
  font-size: 2em;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
}
.this ul.icons-grid {
  list-style: outside none none;
  padding: 0;
  position: relative;
}
.this ul.icons-grid:after {
  clear: both;
  content: '';
  display: block;
}
.this ul.icons-grid li {
  padding: 6em 7em 4em 7em;
  border-top: solid 1px rgba(144, 144, 144, 0.35);
  display: block;
  float: left;
  width: 50%;
}
.this ul.icons-grid li:nth-child(odd) {
  border-right: solid 1px rgba(144, 144, 144, 0.35);
}
.this ul.counters {
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0;
}
.this ul.counters li {
  padding: 0 1.85em 0.1em 1.85em;
  display: inline-block;
  margin-bottom: 2em;
  min-width: 13em;
}
.this ul.counters li strong {
  color: #ffffff;
  display: block;
  font-size: 2.5em;
  font-weight: 600;
  height: 2.5em;
  line-height: 1.8;
  margin-bottom: 0.5em;
  padding: 0.35em;
  position: relative;
}
.this ul.counters li strong:after {
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-top: solid 10px transparent;
  bottom: -_size(element-triangle);
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -_size(element-triangle);
  position: absolute;
  width: 0;
}
.this ul.counters li.style1 strong {
  background-color: #fd647a;
}
.this ul.counters li.style1 strong:after {
  border-top-color: #fd647a;
}
.this ul.counters li.style2 strong {
  background-color: #00b49e;
}
.this ul.counters li.style2 strong:after {
  border-top-color: #00b49e;
}
.this ul.counters li.style3 strong {
  background-color: #2ea5d7;
}
.this ul.counters li.style3 strong:after {
  border-top-color: #2ea5d7;
}
.this ul.counters li.style4 strong {
  background-color: #8183d8;
}
.this ul.counters li.style4 strong:after {
  border-top-color: #8183d8;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
.this ul.actions.uniform li > * {
  min-width: 12em;
}
.this ul.updates {
  list-style: none;
  padding-left: 0;
}
.this ul.updates li {
  margin-top: 2em;
  padding-left: 0;
}
.this ul.updates li:first-child {
  margin-top: 0;
}
.this ul.updates p {
  margin: 0;
}
.this ul.updates a {
  display: block;
}
.this ul.updates .timestamp {
  color: #777;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
}
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #383b39;
  border-radius: 0;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.1em;
  letter-spacing: 0.1em;
  line-height: 3.1em;
  padding: 0 1.65em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.this .button:hover {
  background-color: #444846;
}
.this .button:active {
  background-color: #2c2e2c;
}
.this .button.icon {
  padding-left: 1.35em;
}
.this .button.icon:before {
  margin-right: 0.5em;
}
.this .button.special {
  background-color: #fd647a;
  color: #ffffff !important;
}
.this .button.special:hover {
  background-color: #fd7d90;
}
.this .button.special:active {
  background-color: #fd4b64;
}
.this .button.disabled,
.this .button:disabled {
  background-color: #777 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #f7f7f7 !important;
  cursor: default;
  opacity: 0.25;
}
.this .wrapper {
  padding: 8em 0 6em 0;
}
.this .wrapper.style1 {
  position: relative;
}
.this .wrapper.style1:before {
  background-color: rgba(144, 144, 144, 0.35);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 50%;
  top: 0;
  width: 1px;
}
.this .wrapper.style1 .box.alt header.major {
  padding: 7em 1em 4em;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
  .this .wrapper {
    padding: 6em 0 4em 0;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-size: 11pt;
  }
  .this header br {
    display: none;
  }
  .this ul.icons-grid li {
    padding: 4em 2em 2em 2em;
  }
  .this ul.counters li {
    padding: 0 1em 0.1em 1em;
    min-width: 9em;
  }
  .this .box.big {
    padding: 3em 2.5em 1em 2.5em;
  }
  .this .box.big header.major {
    padding: 3em 0 3em;
  }
  .this .wrapper {
    padding: 4em 0 2em 0;
  }
  .this .wrapper.style1 .box.alt header.major {
    padding: 6em 2em 3em;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 11pt;
  }
  .this h2 {
    font-size: 1.5em;
  }
  .this h3 {
    font-size: 1.15em;
  }
  .this header.major p {
    font-size: 1.15em;
  }
  .this ul.icons-grid li {
    padding: 2em 1.5em 0.1em 1.5em;
    width: 100%;
  }
  .this ul.icons-grid li:nth-child(odd) {
    border-right: 0;
  }
  .this ul.counters li {
    padding: 0 5% 0.1em 5%;
    min-width: 0;
    width: 45%;
    vertical-align: top;
  }
  .this .box {
    padding: 2em 1em 0.1em 1em;
  }
  .this .box.big {
    padding: 2em 1.5em 0.1em 1.5em;
  }
  .this .box.big header.major {
    padding: 2em 0 2em;
  }
  .this .box .image.full {
    margin-bottom: 2em;
    margin-left: -1em;
    width: calc(100% + (1em * 2));
  }
  .this .box .image.full img {
    width: 100%;
  }
  .this .box > .image.full:first-child {
    margin-top: -2em;
  }
  .this .wrapper {
    padding: 4em 0 2em 0;
  }
  .this .wrapper.style1 .box.alt header.major {
    padding: 4em 2em 2em 2em;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
  body {
    font-size: 11pt;
  }
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    margin: 0 !important;
    width: 100%;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this .button {
    padding: 0;
  }
  .this .box.big {
    padding: 2em 1em 0.1em 1em;
  }
  .this .box.big header.major {
    padding: 1em 1em 1em;
  }
  .this .wrapper {
    padding: 3em 0 1em 0;
  }
  .this .wrapper.style1 .box.alt header.major {
    padding: 3em 1em 1em 1em;
  }
}
