@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 640px) {
  html,
  body {
    min-width: 320px;
  }
}
body {
  background-color: #2e3141;
  background-image: -webkit-linear-gradient(bottom, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  -ms-overflow-style: scrollbar;
}
/* Type */
body,
input,
select,
textarea {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}
@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 640px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}
.this {
  /* Box Model */
  /* Icon */
  /* Form */
  /* Button */
}
.this a {
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: #ffffff;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: transparent;
  color: #ffffff !important;
}
.this p {
  margin: 0 0 2em 0;
}
.this h2 {
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h2 {
  font-size: 1.2em;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this form {
  margin: 0 0 2em 0;
}
.this form .field {
  margin: 0 0 2em 0;
}
.this form .field label {
  margin-top: -1.5em;
}
.this form .field:first-child label {
  margin-top: 0;
}
.this form > :last-child {
  margin-bottom: 0;
}
.this label {
  color: #ffffff;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  text-transform: uppercase;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this input[type="tel"],
.this select,
.this textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.this input[type="text"]:invalid,
.this input[type="password"]:invalid,
.this input[type="email"]:invalid,
.this input[type="tel"]:invalid,
.this select:invalid,
.this textarea:invalid {
  box-shadow: none;
}
.this input[type="text"]:focus,
.this input[type="password"]:focus,
.this input[type="email"]:focus,
.this input[type="tel"]:focus,
.this select:focus,
.this textarea:focus {
  border-color: #5b6ba6;
}
.this .select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}
.this .select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .select-wrapper:before {
  color: rgba(255, 255, 255, 0.125);
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}
.this .select-wrapper select::-ms-expand {
  display: none;
}
.this select option {
  color: #ffffff;
  background: #2e3141;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select {
  height: 2.75em;
}
.this textarea {
  padding: 0.75em 1em;
}
.this input[type="checkbox"],
.this input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
.this input[type="checkbox"] + label,
.this input[type="radio"] + label {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}
.this input[type="checkbox"] + label:before,
.this input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this input[type="checkbox"] + label:before,
.this input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}
.this input[type="checkbox"]:checked + label:before,
.this input[type="radio"]:checked + label:before {
  background: #ffffff;
  border-color: #ffffff;
  content: '\f00c';
  color: #2e3141;
}
.this input[type="checkbox"]:focus + label:before,
.this input[type="radio"]:focus + label:before {
  border-color: #4c5c96;
}
.this input[type="checkbox"] + label:before {
  border-radius: 5px;
}
.this input[type="radio"] + label:before {
  border-radius: 100%;
}
.this ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}
.this :-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}
.this ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}
.this :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}
.this .polyfill-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
  list-style-type: none;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.contact {
  list-style: none;
  padding: 0;
}
.this ul.contact li {
  text-decoration: none;
  margin: 2.5em 0 0 0;
  padding: 0 0 0 3.25em;
  position: relative;
}
.this ul.contact li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this ul.contact li:before {
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.125);
  display: inline-block;
  font-size: 0.8em;
  height: 2.5em;
  left: 0;
  line-height: 2.35em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}
.this ul.contact li:first-child {
  margin-top: 0;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(101%);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100.5%);
}
.this ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this button,
.this .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.this input[type="submit"]:hover,
.this input[type="reset"]:hover,
.this input[type="button"]:hover,
.this button:hover,
.this .button:hover {
  background-color: rgba(255, 255, 255, 0.025);
}
.this input[type="submit"]:active,
.this input[type="reset"]:active,
.this input[type="button"]:active,
.this button:active,
.this .button:active {
  background-color: rgba(255, 255, 255, 0.075);
}
.this input[type="submit"].icon:before,
.this input[type="reset"].icon:before,
.this input[type="button"].icon:before,
.this button.icon:before,
.this .button.icon:before {
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.35);
}
.this input[type="submit"].special,
.this input[type="reset"].special,
.this input[type="button"].special,
.this button.special,
.this .button.special {
  background-color: #4c5c96;
  box-shadow: none;
}
.this input[type="submit"].special:hover,
.this input[type="reset"].special:hover,
.this input[type="button"].special:hover,
.this button.special:hover,
.this .button.special:hover {
  background-color: #53639e;
}
.this input[type="submit"].special:active,
.this input[type="reset"].special:active,
.this input[type="button"].special:active,
.this button.special:active,
.this .button.special:active {
  background-color: #45558d;
}
.this input[type="submit"].special.icon:before,
.this input[type="reset"].special.icon:before,
.this input[type="button"].special.icon:before,
.this button.special.icon:before,
.this .button.special.icon:before {
  color: #7884b0;
}
.this input[type="submit"].fit,
.this input[type="reset"].fit,
.this input[type="button"].fit,
.this button.fit,
.this .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
.this input[type="submit"].small,
.this input[type="reset"].small,
.this input[type="button"].small,
.this button.small,
.this .button.small {
  font-size: 0.6em;
}
.this input[type="submit"].big,
.this input[type="reset"].big,
.this input[type="button"].big,
.this button.big,
.this .button.big {
  font-size: 1em;
}
.this input[type="submit"].disabled,
.this input[type="submit"]:disabled,
.this input[type="reset"].disabled,
.this input[type="reset"]:disabled,
.this input[type="button"].disabled,
.this input[type="button"]:disabled,
.this button.disabled,
.this button:disabled,
.this .button.disabled,
.this .button:disabled {
  opacity: 0.25;
}
.this #footer .inner {
  padding: 5em 0 3em 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 55em;
}
.this #footer .inner > * {
  width: 100%;
}
.this #footer .inner form {
  margin: 0 3em 0 0;
  width: calc(50% - 1.5em);
}
.this #footer .inner .contact {
  width: calc(50% - 1.5em);
}
.this #footer .inner .copyright {
  border-top: solid 2px rgba(255, 255, 255, 0.125);
  list-style: none;
  margin: 4em 0 2em 0;
  padding: 2em 0 0 0;
  width: 100%;
}
.this #footer .inner .copyright li {
  border-left: solid 2px rgba(255, 255, 255, 0.125);
  color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  margin-left: 1em;
  padding: 0;
  padding-left: 1em;
}
.this #footer .inner .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.this #footer .inner .copyright li a {
  color: inherit;
}
@media screen and (max-width: 736px) {
  .this ul.contact li {
    margin: 1.5em 0 0 0;
  }
  .this h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 640px) {
  .this input[type="submit"],
  .this input[type="reset"],
  .this input[type="button"],
  .this button,
  .this .button {
    padding: 0;
  }
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  .this ul.actions.small li:first-child {
    padding-top: 0;
  }
}
/* Footer */
@media screen and (max-width: 1280px) {
  .this #footer {
    background-color: #2e3141;
    background-image: -webkit-linear-gradient(bottom, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
    background-size: auto, cover;
    background-position: center, center;
    margin-top: -6.5em;
    padding-top: 6.5em;
  }
}
@media screen and (max-width: 980px) {
  .this #footer {
    margin-top: -4.75em;
    padding-top: 4.75em;
  }
  .this #footer .inner {
    padding: 3em 3em 1em 3em;
    display: block;
    width: 100%;
  }
  .this #footer .inner form {
    width: 100%;
    margin: 0 0 4em 0;
  }
  .this #footer .inner .contact {
    width: 100%;
    margin: 0 0 4em 0;
  }
  .this #footer .inner .copyright {
    margin: 4em 0 2em 0;
  }
}
@media screen and (max-width: 736px) {
  .this #footer {
    margin-top: -2.5em;
    padding-top: 2.5em;
  }
  .this #footer .inner {
    padding: 2em 2em 0.1em 2em;
  }
  .this #footer .inner form {
    margin: 0 0 3em 0;
  }
  .this #footer .inner .contact {
    margin: 0 0 3em 0;
  }
}
@media screen and (max-width: 640px) {
  .this #footer .inner .copyright li {
    border-left: 0;
    display: block;
    margin: 1em 0 0 0;
    padding-left: 0;
  }
  .this #footer .inner .copyright li:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 360px) {
  .this #footer .inner {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
