body {
  line-height: 1;
  background: #ffffff;
  color: #808080;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65em;
}
.this ol,
.this ul {
  list-style: none;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this input,
.this select,
.this textarea {
  color: #808080;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65em;
}
.this a {
  -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
  color: #e96c77;
  text-decoration: underline;
}
.this a:hover {
  color: #e96c77 !important;
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  color: #555555;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-indent: -0.05em;
  text-transform: uppercase;
}
.this h1 a,
.this h2 a,
.this h3 a,
.this h4 a {
  color: inherit;
  text-decoration: none;
}
.this h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
.this h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}
.this h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
.this header p {
  color: #aaa;
  margin: 0 0 1.5em 0;
  position: relative;
}
.this header h2 + p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-top: -1em;
}
.this header h3 + p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: -0.85em;
}
.this header.major {
  margin: 0 auto 4em auto;
  max-width: 56.25em;
  text-align: center;
}
.this header.major > :first-child {
  white-space: nowrap;
}
.this header.major > :first-child:before,
.this header.major > :first-child:after {
  background-image: url("../../assets/img/026header-major-on-light.svg");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 20px;
  width: 150px;
}
.this header.major > :first-child:before {
  background-position: center right;
  margin-right: 1em;
}
.this header.major > :first-child:after {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  background-position: center left;
  margin-left: 1em;
}
.this header.major p {
  color: #808080;
  font-size: 1.1em;
  line-height: 1.65em;
  margin: 0 auto 0 auto;
}
.this .box {
  background: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 2.25em;
}
.this .box > :last-child,
.this .box > :last-child > :last-child,
.this .box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.this .box.special {
  padding: 3em 2.25em;
}
.this .box.alt {
  background: none;
  box-shadow: none;
  padding: 0;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this .icon.major {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
  background-color: #e96c77;
  border-radius: 100%;
  color: #ffffff;
  cursor: default;
  display: block;
  height: 4.5em;
  line-height: 4.5em;
  margin: 0 auto 2em auto;
  text-align: center;
  width: 4.5em;
}
.this .icon.major:before {
  font-size: 32px;
}
.this .icon.major.alt {
  background-color: #5b5c6b;
  color: #ffffff;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
.this ul.icons li:last-child {
  padding-right: 0;
}
.this ul.icons li .icon:before {
  font-size: 2em;
}
.this ul.labeled-icons {
  list-style: none;
  padding-left: 0;
  text-align: left;
}
.this ul.labeled-icons li {
  border-top: solid 1px #dddddd;
  padding: 1.25em 0 1.25em 2.75em;
  position: relative;
}
.this ul.labeled-icons li:first-child {
  border-top: 0;
  padding-top: 0;
}
.this ul.labeled-icons li:first-child .icon {
  top: 0;
}
.this ul.labeled-icons li a {
  color: inherit;
  text-decoration: none;
}
.this ul.labeled-icons li .icon {
  background-color: #808080;
  border-radius: 100%;
  color: #ffffff;
  cursor: default;
  font-size: 1em;
  height: 1.75em;
  left: 0;
  line-height: 1.75em;
  position: absolute;
  text-align: center;
  top: 1.25em;
  width: 1.75em;
}
.this ul.labeled-icons li .icon:before {
  font-size: 16px;
}
.this ul.labeled-icons li .icon.fa-twitter {
  background-color: #4eafdc;
}
.this ul.labeled-icons li .icon.fa-facebook {
  background-color: #456bc9;
}
.this ul.labeled-icons li .icon.fa-linkedin {
  background-color: #0291d9;
}
.this ul.menu {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.menu li {
  border-left: solid 1px #dddddd;
  display: inline-block;
  line-height: 1em;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}
.this ul.menu li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this ul.actions.small li {
  padding: 0 0.5em 0 0;
}
.this ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}
.this ul.actions.vertical li:first-child {
  padding-top: 0;
}
.this ul.actions.vertical li > * {
  margin-bottom: 0;
}
.this ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}
.this ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
.this ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(101%);
}
.this ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}
.this ul.actions.fit li > * {
  margin-bottom: 0;
}
.this input[type="submit"],
.this input[type="reset"],
.this input[type="button"],
.this .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #e96c77;
  border: 0;
  border-radius: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  height: 3em;
  letter-spacing: 0.05em;
  line-height: 3em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-indent: -0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}
.this input[type="submit"]:hover,
.this input[type="reset"]:hover,
.this input[type="button"]:hover,
.this .button:hover {
  background-color: #EC828C;
  color: #ffffff !important;
}
.this input[type="submit"]:active,
.this input[type="reset"]:active,
.this input[type="button"]:active,
.this .button:active {
  background-color: #E65662;
}
.this input[type="submit"].icon,
.this input[type="reset"].icon,
.this input[type="button"].icon,
.this .button.icon {
  padding-left: 1.35em;
}
.this input[type="submit"].disabled,
.this input[type="submit"]:disabled,
.this input[type="reset"].disabled,
.this input[type="reset"]:disabled,
.this input[type="button"].disabled,
.this input[type="button"]:disabled,
.this .button.disabled,
.this .button:disabled {
  background-color: #808080 !important;
  box-shadow: none !important;
  color: #ffffff !important;
  cursor: default;
  opacity: 0.25;
}
.this form {
  margin: 0 0 2em 0;
}
.this label {
  color: #555555;
  display: block;
  font-size: 0.9em;
  font-weight: 900;
  margin: 0 0 1em 0;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select,
.this textarea {
  appearance: none;
  border: 0;
  border: solid 1px #dddddd;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
.this input[type="text"]:invalid,
.this input[type="password"]:invalid,
.this input[type="email"]:invalid,
.this select:invalid,
.this textarea:invalid {
  box-shadow: none;
}
.this input[type="text"]:focus,
.this input[type="password"]:focus,
.this input[type="email"]:focus,
.this select:focus,
.this textarea:focus {
  border-color: #e96c77;
  box-shadow: 0 0 0 1px #e96c77;
}
.this input[type="text"],
.this input[type="password"],
.this input[type="email"],
.this select {
  height: 2.75em;
}
.this textarea {
  padding: 0.75em 1em;
}
.this ::-webkit-input-placeholder {
  color: #aaa !important;
  opacity: 1.0;
}
.this :-moz-placeholder {
  color: #aaa !important;
  opacity: 1.0;
}
.this ::-moz-placeholder {
  color: #aaa !important;
  opacity: 1.0;
}
.this :-ms-input-placeholder {
  color: #aaa !important;
  opacity: 1.0;
}
.this .formerize-placeholder {
  color: #aaa !important;
  opacity: 1.0;
}
.this .wrapper {
  padding: 6em 0;
}
.this .wrapper.style1 {
  background: #f5f5f5;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
  .this header.major > :first-child:before,
  .this header.major > :first-child:after {
    background-size: 75px 20px;
    width: 75px;
  }
  .this .box {
    padding: 1.75em 1.5em;
  }
  .this .box.special {
    padding: 3em 2.25em;
  }
  .this .wrapper {
    padding: 5em 0;
  }
}
@media screen and (max-width: 980px) {
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
}
@media screen and (max-width: 840px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
  .this header.major {
    overflow-x: hidden;
  }
  .this header.major > :first-child {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    position: relative;
  }
  .this header.major > :first-child:before,
  .this header.major > :first-child:after {
    background-position: right center;
    background-size: 300% 20px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 200%;
  }
  .this header.major > :first-child:before {
    left: 100%;
  }
  .this header.major > :first-child:after {
    right: 100%;
  }
  .this header.major > :first-child + p {
    margin-top: 2em;
  }
  .this .box {
    padding: 3em;
  }
  .this .box.special {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 4em 3em;
    width: 35em;
  }
  .this .wrapper {
    padding: 4em 0;
  }
  .this #contact .actions {
    text-align: center;
  }
  .this #contact .labeled-icons {
    border-top: solid 1px #dddddd;
    margin: 2em 0 0 0;
    padding: 4em 0 0 0;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
  .this h2 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
  .this h3 {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .this h4 {
    font-size: 1em;
    line-height: 1.5em;
  }
  .this header.major {
    margin-bottom: 3em;
  }
  .this header.major > :first-child {
    padding: 0 0.5em;
  }
  .this header.major > :first-child:before,
  .this header.major > :first-child:after {
    background-size: 300% 10px;
  }
  .this header.major p {
    font-size: 1em;
  }
  .this .box {
    padding: 2em;
  }
  .this .box.special {
    padding: 2em;
    width: 28em;
  }
  .this .wrapper {
    padding: 3em 2em;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
  body {
    font-size: 11pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 11pt;
  }
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this .button {
    padding: 0;
  }
  .this .box {
    padding: 2em 1em;
  }
  .this .box.special {
    padding: 2em 1em;
    width: 100%;
  }
  .this .wrapper {
    padding: 3em 1em;
  }
  .this #contact {
    padding-top: 1em;
  }
}
