@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}
body {
  background: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65em;
  color: #444;
}
.this *,
.this *:after,
.this *:before {
  box-sizing: border-box;
}
.this a {
  -webkit-transition: border-bottom-color 0.2s ease-in-out;
          transition: border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  text-decoration: none;
}
.this a:hover {
  border-bottom-color: transparent;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1,
.this h2,
.this h3,
.this h4 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1.5em 0;
  padding-bottom: 1.25em;
  position: relative;
  text-transform: uppercase;
}
.this h1:after,
.this h2:after,
.this h3:after,
.this h4:after {
  border-bottom: solid 1px;
  bottom: 0;
  content: '';
  display: inline-block;
  left: 0;
  position: absolute;
  width: 3rem;
}
.this h3 a {
  border-bottom: 0;
  color: inherit;
  text-decoration: none;
}
.this h3.alt {
  margin: 0 0 1em 0;
  padding-bottom: 0;
}
.this h3.alt:after {
  display: none;
}
.this h3 {
  font-size: 1em;
  line-height: 1.5em;
}
.this a {
  color: #444;
}
.this h3 {
  color: #444;
}
.this hr {
  border-bottom-color: #e6e6e6;
}
.this button,
.this .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.this button,
.this .button {
  background-color: transparent;
  color: #444 !important;
  box-shadow: inset 0 0 0 1px #444;
}
.this button:hover,
.this .button:hover {
  background-color: #f6f6f6;
}
.this button:active,
.this .button:active {
  background-color: #e2e2e2;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
}
.this .image {
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image img {
  display: block;
}
.this .image.left,
.this .image.right {
  max-width: 40%;
}
.this .image.left img,
.this .image.right img {
  width: 100%;
}
.this .image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}
.this .image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}
.this .image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.this .image.fit img {
  width: 100%;
}
.this .image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.this .image.main img {
  width: 100%;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
}
.this .post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 2em;
}
.this .post .image {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}
.this .post .image img {
  width: 100%;
}
.this .post .content {
  padding: 2.5em 2.5em 0.5em 2.5em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 1280px) {
  .this .post .content {
    padding: 2em 2em 0.1em 2em;
  }
}
@media screen and (max-width: 736px) {
  .this .post {
    display: block;
  }
  .this .post .content {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
.this .post .content {
  background-color: transparent;
  border: solid 1px #e6e6e6;
}
.this .posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.this .posts .post {
  width: calc(33.33333333% - 1.25em);
}
@media screen and (max-width: 1280px) {
  .this .posts .post {
    width: calc(50% - 1em);
  }
}
@media screen and (max-width: 736px) {
  .this .posts {
    display: block;
  }
  .this .posts .post {
    width: 100%;
  }
}
.this .wrapper {
  padding: 4em 0 2em 0;
  position: relative;
}
.this .wrapper > .inner {
  margin: 0 auto;
  max-width: 90em;
  width: 90%;
}
.this .wrapper.style2 {
  background-color: #f6f6f6;
  color: #444;
  border-top: 0;
}
.this .wrapper.style2 a {
  color: #444;
}
.this .wrapper.style2 h3 {
  color: #444;
}
.this .wrapper.style2 blockquote {
  border-left-color: #e6e6e6;
}
.this .wrapper.style2 code {
  background: rgba(144, 144, 144, 0.075);
  border-color: #e6e6e6;
}
.this .wrapper.style2 hr {
  border-bottom-color: #e6e6e6;
}
.this .wrapper.style2 .box {
  border-color: #e6e6e6;
}
.this .wrapper.style2 button,
.this .wrapper.style2 .button {
  background-color: transparent;
  color: #444 !important;
  box-shadow: inset 0 0 0 1px #444;
}
.this .wrapper.style2 button:hover,
.this .wrapper.style2 .button:hover {
  background-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 button:active,
.this .wrapper.style2 .button:active {
  background-color: rgba(144, 144, 144, 0.2);
}
.this .wrapper.style2 button.special,
.this .wrapper.style2 .button.special {
  box-shadow: none;
  background-color: #444;
  color: #fff !important;
}
.this .wrapper.style2 button.special:hover,
.this .wrapper.style2 .button.special:hover {
  background-color: #515151;
}
.this .wrapper.style2 button.special:active,
.this .wrapper.style2 .button.special:active {
  background-color: #373737;
}
.this .wrapper.style2 .features > section:before {
  background-color: #e6e6e6;
}
.this .wrapper.style2 label {
  color: #444;
}
.this .wrapper.style2 input[type="text"],
.this .wrapper.style2 input[type="password"],
.this .wrapper.style2 input[type="email"],
.this .wrapper.style2 select,
.this .wrapper.style2 textarea {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-color: #e6e6e6;
}
.this .wrapper.style2 input[type="text"]:focus,
.this .wrapper.style2 input[type="password"]:focus,
.this .wrapper.style2 input[type="email"]:focus,
.this .wrapper.style2 select:focus,
.this .wrapper.style2 textarea:focus {
  border-color: #444;
}
.this .wrapper.style2 .select-wrapper:before {
  color: #bbb;
}
.this .wrapper.style2 input[type="checkbox"] + label,
.this .wrapper.style2 input[type="radio"] + label {
  color: #444;
}
.this .wrapper.style2 input[type="checkbox"] + label:before,
.this .wrapper.style2 input[type="radio"] + label:before {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  background: rgba(144, 144, 144, 0.075);
  border-color: #e6e6e6;
}
.this .wrapper.style2 input[type="checkbox"]:checked + label:before,
.this .wrapper.style2 input[type="radio"]:checked + label:before {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.this .wrapper.style2 input[type="checkbox"]:focus + label:before,
.this .wrapper.style2 input[type="radio"]:focus + label:before {
  border-color: #444;
}
.this .wrapper.style2::-webkit-input-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2:-moz-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2::-moz-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2:-ms-input-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2 .formerize-placeholder {
  color: #bbb !important;
}
.this .wrapper.style2 .icon-wrapper {
  background-color: rgba(144, 144, 144, 0.075);
  box-shadow: 0 -1px 0 0 rgba(144, 144, 144, 0.075), 0 1px 0 0 rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 .icon-wrapper:before {
  border-bottom-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 .icon-wrapper:after {
  border-top-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 ul.alt li {
  border-top-color: #e6e6e6;
}
.this .wrapper.style2 ul.menu li {
  border-left-color: #e6e6e6;
}
.this .wrapper.style2 .post .content {
  background-color: #fff;
  border: 0;
}
.this .wrapper.style2 table tbody tr {
  border-color: #e6e6e6;
}
.this .wrapper.style2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}
.this .wrapper.style2 table th {
  color: #444;
}
.this .wrapper.style2 table thead {
  border-bottom-color: #e6e6e6;
}
.this .wrapper.style2 table tfoot {
  border-top-color: #e6e6e6;
}
.this .wrapper.style2 table.alt tbody tr td {
  border-color: #e6e6e6;
}
.this .wrapper.style2 + .wrapper {
  border-top: 0;
}
.this .wrapper.style2.split > .inner > *:before {
  background-color: #e6e6e6;
}
@media screen and (max-width: 1280px) {
  .this .wrapper {
    padding: 3em 0 1em 0;
  }
  .this .wrapper > .inner {
    width: 100%;
    padding: 0 3em;
  }
}
@media screen and (max-width: 980px) {
  .this .wrapper > .inner > * {
    width: 100%;
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 736px) {
  .this .wrapper {
    padding: 2.5em 0 0.5em 0;
  }
  .this .wrapper > .inner {
    padding: 0 1.5em;
  }
}
