a {
  text-decoration: none;
}
.blog-header {
  margin-bottom: 90px;
}
.blog-posts {
  margin-bottom: 80px;
}
.blog-item {
  position: relative;
  overflow: hidden;
  padding: 20px;
  color: #6d747e;
  text-align: center;
  margin-bottom: 30px;
}
.blog-item a {
  color: #32353a;
}
.blog-item h3 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
.blog-item:hover .blog-bg {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
span.solid-line {
  width: 60px;
  height: 2px;
  background: #32353a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 20px;
  background: #eee;
}
.blog-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 8;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.blog-blue {
  background: url("blog-blue.jpg");
}
.blog-pink {
  background: url("blog-pink.jpg");
}
.blog-green {
  background: url("blog-green.jpg");
}
.post-1 {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.post-2 {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.post-3 {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}
.blog-content {
  position: relative;
  z-index: 9;
  background: #fff;
  padding: 60px 30px;
}
.blog-content p {
  line-height: 1.75em;
  margin-bottom: 35px;
}
.blog-header {
  margin-bottom: 90px;
}
.blog-header h2 {
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
  font-weight: 100;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.blog-header p {
  font-size: 17px;
  line-height: 1.75em;
  margin-bottom: 35px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.blog-button {
  background: #d5b14f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 20px;
  color: #fff !important;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
