.this {
  padding: 3em 0;
}
.this a {
  color: #353535;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  text-decoration: none;
}
.this a:hover,
.this a:focus {
  color: #3dc9b3;
  text-decoration: none;
}
.this p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}
.this h2 {
  font-size: 15px;
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
}
.this h2::after {
  content: " ";
  border: solid 2px #3dc9b3;
  display: block;
  width: 35px;
  margin: 25px auto;
}
.this .section-padding {
  padding: 90px 0 100px;
}
.this .team img {
  margin-bottom: 40px;
}
.this ul.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.this ul.social-buttons li {
  display: inline-block;
  margin-right: 10px;
}
.this ul.social-buttons li:last-child {
  margin-right: 0;
}
.this .social-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #242830;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
}
.this .social-btn:hover,
.this .social-btn:focus {
  background: #3dc9b3;
  color: #fff;
}
.this .social {
  margin-top: 25px;
}
.this .delay-05s {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.this .delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.this h1.arrow {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  background: url('../../assets/img/0017-h1-bg.png') no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .this .iem {
    margin-bottom: 2em;
  }
}
