.footer {
    padding: 6em 0 6em 0;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: url("../../assets/img/overlay2.png"), url("../../assets/img/overlay4.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    .inner {
        transition: transform 1.5s ease, opacity 2s ease;
        transition-delay: 0.25s;
        transform: scale(1);
        opacity: 1;
        position: relative;
        z-index: 1;
    }
    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
            display: inline-block;
            padding: 0 1.25em 0 0;
        }
    }
    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }
    .icon:before {
        font-size: 1.5em;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    .icon > .label {
        display: none;
    }
    a {
        color: #fff;
        &:hover {
            color: rgba(255, 255, 255, 0.5)
        }
    }
    .copyright {
        font-size: 0.8em;
        list-style: none;
        margin: 2em 0 0 0;
        padding: 0;
        li:first-child {
            display: inline-block;
            line-height: 1em;
            border-left: 0;
            margin-left: 0;
            padding: 0;
        }
    }
}
