.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}
.sec-title p {
  color: #fff;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    border-bottom: 1px solid #fff;
    content: " ";
    display: block;
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 120px;
    margin-left: -60px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #fff;
}

.facts {
    position: relative;
    background: url(../../libs/background/01.jpg) no-repeat center center / cover;
    padding: 5em 0;
}

.facts .ct-sm-3 {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all ease-in-out 0.3s;
}

.facts .ct-sm-3:hover i,
.facts .ct-sm-3:hover h3 {
    color: yellow;
    cursor: pointer;
    transform: translateX(10px);
    transition: all ease-in-out 0.3s;
}

.facts::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.facts i {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 3em;
    transition: all ease-in-out 0.3s;
}

.facts h3 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}
