<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <stl:include file="@/include/code-banner.html" />
    <div class="container">
        <div class="m2posBox">
            <ol class="breadcrumb">
                <li>当前位置：首页</li>
                <li>API接口</li>
                <li>
                    <stl:channel type="Title" upLevel="1"></stl:channel>
                </li>
                <li>
                    <stl:channel type="Title"></stl:channel>
                </li>
            </ol>
        </div>
        <div class="m2apiBox clearfix">
            <stl:include file="@/include/api-left.html" />
            <!-- code begin -->
            <div class="m2apiCon">
        <div class="m2apiMnm">接口说明</div>
        <div class="m2apiEditor autoMaxImg">
        <div class="m2api_t1" id="cd-placeholder-1"><stl:channel type="Title" upLevel="1"></stl:channel>接口说明</div>
          <div class="m2api_t2" id="cd-placeholder-1_1"><i class="fa fa-caret-right"></i> 接口地址</div>
          <div class="m2apiTab">
            <table width="100%" border="0">
              <tr class="m2api_th">
                <td>地址</td>
                <td>描述</td>
              </tr>
              <tr>
                <td>http://cf.51welink.com/Individuation/IndividuationService.asmx</td>
                <td>个性短信</td>
              </tr>
            </table>
          </div>
          <div class="m2apiLine"></div>
          <div class="m2api_t2" id="cd-placeholder-1_2"><i class="fa fa-caret-right"></i> 提交个性短信调用IndividuationSmsCommit方法</div>
            <div class="m2apiTab">
                <table width="100%" border="0">
                    <colgroup>
                        <col style="width:15%" />
                        <col style="width:40%" />
                        <col style="width:45%" />
                    </colgroup>
                    <tr class="m2api_th">
                        <td>类型</td>
                        <td>命名</td>
                        <td>描述</td>
                    </tr>
                    <tr>
                        <td>接口定义</td>
                        <td>IndividuationSmsCommit(string User,string Password,string CorpId,string ProductId,string Key,string SmsVariable,string SmsTemplate)</td>
                        <td>提交短信</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>User</td>
                        <td>提交账户</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>Password</td>
                        <td>提交账户的密码</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>Corpid</td>
                        <td>企业代码（扩展号，不确定请赋值空）</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>ProductId</td>
                        <td>产品编号</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>Key</td>
                        <td>用户自定义编号</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>SmsVariable </td>
                        <td>短信变量</td>
                    </tr>
                    <tr>
                        <td>参数</td>
                        <td>SmsTemplate </td>
                        <td>短信模板</td>
                    </tr>
                </table>
            </div>
            <div class="m2apiLine"></div>
            <div class="m2api_t2" id="cd-placeholder-1_3"><i class="fa fa-caret-right"></i> 【短信变量】参数说明</div>
            <div class="m2apiCoder">
                <pre>
结构说明：
&lt;ISMV&gt;  /*结构头标识*/
  &lt;VU&gt;
     &lt;VT&gt;&lt;V&gt;13810252940&lt;/V&gt;&lt;/VT&gt;  /*此出必须为手机号码，不能是其他内容*/
     &lt;VT&gt;&lt;V&gt;P1&lt;/V&gt;&lt;/VT&gt;     /*第一个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P2&lt;/V&gt;&lt;/VT&gt;     /*第二个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P3&lt;/V&gt;&lt;/VT&gt;     /*第三个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;PN&lt;/V&gt;&lt;/VT&gt;     /*第N个参数名称，会作为信息内容显示，N，参数数量，根据实际需求定义*/
 &lt;/VU&gt;
 &lt;VU&gt;
     &lt;VT&gt;&lt;V&gt;13810252940&lt;/V&gt;&lt;/VT&gt;  /*此出必须为手机号码，不能是其他内容*/
     &lt;VT&gt;&lt;V&gt;P1&lt;/V&gt;&lt;/VT&gt;     /*第一个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P2&lt;/V&gt;&lt;/VT&gt;     /*第二个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P3&lt;/V&gt;&lt;/VT&gt;     /*第三个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;PN&lt;/V&gt;&lt;/VT&gt;     /*第N个参数名称，会作为信息内容显示，N，参数数量，根据实际需求定义*/ 
 &lt;/VU&gt;
&lt;/ISMV&gt; /*结构尾标识*/

以上结构中：
 &lt;VU&gt;
     &lt;VT&gt;&lt;V&gt;13810252940&lt;/V&gt;&lt;/VT&gt;  /*此出必须为手机号码，不能是其他内容*/
     &lt;VT&gt;&lt;V&gt;P1&lt;/V&gt;&lt;/VT&gt;     /*第一个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P2&lt;/V&gt;&lt;/VT&gt;     /*第二个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;P3&lt;/V&gt;&lt;/VT&gt;     /*第三个参数名称，会作为信息内容显示*/
     &lt;VT&gt;&lt;V&gt;PN&lt;/V&gt;&lt;/VT&gt;     /*第N个参数名称，会作为信息内容显示，N，参数数量，根据实际需求定义*/ 
 &lt;/VU&gt;
作为一个号码单元，如果要发送至多个号码则需要多个这个的单元，上述的结构示例中表示信息要发送到2个手机号码上。
实际参数示例：
&lt;ISMV&gt;&lt;VU&gt;&lt;VT&gt;&lt;V&gt;13810252940&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;A1&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;B2&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;C3&lt;/V&gt;&lt;/VT&gt;&lt;/VU&gt;&lt;VU&gt;&lt;VT&gt;&lt;V&gt;13810252940&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;A1&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;B2&lt;/V&gt;&lt;/VT&gt;&lt;VT&gt;&lt;V&gt;C3&lt;/V&gt;&lt;/VT&gt;&lt;/VU&gt;&lt;/ISMV&gt;
                </pre>
            </div>
            <div class="m2apiLine"></div>
            <div class="m2api_t2" id="cd-placeholder-1_4"><i class="fa fa-caret-right"></i> 【短信模板】参数说明</div>
            <div class="m2apiCoder">
                <pre>
结构说明：
{##}P1的内容{##}P2的内容{##}P3的内容……{##}PN的内容
其中【{##}】的个数要和短信变量参数中的参数的个数和顺序对应。
【{##}】相当于各参数的占位符
实际参数示例
{##}提交{##}个性{##}信息
                </pre>
            </div>
            <div class="m2apiLine"></div>
            <div class="m2api_t2" id="cd-placeholder-1_5"><i class="fa fa-caret-right"></i> 返回值说明</div>
            <div class="m2api_t2">返回值CSubmitState结构说明</div>
            <div class="m2apiTab">
                <table width="100%" border="0">
                    <colgroup>
                        <col style="width:15%" />
                        <col style="width:40%" />
                        <col style="width:45%" />
                    </colgroup>
                    <tr class="m2api_th">
                        <td>命名</td>
                        <td>类型</td>
                        <td>描述</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>int</td>
                        <td>//提交结果值,返回值为0时，表示提交成功</td>
                    </tr>
                    <tr>
                        <td>MsgID</td>
                        <td>string</td>
                        <td>//短信批次号，其值为调用接口时传入的参数[key]的值。</td>
                    </tr>
                    <tr>
                        <td>MsgState</td>
                        <td>string</td>
                        <td>//审查是否通过标记</td>
                    </tr>
                    <tr>
                        <td>Reserve</td>
                        <td>int</td>
                        <td>//保留，扩展用</td>
                    </tr>
                </table>
            </div>
            <div class="m2apiLine"></div>
          <div class="m2api_t2" id="cd-placeholder-1_6"><i class="fa fa-caret-right"></i> 返回值枚举</div>
          <div class="m2apiTab">
            <table width="100%" border="0">
                <colgroup>
                    <col style="width:20%" />
                    <col style="width:80%" />
                </colgroup>
                <tr class="m2api_th">
                    <td>State</td>
                    <td>MsgState</td>
                </tr>
              <tr>
                <td>0</td>
                <td>提交成功</td>
              </tr>
              <tr>
                <td>-99</td>
                <td>异常</td>
              </tr>
              <tr>
                <td>1006</td>
                <td>变量文件格式不正确</td>
              </tr>
              <tr>
                <td>1007</td>
                <td>模版文件格式不正确  模板：{#变量名称#}</td>
              </tr>
                <tr>
                    <td>1008</td>
                    <td>提交队列失败</td>
                </tr>
                <tr>
                    <td>2000</td>
                    <td>提交参数不可为空</td>
                </tr>
            </table>
          </div>
            <p>变量文件模板注意事项：每个VU代表一行变量 ，VU里面可以包含多个VT，每个VT中的V就是一个模版要替换的变量值但是每个VU的第一个VT的V必须是手机号码</p>
          <div class="m2apiLine"></div>
        </div>
      </div>
      <div class="m2aipKmenu">
        <div class="m2apiKnm">快速导航</div>
        <dl>
          <dt><a class="m2herf_a1" href="#cd-placeholder-1">接口说明</a></dt>
          <dd>
            <ul>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_1">接口地址</a></li>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_2">提交个性短信</a></li>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_3">【短信变量】参数说明</a></li>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_4">【短信模板】参数说明</a></li>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_5">返回值说明</a></li>
              <li><a class="m2herf_a2" href="#cd-placeholder-1_6">返回值枚举</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
            <!-- code end -->
        </div>
    </div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/api-js.html" />
</body>

</html>

