<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <stl:include file="@/include/img-banner.html" />
    <div class="m2downTop autoMaxImg"><img src="{Stl.SiteUrl}/images/m2dw_img.jpg"></div>
    <div class="m2downBom">
        <div class="m2down_t1">PC客户端下载 </div>
        <div class="m2down_p1">提供windows安装版会员通，数据本地化操作，更快、更稳定</div>
        <p class="text-center"><a href="#" class="m2down_btn"><i class="fa fa-windows"></i> Windows PC 客户端</a></p>
    </div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
</body>

</html>
