<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <section class="m2ban" style="background-image:url({Channel.ImageUrl})">
        <div class="m2banTxt">
            <div class="m2ban_p3">丰富的应用场景，彩信期刊、彩信手机报、彩信杂志、彩信广告</div>
            <div class="m2ban_p4">满足企业各类营销推广需求</div>
        </div>
    </section>
    <section class="m2yyCon1 bg-grey">
        <div class="m2yyC1_t1">为什么要用彩信产品</div>
        <div class="container">
            <ul class="row m2ll_u1 m2ll_u1a clearfix">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/cx-3.png">
                        <strong>信息量大</strong>
                        <p>一条彩信可以容纳数万文字和多张图片</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/cx-4.png">
                        <strong>形式新颖</strong>
                        <p>彩信手机报是一种全新的信息传播方式</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/cx-1.png">
                        <strong>传递快捷</strong>
                        <p>第一时间将企业发送的信息传递给目标群体</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2ll_sbx" style="width: auto;">
                        <img src="{Stl.SiteUrl}/images/cx-2.png">
                        <strong>效果显著</strong>
                        <p>图文并茂、生动直观的向受众群体传递企业信息</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="m2cxCon1">
        <div class="m2yyC1_t1">产品优势</div>
        <div class="m2yyC1_p1">三网全国覆盖，秒速到达</div>
        <div class="container">
            <ul class="m2cx_u1 row clearfix">
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon1.jpg" width="118" height="118">
                    <strong>操作方便</strong>
                    <p>可视化的预览编辑模式，操作方便</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon2.jpg" width="118" height="118">
                    <strong>多种发送模式</strong>
                    <p>支持平台和接口等多种发送模式</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon3.jpg" width="118" height="118">
                    <strong>多帧数</strong>
                    <p>支持10帧以上数据发送</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon4.jpg" width="118" height="118">
                    <strong>多属性通道供选择</strong>
                    <p>丰富产品线满足各类彩信应用需求提供最稳定的网关通道</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon5.jpg" width="118" height="118">
                    <strong>大体量</strong>
                    <p>最大支持80K，可发送10张图片或者45000个文字</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-2">
                    <img src="{Stl.SiteUrl}/images/m2cx_icon6.jpg" width="118" height="118">
                    <strong>支持多格式文件</strong>
                    <p>JPG/GIF/BMP/PNG等图片格式及amr/mp3/mid/3gp等音频视频格式</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon2 m2cxCon2">
        <div class="container">
            <div class="m2yyC1_t1">使用场景</div>
            <div class="dsPcPad">
                <ul class="m2cx_u2 autoImg clearfix">
                    <li><img src="{Stl.SiteUrl}/images/m2cxImg3.jpg" width="259" height="394"></li>
                    <li><img src="{Stl.SiteUrl}/images/m2cxImg2.jpg" width="259" height="394"></li>
                    <li><img src="{Stl.SiteUrl}/images/m2cxImg1.jpg" width="259" height="394"></li>
                    <li><img src="{Stl.SiteUrl}/images/m2cxImg4.jpg" width="259" height="394"></li>
                    <li><img src="{Stl.SiteUrl}/images/m2cxImg5.jpg" width="259" height="394"></li>
                    <li class="m2cxImgBg"></li>
                </ul>
            </div>
            <div class="dsPhone m2yyC2slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{Stl.SiteUrl}/images/m2cxImg3.jpg" width="259" height="394"></div>
                        <div class="swiper-slide"><img src="{Stl.SiteUrl}/images/m2cxImg2.jpg" width="259" height="394"></div>
                        <div class="swiper-slide"><img src="{Stl.SiteUrl}/images/m2cxImg3.jpg" width="259" height="394"></div>
                        <div class="swiper-slide"><img src="{Stl.SiteUrl}/images/m2cxImg4.jpg" width="259" height="394"></div>
                        <div class="swiper-slide"><img src="{Stl.SiteUrl}/images/m2cxImg5.jpg" width="259" height="394"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="m2yyCon3">
        <div class="m2yyC1_t1">接入流程</div>
        <div class="m2lcBox m2lcBox2 autoMaxImg">
            <div class="dsPcPad"><img src="{Stl.SiteUrl}/images/m2lc_img2.jpg"></div>
            <div class="dsPhone"><img src="{Stl.SiteUrl}/images/m2lc_img2a.jpg"></div>
        </div>
    </section>
    <stl:include file="@/include/test-mms.html" />
    <stl:include file="@/include/other-case.html" />
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/sub-js.html" />
</body>

</html>
