<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <stl:include file="@/include/sub-banner.html" />
    <div class="container m2main">
        <!-- 通用点击标签切换 Start -->
        <div class="hoverTag m2change">
            <div class="chgBtnList">
                <stl:channels>
                <stl:itemTemplate type="SelectedItem" selected="1">
                        <stl:a href="javascript:;" class="chgBtn chgCutBtn">
                            <stl:channel type="Title"></stl:channel>
                        </stl:a>
                    </stl:itemTemplate>
                    <stl:itemTemplate type="Item">
                        <stl:a href="javascript:;" class="chgBtn">
                            <stl:channel type="Title"></stl:channel>
                        </stl:a>
                    </stl:itemTemplate>
                </stl:channels>
            </div>
            <div class="chgConList">
                <stl:channels>
                    <stl:itemTemplate type="Item">
                        <div class="chgCon dsNone">
                            <dl class="mchg_dl">
                                <dt class="dsNone">
                                    <stl:channel type="Title"></stl:channel>
                                </dt>
                                <dd>
                                    <ul class="m2khList clearfix">
                                        <stl:contents>
                                            <li class="col-xs-6 col-sm-4 col-md-2">
                                                <stl:content type="ImageUrl" /></li>
                                        </stl:contents>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </stl:itemTemplate>
                    <stl:itemTemplate type="SelectedItem" selected="1">
                        <div class="chgCon">
                            <dl class="mchg_dl mchg_cutdl">
                                <dt class="dsNone">
                                    <stl:channel type="Title"></stl:channel>
                                </dt>
                                <dd>
                                    <ul class="m2khList clearfix">
                                        <stl:contents>
                                            <li class="col-xs-6 col-sm-4 col-md-2">
                                                <stl:content type="ImageUrl" />
                                            </li>
                                            </stl:content>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </stl:itemTemplate>
                </stl:channels>
            </div>
        </div>
        <!-- 标签切换 End -->
    </div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
</body>

</html>
