<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <section class="m2ban" style="background-image:url({Channel.ImageUrl})">
        <div class="m2banTxt">
            <div class="m2ban_p3">将您的信息及时准确地传递给您的目标用户</div>
            <div class="m2ban_p4">最大化提升用户体验</div>
            <a class="m2ban_link1" href="#">立即免费测试</a>
        </div>
    </section>
    <section class="m2yyCon1">
        <div class="m2yyC1_t1">为什么要用营销短信</div>
        <div class="container">
            <ul class="m2yx_u1 clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_img1.jpg" width="380" height="193"></div>
                    <strong>行业覆盖</strong>
                    <p>适合有会员和潜在会员的各类行业，覆盖率达99.99%</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_img2.jpg" width="380" height="193"></div>
                    <strong>用户粘性</strong>
                    <p>实时互动，分析会员，挖掘后消费价值并汲取终身价值</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_img3.jpg" width="380" height="193"></div>
                    <strong>客户引流</strong>
                    <p>维系老客户，开发新客户，保持源源不断客户流量</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="m2llCon2">
        <div class="container">
            <div class="m2yyC1_t1">产品优势</div>
            <ul class="m2yx_u2 clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <img src="{Stl.SiteUrl}/images/m2yx_icon1.png" width="150" height="150">
                    <strong>平台优势 —人性化、可追踪</strong>
                    <p>支持个性化短信
                        <br> 可设置免审模板，提升效率
                        <br> 发送状态报告
                        <br> 1000万+的号码提交
                    </p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <img src="{Stl.SiteUrl}/images/m2yx_icon2.png" width="150" height="150">
                    <strong>通道优势—更快速、更高到达率</strong>
                    <p>多条三网合一优质通道
                        <br> 国内短信通道、支持长短信
                        <br> 支持上行互动、支持状态返回
                        <br> 95%到达率
                    </p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <img src="{Stl.SiteUrl}/images/m2yx_icon3.png" width="150" height="150">
                    <strong>服务优势—更安心、更贴心</strong>
                    <p>7*24全天候技术支持
                        <br> 完善的平台、通道预警机制
                        <br> 团队客服方案
                        <br> 分秒响应，极致服务
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <section class="m2yyCon3">
        <div class="container">
            <div class="m2yyC1_t1">使用场景</div>
            <ul class="m2lx_u2 clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_simg1.jpg" width="398" height="210"></div>
                    <strong>会员通知</strong>
                    <p>用于企业向订阅用户发送通知信息，如祝福信息、企业推荐信息、企业通知、取票通知、积分通知、物业通知等</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_simg2.jpg" width="398" height="210"></div>
                    <strong>会员营销</strong>
                    <p>用于企业向订阅用户发送营销性质的信息，如商品促销、商家活动、新品宣传、节日促销、生日礼品促销等</p>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2yx_simg3.jpg" width="398" height="210"></div>
                    <strong>互动</strong>
                    <p>为企业提供个性化的移动互动活动平台，方便企业与其用户进行实时、便捷的手机互动，如信息查询、问卷调查、投票、抽奖等</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="m2nFomeBoxBg">
        <div class="container">
            <div class="m2nFm_t1">多样灵活的信息发送方式</div>
            <ul class="m2nImgList clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <a href="#" class="m2nItmsAbox">
                        <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2nnImg1.jpg"></div>
                        <div class="m2nImgLayer">
                            <strong>客户端</strong>
                            <p>提供windows安装版会员通，数据本地化操作，更快、更稳定</p>
                            <span class="m2nImgBtns">立即下载</span>
                        </div>
                        <div class="m2nImgBtnMore">立即下载</div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <a href="#" class="m2nItmsAbox">
                        <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2nnImg2.jpg"></div>
                        <div class="m2nImgLayer">
                            <strong>Web会员通</strong>
                            <p>跨终端，只要有浏览器，即可发送短信，查询信息</p>
                            <span class="m2nImgBtns">立即登录</span>
                        </div>
                        <div class="m2nImgBtnMore">立即登录</div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <a href="#" class="m2nItmsAbox">
                        <div class="autoImg"><img src="{Stl.SiteUrl}/images/m2nnImg3.jpg"></div>
                        <div class="m2nImgLayer">
                            <strong>API接口</strong>
                            <p>提供完备状态查询，支持状态接口推送详尽的在线接口文档，随时查阅</p>
                            <span class="m2nImgBtns">立即查看</span>
                        </div>
                        <div class="m2nImgBtnMore">立即查看</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section class="m2yyCon3">
        <div class="m2yyC1_t1">接入流程</div>
        <div class="m2lcBox m2lcBox2 autoMaxImg">
            <div class="dsPcPad"><img src="{Stl.SiteUrl}/images/m2lc_img4.jpg"></div>
            <div class="dsPhone"><img src="{Stl.SiteUrl}/images/m2lc_img4a.jpg"></div>
        </div>
    </section>
    
    <stl:include file="@/include/test-sales-sms.html" />
    <stl:include file="@/include/other-case.html" />
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/sub-js.html" />
</body>

</html>
