<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <section class="m2ban" style="background-image:url({Channel.ImageUrl})">
        <div class="m2banTxt">
            <div class="m2ban_p3">提供专业、快速、低成本的短信发送平台和完善的短信接口</div>
            <div class="m2ban_p4">满足各类企业需求</div>
            <a class="m2ban_link1" href="#test-sms">立即免费测试</a>
        </div>
    </section>
    <section class="m2yyCon1">
        <div class="m2yyC1_t1">为什么要用验证码短信</div>
        <div class="container">
            <ul class="row m2ll_u1 m2ll_u1a clearfix">
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon1a.jpg">
                        <strong>提供有效沟通通道</strong>
                        <p>短信验证码可以再APP应用中实现用户注册绑定手机号、找回密码等用户使用体验过程的每一个环节中</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon2a.jpg">
                        <strong>提高转化率</strong>
                        <p>提升会员用户活跃度，刺激交易转化率，让营销推广手段不再匮乏。会员分享，签到积分，分享积分，阅读积分</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4">
                    <div class="m2ll_sbx">
                        <img src="{Stl.SiteUrl}/images/m2ll_icon3a.jpg">
                        <strong>多平台营销</strong>
                        <p>满足APP、游戏、电商、O2O等行业营销推广需求，参与活动即送手机流量充值</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="m2llCon2">
        <div class="container">
            <div class="m2yyC1_t1">产品优势</div>
            <ul class="m2lp_u1 clearfix">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon1.png" width="118" height="118">
                        <strong>5s内可达</strong>
                        <p>多条三网合一优质通道，保障信息的安全快速到达</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon2.png" width="118" height="118">
                        <strong>99.5%以上的到达率</strong>
                        <p>短信结合语音验证，服务100%专线机房，支持大容量、高并发电信级运维保障，实时监控自动切换</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon3.png" width="118" height="118">
                        <strong>100%的状态回执报告</strong>
                        <p>完善的数据统计,详尽的发送统计和历史查询,发送情况，一手掌握</p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_box1">
                        <img src="{Stl.SiteUrl}/images/m2lp_icon4.png" width="118" height="118">
                        <strong>1000+条优质通道</strong>
                        <p>优质的通道资源，保障用户短信发送的速度以及到达率</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <section class="m2yyCon3">
        <div class="container">
            <div class="m2yyC1_t1">接入简单 文档完善</div>
            <div class="m2lp_box2 clearfix">
                <div class="m2lp_imgBox"><img src="{Stl.SiteUrl}/images/m2lp_img.jpg" width="453" height="216"></div>
                <div class="m2lp_st1">支持多种短信接口 HTTP\HTTPS\CMPP</div>
                <div class="m2lp_st2">仅需少量开发，就快速接入您的日常业务</div>
                <div class="m2lp_dsc">
                    提供完备状态查询，支持状态接口推送
                    <br> 详尽的在线接口文档，随时查阅，不断更新
                    <br> 标准HTTP接口，提供多种语言示例（PHP/JAVA/C#/NODE/PYTHON等）
                    <br> 支持多种返回格式JSON/XML
                </div>
                 <stl:a channelName="短信接口" class="m2lp_btn">查看短信接口文档</stl:a>
            </div>
        </div>
    </section>
    <section class="m2yyCon2 m2cxCon2">
        <div class="container">
            <div class="m2yyC1_t1">使用场景</div>
            <ul class="m2lp_u2 autoImg">
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">用户注册</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg1.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">登录异常</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg2.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">支付确认</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg3.jpg" width="287" height="389">
                </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
                    <div class="m2lp_itmNm">信息变更</div>
                    <img src="{Stl.SiteUrl}/images/m2lp_simg4.jpg" width="287" height="389">
                </li>
            </ul>
        </div>
    </section>
    <section class="m2yyCon3">
        <div class="m2yyC1_t1">接入流程</div>
        <div class="m2lcBox m2lcBox2 autoMaxImg">
            <div class="dsPcPad"><img src="{Stl.SiteUrl}/images/m2lc_img3.jpg"></div>
            <div class="dsPhone"><img src="{Stl.SiteUrl}/images/m2lc_img3a.jpg"></div>
        </div>
         <stl:a channelName="短信接口" class="m2yyBtn">查看短信接口文档</stl:a>
        <div class="h80"></div>
    </section>
    <stl:include file="@/include/test-sms.html" /> 
    <stl:include file="@/include/other-case.html" />
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
    <stl:include file="@/include/sub-js.html" />
</body>

</html>
