.this {
    background-color: #242830;
    padding: 70px 0;
    a {
        color: #353535;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #3dc9b3;
        text-decoration: none;
    }
    p {
        color: #8c9398;
        word-spacing: 1px;
        line-height: 25px;
        font-size: 14px;
    }
    h2 {
        font-size: 15px;
        color: #353535;
        text-transform: uppercase;
        font-weight: bold;
    }
    h2::after {
        content: " ";
        border: solid 2px #3dc9b3;
        display: block;
        width: 35px;
        margin: 25px auto;
    }
    .ignite-btn {
        display: inline-block;
        padding: 25px 40px;
        color: #fff;
        border: solid 1px #fff;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .ignite-btn:hover,
    .ignite-btn:focus {
        color: #3dc9b3;
        border: solid 1px #3dc9b3;
    }
}
