<!DOCTYPE html>
<html lang="zh" class="no-js">

<head>
    <meta charset="UTF-8">
    <stl:include file="@/include/meta.html" />
    <stl:include file="@/include/css.html" />
</head>

<body>
    <stl:include file="@/include/header.html" />
    <div class="article-content">
        <div class="content">
            <header>
                <div class="article-title">{content.title}</div>
                <div class="article-meta">更新日期：{content.adddate} </div>
            </header>
            <div class="cont">
                {content.content}
            </div>
            <div class="about">
                <div class="container-fuild">
                    <h2>相关阅读</h2>
                    <hr class="hr">
                    <ul class="m2newsList">
                    <stl:contents isRelatedContents="true" totalNum="3" order="AddDate">
                        <li class="col-xs-12 col-sm-6 col-md-4">
                            <a href="#" class="m2new_aBox">
                                <div class="m2newImg" style="background-image:url({Content.ImageUrl})"></div>
                                <div class="m2newDes">
                                    <strong><stl:content type="Title" isClearTags="true" wordNum="20" ellipsis="..." /></strong>
                                    <p><stl:content type="Content" isClearTags="true" wordNum="45" ellipsis="..." /></p>
                                    <div class="m2newFun">
                                        <span class="fl cor_blue"><stl:channel type="Title" /></span><span class="fr cor_666"><stl:content type="AddDate" formatString="yyyy-MM-dd" /></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        </stl:contents>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <stl:include file="@/include/footer.html" />
    <stl:include file="@/include/js.html" />
</body>

</html>
